/* 
	********************************
	Parts Distributing Company (PDC) 
	********************************
	------
	Notes: 
	------
	1. Page created,	JBG,	12052017
*/

/* Default Elements */
body {
	margin: 5px;
    padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
}

#content {
	text-align: left;
	margin-left: 5px;
}

h2 {
	margin-left: 5px;
}

p {
	margin-left: 5px;
}

a {
    color: #0060A9;
	text-decoration: none;
}

a:active {
    color: #0060A9;
	text-decoration: none;
}

a:visited {
    color: #0060A9;
	text-decoration: none;
}

a:hover {
    color: #808080;
	text-decoration : underline;	
}

input,
select,
textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

/* Special */
.bold {
	font-weight: bold;
}

.text {
	font-size: 9pt;
}

.small {
	font-size: 8pt;
}

/* Tables */
.table {
	padding: 4px; 
	border-spacing: 8px; 
	border-collapse: collapse; 
	/*width: 100%;*/
}

.table tr {
	vertical-align: middle;
}

.table td {
	white-space: nowrap;
}

/* Buttons */
.btn1 {
	background: #E32526;
	background-image: -webkit-linear-gradient(top, #E32526, #E32526);
	background-image: -moz-linear-gradient(top, #E32526, #E32526);
	background-image: -o-linear-gradient(top, #E32526, #E32526);
	background-image: linear-gradient(to bottom, #E32526, #E32526);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	padding: 4px 10px 4px 10px;
	border: solid #9999CC 1px;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

.btn1:hover {
	color: #ddd;
	background: #0060A9;
	background-image: -webkit-linear-gradient(top, #808080, #808080);
	background-image: -moz-linear-gradient(top, #808080, #808080);
	background-image: -o-linear-gradient(top, #808080, #808080);
	background-image: linear-gradient(to bottom, #808080, #808080);
	text-decoration: none;
	cursor: pointer;
}