body {
	font-family: Mukta !important;
	font-size: 18px;
}

/** BREADCRUMBS **/
 .fp_breadcrumb {
	padding: 1px 1px;
	margin-bottom: 5px;
	margin-top: 5px;
	list-style: none;
	background-color: transparent;
	border-radius: 0px;
  }
  .fp_breadcrumb a {
	font-size: 16px !important;
	font-family: Mukta !important;
	font-weight: 700 !important;
	height: 30px;
  }

  .fp_breadcrumb li {
	display: inline-block;
  }
  .fp_breadcrumb li:before {
	padding: 0 5px;
	color: #ccc;
	content: "/\00a0";
  }
  .fp_breadcrumb .active {
	color: #777;
  }

.breadcrumb>li+li:before {
	padding: 0 1px 0 3px;
}

#breadcrumb_desktop_container .breadcrumb {
	padding: 45px 0 0;
	margin-top: 0;
}

  /********************/
  /***** BUTTONS *****/
  /*******************/
  .fp_btn-alt {
	color: #e02826;
	background: #fff;
	background-color: #fff;
	border-color: #e02826;
  }
  .fp_btn-alt:hover {
	background: #e02826;
	background-color: #e02826;
	border-color: #e3e5e7;
	border: 1px solid #e02826;
	-webkit-box-shadow: none;
	box-shadow: none;
	color: #fff;
  }
  .fp_btn {
	text-align: center;
	display: inline-block;
	width: auto;
	border-radius: 5px;
	color: #fff;
	background: #e02826;
	background-color: #e02826;
	border-color: #e3e5e7;
	border: 1px solid #e02826;
	-webkit-box-shadow: none;
	box-shadow: none;
  }
  .fp_btn:hover {
	color: #e02826;
	background-color: #fff;
	border-color: #e02826;
  }
  .fp_btn:active {
	color: #fff;
	background-color: #e02826;
	border-color: #e3e5e7;
  }
  .fp_btn.addMore {
	color: #fff;
	background-color: #e02826;
	border-color: #e3e5e7;
  }
  .fp_btn.addMore:active {
	color: #fff;
	background-color: #e02826;
	border-color: #e3e5e7;
  }
  .fp_btn.submit {
	padding: 5px 10px;
	margin-top: 10px;
  }
  .fp_btn.submit.disabled {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: 0.65;
  }
  .fp_btn.disabled {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: 0.65;
  }
  .panel-body {
	border: none !important;
  }
  .fp_btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
  }
  .fp_btn-default {
	color: #fff;
	background-color: #e02826;
	border-color: #e3e5e7;
  }
  .fp_btn-default:hover {
	color: #e02826;
	background-color: #fff;
	border-color: #e02826;
  }
  .fp_btn-default.deleteItem {
	color: #fff;
	background-color: #e02826;
	border-color: #e3e5e7;
	text-transform: capitalize;
  }
  .fp_btn-default.deleteItem:hover {
	color: #e02826;
	background-color: #fff;
	border-color: #e02826;
  }

  select.form-control {
	padding: 5px 12px;
  }
  /****************/
  /*** NAV ROW ***/
  /****************/
  .fp_nv_row_title {
	font-family: Mukta !important;
	font-weight: bold !important;
	font-size: 24px;
	width: 753px;
	margin: auto;
	color: #2d2926;
  }
  .fp_nv_row_contents {
	font-family: Mukta !important;
	font-weight: normal !important;
	font-size: 18px;
	line-height: 24px;
	padding: 0;
	color: #2d2926;
  }
  .fp_nv_row_contents ul {
	padding-left: 25px;
  }
  .fp_nv_row_contents li {
	padding-top: 15px;
	padding-left: 10px;
	line-height: 30px;
  }
.fp_nv_row_contents .box {
	padding-top: 12px;
	padding-bottom: 12px;
}        

.fp_nv_row_contents:nth-child(odd) .box {
	background: rgb(242, 242, 242);
}

  .fp_nv_row_underline {
	border-bottom: 1px solid red;
	padding-bottom: 2px;
  }
  
  /****************/
  /***** PANEL ****/
  /****************/
  .fp_panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: transparent;
	border-radius: 0px;
	-webkit-box-shadow: 0 0 0;
	box-shadow: 0 0 0;
  }
  .fp_panel-body {
	padding: 15px;
  }
  .fp_panel-heading-noncollapsible {
	background-color: white;
	border-color: white;
	cursor: pointer;
	padding-top: 40px;
	padding-bottom: 5px;
	margin-bottom: 35px;
	border-bottom: 8px solid red;
	outline: none !important;
	font-size: 32px;
	font-family: Mukta !important;
	font-weight: bold !important;
	color: rgb(35, 62, 148);
	text-transform: uppercase;
	line-height: 30px;
	width: auto;
	display: inline-block;
  }
  .fp_panel-heading-collapsible {
	background-color: white;
	border-color: white;
	cursor: pointer;
	padding: 18px;
	border: none !important;
	outline: none !important;
	text-decoration-color: red;
	font-family: Mukta;
	color: rgb(32, 40, 93);
	font-size: 32px;
	font-weight: bold !important;
  }
  .fp_collapsible {
	background-color: white;
	cursor: pointer;
	padding: 0px;
	margin-bottom: 20px;
	border: none !important;
	outline: none !important;
	text-decoration-color: red;
	color: #20285d;
	font-family: Mukta !important;
	font-size: 32px;
	font-weight: bold !important;
  }
  
  .fp_collapsible:hover {
	background-color: white;
  }
  .fp_collapsible:after {
	content: "\003E";
	transform: rotateZ(90deg);
	padding-right: 5px;
	color: #20285d;
	font-weight: bold !important;
	float: left;
	margin-right: 5px;
  }
  .fp_collapsible.active:after {
	content: "\003E";
	transform: rotateZ(360deg);
  }
  .fp_panel-default {
	border-color: transparent;
  }
  .fp_panel-default > .fp-panel-heading {
	background-color: white !important;
	border-color: transparent;
  }
  .fp_collapsible-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	line-height: 48px;
	font-style: mukta;
	font-weight: bold;
  }
  
  /*******************/
  /***** DOCUMENT ****/
  /*******************/
  .fp_document {
	width: 110px;
	border: thin silver solid;
	padding: 1em;
	text-align: center;
	font-size: smaller;
	text-indent: 0;
	background: rgb(242, 242, 242);
	word-break: break-word;
  }
  .fp_document .fp_icon {
	font-size: 5em;
	margin-bottom: 0.1em;
	width: 100%;
  }
  .fp_document p {
	margin-bottom: 0em;
  }
  
  .fp-pdp-plp-branch-loc {
	font-size: 14px;
  }
  /************************/
  /******* TABLE  *********/
  /************************/
  .fp_table {
	display: table;
	width: auto;
	background-color: #eee;
	border: 1px solid #666666;
	border-spacing: 5px; /* cellspacing:poor IE support for  this */
  }
  .fp_table-row {
	display: table-row;
	width: auto;
	clear: both;
	background-color: #ccc;
  }
  .fp_table-col {
	float: left; /* fix for  buggy browsers */
	display: table-column;
	width: 200px;
	background-color: #ccc;
  }
  /* .box:nth-child(odd) {
	background: rgb(242, 242, 242);
  }
  .box:nth-child(even) {
	background: white;
  } */
  /*******************************/
  /******* BANNER  ***************/
  /*******************************/
  .fp_header-banner {
	background-color: #233e94;
	background-image: none;
  }
  .fp_header-banner-sub {
	margin-left: 5px;
	background-image: none;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
  }
  .fp_header-banner-section-wrap {
	min-height: 36px;
  }
  .fp_header-banner-sub-text {
	font-family: "Mukta", sans-serif;
	color: white;
	font-weight: 800;
  }
  .fp_header-banner-sub-sub1 {
	float: right;
	margin-right: 40px;
  }
  /************************************/
  /*********  STORE  *****************/
  /**********************************/
  .fp_store-info-fp {
	text-transform: uppercase;
	text-align: left;
  }
  .fp_store-info-fp .my-store-heading {
	border: 0;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
  }
  .fp_store-info .address {
	display: block;
	white-space: nowrap;
  }
  .fp_store-info.city {
	display: block;
	white-space: nowrap;
  }
  .fp_verticalLine {
	border-left: thin solid #9c9c9c;
	padding: 0 2px;
  }
  .fp_pdp-plp-branch-loc {
	color: #ec2027;
	font-size: 12px;
  }
  .fp_uppercase {
	text-transform: uppercase;
  }
  .fp_col_search {
	padding-top: 30px;
  }
          
  .fp_right {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 10px;
	overflow: auto;
  }
  .thumbnail:active {
	border: 3px solid #01319f;
  }

  /***************************************/
  /***********  HEADER STYLES  ***********/
  /***************************************/
  .fp_header {
	background-color: #01319f;
	width: 1920px;
	height: 110px;
  }
  .fp_logo_wrap {
	width: 284px;
	height: 74px;
  }
  .fp_branchinfo {
	width: 177px;
	height: 76px;
	color: #ffffff;
	font-size: 18px;
	font-family: "Mukta-Medium";
	font-weight: 500;
	line-height: 24px;
  }
  .fp_branchinfo_Icon {
	width: 25px;
	height: 24px;
  }
  .fp_store_logo {
	background: url(/parts/resource/1502204081000/CC_FP_Theme/images/Logo-white+red.svg);
	display: block;
	width: 280px;
	height: 70px;
	z-index: 2;
	position: absolute;
	top: 0;
	background-size: contain;
	background-repeat: no-repeat;
  }

  .fp_cart {
	float: right;
	width: 200px;
	padding: 10px;
  }
  .fp_menu_bar {
	width: 1920px;
	height: 69px;
	background: #001e62;
	border-radius: 0px;
  }
  .fp_child {
	width: 149px;
	height: 30px;
	color: #ffffff;
	font-size: 18px;
	font-family: "Mukta-Medium";
	font-weight: 500;
  }
  .fp_menu_nav {
	color: #ffffff;
	font-size: 18px;
	font-family: "Mukta-Medium";
	font-weight: 500;
  }
  .fp_menu_navtext {
	width: 90px;
	height: 30px;
	color: #ffffff;
	font-size: 18px;
	font-family: "Mukta-Medium";
	font-weight: 500;
  }
  .fp_clearfix {
	overflow: auto;
  }
  .fp_center {
	padding: 20px 0;
  }
  .fp_right {
	text-align: right;
  }
  .fp_flexright {
	display: flex;
	justify-content: right;
	align-items: right;
	height: 100px;
  }
  /****** from header page *****/
  
  .fp-form-control:focus {
	border-color: none;
	outline: 0;
	box-shadow: none;
  }
  /*
  .fp-header-banner {
	padding-bottom: 20px;
	height: 110px;
	position: absolute;
	background-color: #01319f;
	top: 0;
	right: 0;
	left: 0;
  }
  .fp-header-banner-sub {
	  height: 110px;
	margin-left: 0px;
	padding: 0px;
	}
	.fp-header-banner-section-wrap {
		background-color: #01319f;
		min-height: 140px;
	}
	.fp-header-banner-sub-text {
		background-color: #01319f;
		font-family: "Mukta", sans-serif;
		color: white;
		font-weight: 800;
	}
	.fp-header-banner-sub-sub1 {
		float: right;
		margin-right: 40px;
	}
	*/
  .fp-pdp-plp-branch-loc {
	font-size: 16px;
  }
  .fp-uppercase {
	text-transform: uppercase;
  }
  .fp_col_search {
	padding-top: 15px;
	padding-bottom: 15px;
  }
  .fp_navbar-header {
	width: 100%;
  }
  .navbar-default {
	background: #001e62;
  }
  .navbar {
	position: relative;
	min-height: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: none;
  }

	/* header starts */
  	#FP-branch-location {
		margin-top: 15px;
		text-align: right;
	}

	#FP-branch-location.has_border {
		border-right: 1px solid #ffffff;
		padding-right: 23px;
		width: calc(100% - 90px);
	}

	#FP-branch-location .modal {
		text-align: left;
	}


	#fp_header {
		height: 110px;
		background: #01319f;
	}

  	#fp_header .fp_store_logo_img {
		background: url(/parts/resource/1502204081000/CC_FP_Theme/images/Logo-white+red.svg) no-repeat;
		background-size: contain;
		margin-top: 25px;
		margin-left: 8px;
		display: block;
		height: 75px;
		width: 240px;
		z-index: 2;
		top: 0;
  	}

	#fp_header .fp_store_info {
		display: inline-block;
		text-align: left;
	}

	#fp_header .fp_store_info .fp_lables {
		font-size: 16px;
		line-height: 30px;
		font-family: "Mukta-Medium";
		color: #ffffff;
		margin: 0;
		vertical-align: baseline;
		display: inline-block;
	}

	#fp_header .fp_delivery_icon {
		z-index: 2;
	}
	#fp_header .fp_branch_icon {
		vertical-align: baseline !important;
		line-height: 24px;
	}

	#fp_header .fp_col_search ul {
		list-style: none;
		max-width: 360px;
		margin: 0px auto;
		padding-left: 0px;
	}

	#fp_header .fp_header_icon {
		display: inline-block;
		width: 25px;
		margin-right: 10px;
	}

	#fp_header .fp_header_icon img {
		width: 100%;
	}

	#fp_header #searchbox {
		z-index:1000;
		min-height:100%;
		background:white;
		margin-top:13px;
	}

	#fp_header .CoveoSearchInterface {
		min-width: 240px;
	}
	
	#fp_header .fp_coveo_search_cta {
		display: inline-block;
		color: #ffffff;
		margin-right: 15px;
		vertical-align: middle;
	}

	#fp_header #FP-branch-location.has_border, #fp_header .fp_mycart {
		display: inline-block;
		vertical-align: top;
	}
	
	#fp_header .fp_branch_lable {
		position: relative;
		padding-right: 18px;
	}
	
	#fp_header .fp_branch_lable:after {
		display: block;
		content: '';
		position: absolute;
		right: -3px;
		top: 7px;
		width: 16px;
		height: 8px;
		background: url(/parts/resource/1502204081000/CC_FP_Theme/images/Icon-dd-white.svg) no-repeat;
	}

	#fp_header .fp_header_icon {
		float: left;
	}
	
	#fp_header .fp_store_info {
		vertical-align: middle;
	}
	
	#fp_header .fp_store_info .fp_lables {
		width: calc(100% - 35px);
		line-height: 24px;
	}
	
	#fp_header .fp_mycart {
		padding-left: 20px;
		width: 86px;
	}

	#fp_header .fp_mycart li {
		padding: 0px;
	}

	#fp_header .cartHeaderLink #lblCartCount {
        font-size: 14px;
    	background: #d92a27;
    	color: #fff;
		padding: 3px 6px 3px 6px;
    	vertical-align: top;
    	margin-left: -28px;
        margin-top: -2px;
        border: 1px solid #001e62;
        border-radius: 50%;
      }
	
  .fp_login {
	position: absolute;
	margin-top: 124px;
	z-index: 1030;
	cursor: pointer;
	right: 10px;
  }
  .fp_login img {
	cursor: default;
  }
  .fp_login ul {
	list-style-type: none;
	min-width: 300px;
	/*padding-right: 40px; */
	padding-left: 0;
  }
  .fp_login ul li {
	display: inline;
	margin-left: 8px;
  }
  .fp_login ul  li a {
	  color: white;
	font-size: 16px;
	  text-align: center;
	  padding: 4px 6px;
	  text-decoration: none;
  }
  .fp_login ul  li a:hover {
	  text-decoration: none;
  }
  .fp_login ul  li a:active {
	  color: #f4f4f4;
  }

  .fa-caret-down {
	color: #ffffff;
  }
  .fp-input-group {
	width: 100%;
	padding: 15px 18px 5px 10px;
	border: none;
	box-shadow: #ffffff;
  }
  .fp-input-group-btn {
	border: none;
  }
  .fp_list-inline {
	padding-left: 0;
	list-style: none;
	margin-left: -5px;
  }
  .fp_col_search {
	padding-top: 15px;
	padding-bottom: 15px;
  }
	/* header ends */

  
  .fp-form-control {
	width: 100%;
	height: 20px;
	font-size: 18px;
	font-family: mukta;
	font-weight: 300;
	background-color: #fff;
	background-image: none;
	border: none;
  }
  .fp-form-control :selected {
	text-decoration: none;
	border: none;
	box-shadow: #ffffff;
  }
  .icon-btn {
	margin-bottom: 0;
	border: none;
	padding: 0;
	margin-bottom: 0;
	vertical-align: baseline;
	cursor: pointer;
	background-image: none;
	border: transparent;
	padding: 2px;
	line-height: 1em;
	border-radius: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
  }
  .fp_spacer {
	width: 24px;
	float: left;
	margin-right: 10px;
	/* display: inline;  */
	z-index: 2;
  }
  .fp_searchCriteria {
	margin: auto;
	border: none;
	padding: 0px;
	background: #ffffff;
	list-style: none;
  }
  .fp_searchCriteria:hover,
  .fp_searchCriteria:selected,
  .fp_searchCriteria:focus {
	border: none;
	border-color: transparent;
  }
  .fp-btn-default {
	color: black;
	background-color: transparent;
	border-color: transparent;
	float: right;
	top: 0;
	margin: 0;
  }
  .fp-btn-default :hover {
	color: blue;
	border-color: transparent;
  }
  .fp-btn-default :selected {
	border: none;
  }
  .fp-btn-default :focus {
	border: none;
	box-shadow: none;
	outline: 0;
  }
  .fp_thumbnail {
	width: 120px;
	height: 120px;
	overflow: hidden;
	border: none !important;
	margin: 24px 16px 4px 0px;
  }
  .fp_thumbnail:hover {
	border: 1px solid #001e62;
  }
  /* fp_selectbox starts */
.fp_selectbox {
	position: relative;
}
.fp_selectbox select {
	font-size: 1em;
}

  .navbar-static-top {
	z-index: 800;
  }
  .fp_selectbox:after {
	background: #ffffff;
	font-family: FontAwesome;
	content: "\f078";
	font-size: 1.2em;
	line-height: 25px;
	position: absolute;
	right: 2px;
	top: 2px;
	padding: 0px 8px;
	pointer-events: none;
  }
  
  .fp_selectbox.disabled:after,
  .fp_selectbox.disabled select {
	opacity: 0.7;
	cursor: not-allowed;
  }
  
  .fp_selectbox select {
	font-family: "Mukta-Medium";
	width: 100%;
	height: 30px;
	border: 1px solid #363935;
	padding: 2px 10px 1px;
	font-size: 1em;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
  }
  
  .fp_selectbox select:focus {
	outline: none;
  }
  /* fp_selectbox ends */
  
  /* fp_disclaimer starts */
  .fp_disclaimer {
	padding-top: 30px;
	color: #363935;
  }
  
  .fp_disclaimer p {
	font-family: "Mukta-Medium";
  }
  /* fp_disclaimer ends */
  
/* fp_quantity_block starts here */
#add_to_cart.disable, .fp_quantity_block .fp_qty_field[disabled] {
	pointer-events: none;
	opacity: 0.65;
}

#add_to_cart.disable:hover, .fp_quantity_block .fp_qty_field[disabled]:hover {
	cursor: not-allowed;
}

.fp_quantity_block .fp_qty_field,
.fp_quantity_block .fp_decrease_btn input,
.fp_quantity_block .fp_increase_btn input {
	font-size: 18px;
	color: #2d2926;
	height: 35px;
	outline: none;
}

.fp_quantity_block .fp_qty_field:focus,
.fp_quantity_block .fp_decrease_btn input:focus,
.fp_quantity_block .fp_increase_btn input:focus {
	outline: none;
}

.fp_quantity_block .fp_decrease_btn input,
.fp_quantity_block .fp_increase_btn input {
	background: #ffffff;
	border: 2px solid #2d2926;
	border-radius: 0px;
}

.fp_quantity_block .fp_decrease_btn input {
	border-right: 0px;
}

.fp_quantity_block .fp_qty_field {
	background: #ffffff;
	max-width: 100px;
	border: 2px solid #2d2926;
	margin-bottom: 0px;
	border-radius: 0px;
}

.fp_increment_message {
	margin-bottom: 15px;
}

/* fp_quantity_block ends here */

  /* cc_modal starts */
  .cc_modal {
	z-index: 2050;
  }
  .cc_modal_content {
	border-radius: 0px;
	border: 3px solid #01319f;
  }
  .cc_modal_header,
  .cc_modal_body {
	padding: 20px;
  }
  .cc_modal_header {
	background: #01319f;
  }
  
  .cc_modal_body {
	min-height: 80px;
  }
  .cc_modal_title {
	font-family: mukta;
	color: #fff;
  }
  .cc_modal.centered_modal.in {
	display: flex !important;
  }
  
  .cc_modal.centered_modal .modal-dialog {
	margin: auto;
  }
  .cc_modal .cc_close {
	position: relative;
	width: 24px;
	height: 24px;
	opacity: 1;
	top: 4px;
	margin-top: 0;
  }
  .cc_modal .cc_close:before,
  .cc_modal .cc_close:after {
	background-color: #ffffff;
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
  }
  .cc_modal .cc_close:before {
	transform: rotate(45deg);
  }
  
  .cc_modal .cc_close:after {
	transform: rotate(-45deg);
  }
  /* cc_modal ends */
  
  /* fp_product_fitment_data_message starts */
  #fp_product_fitment_data_message {
	font-size: 14px;
	font-family: "Mukta-Medium";
	color: #1c6019;
  }
  
  #fp_product_fitment_data_message .fp_more_info_link {
	color: #20285d;
  }
  
  #fp_product_fitment_data_message .fp_more_info_link .fa {
	color: inherit;
  }
  /* fp_product_fitment_data_message ends */
  
  .cc_navbar-default .cc_navbar-nav > li > a:focus,
  .cc_navbar-default .cc_navbar-nav > li > a:hover {
	color: #20285d !important;
  }
  .cc_navbar-default .cc_navbar-nav .open a,
  .cc_navbar-default .cc_navbar-nav .open a:focus,
  .cc_navbar-default .cc_navbar-nav .open a:hover {
	color: #20285d;
  }
  .cc_dropdown:hover,
  .cc_dropdown:focus {
	color: #20285d;
	background-color: white;
  }
  .cc_dropdown-menu {
	background-color: #f2f2f2 !important;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-top: none;
	border-radius: 4px;
	-webkit-box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.175);
	box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.175);
  }
  .cc_dropdown-menu li a {
	color: #20285d;
  }
  .cc_dropdown-menu > li > a:focus,
  .cc_dropdown-menu > li > a:hover {
	color: #20285d;
	text-decoration: none;
	background-color: white;
  }
  .fp-control {
	width: 100%;
	/* 	margin-top: 15px;
				   margin-left: 48px; */
	height: 28px;
	position: absolute;
	text-align: center;
	z-index: 10;
	cursor: pointer;
  }
  .fp-control i {
	background-image: url(/parts/resource/1502204081000/CC_FP_Theme/images/Icon-arrow-down-medium-grey.svg);
	background-repeat: no-repeat;
	height: 100%;
	width: 71px;
	display: block;
	margin: 0 auto;
  }
  .fp-control i:hover {
	bottom: 5px;
  }
  .fp_product_detail_photo_container {
	height: 600px;
	overflow: hidden;
	width: 100%;
  }
  .thumbnailscroll {
	width: 100%;
	height: 600px;
	overflow: auto;
  }
  .thumbnailscroll::-webkit-scrollbar {
	display: none;
  }
  
  /* fp_site_footer starts */
  .fp_site_footer {
	font-size: 18px;
	background-color: #001e62;
	padding: 80px 0px 30px;
	color: #ffffff;
  }
  
  .fp_site_footer h4 {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 30px;
	position: relative;
  }
  
  .fp_site_footer h4 .text_lg {
	font-size: 30px;
	line-height: 34px;
  }

  .fp_site_footer .footer-seals img {
	margin-left: 30px;
	width: 120px;
  }
    
  .fp_site_footer .footer-seals img:first-child {
	margin-left: 0px;
  }
  
  /* fp_footer_menu starts */
  .fp_site_footer .fp_footer_menu {
	margin-bottom: 80px;
  }
  
  .fp_site_footer .fp_footer_menu h4:after {
	content: "";
	display: block;
	border-bottom: 4px solid #ec2027;
	padding-top: 20px;
  }
  
  .fp_site_footer .fp_footer_menu ul {
	padding-left: 0;
	list-style: none;
  }

  .fp_site_footer .fp_footer_menu li {
	margin-bottom: 7px;
  }
  
  .fp_site_footer .fp_footer_menu li a {
	color: inherit;
  }
  /* fp_footer_menu ends */
  
  #footer-logo {
	height: 118px;
	display: flex;
  } 

  #footer-logo img {
	width: 100%;
  }
  
  .fp_site_footer .subscription_form .subscription_title {
	font-family: "Mukta-Medium";
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 45px;
  }

  .fp_site_footer .subscription_form h5 {
	font-size: 18px;
	text-transform: uppercase;
	margin: 0 0 10px;
  }
  
  .fp_site_footer .subscription_form .subscription_label {
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 10px;
  }
  
  .fp_site_footer .subscription_form .form_fields_group {
	display: flex;
	justify-content: space-between;
  }
  
  .fp_site_footer .subscription_form .subscription_email_textbox {
	height: 60px;
	width: 100%;
	max-width: calc(100% - 35%);
	border: 1px solid #dddbda;
	padding: 8px 15px 4px;
	color: #363935;
	-webkit-appearance: none;
	-moz-appearance: none;
  }
  
  .fp_site_footer .subscription_form .subscription_email_textbox:focus {
	outline: none;
  }
  
  .fp_site_footer .subscription_form .subscription_submit_btn {
	width: 100%;
	max-width: 32%;
	background-color: #4b8dcb;
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
  }
  
  .fp_site_footer .subscription_form .subscription_submit_btn:focus {
	outline: none;
  }
  
  .fp_site_footer .copyright {
	font-size: 18px;
	padding: 55px 0 0;
	line-height: 24px;
	vertical-align: bottom;
  }
  /* fp_site_footer ends */
  
/***************************************/
/***********  PDP STYLES  ***********/
/***************************************/
.fp_breadcrumb a {
	font-family: Mukta !important;
	font-weight: Bold !important;
	font-size: 18px !important;
}

  /******************************/
  /** PRODUCT DETAIL CONTAINER **/
  /******************************/
.fp_product_title {
	font-size: 32px;
	font-family: Mukta !important;
	font-weight: 600;
	color: #2d2926;
}

.fp_prodDetailContainer .fp_product_title {
	margin-top: 0;
	margin-bottom: 15px;
}

  .fp_prodDetailContainer .qty_row {
	padding-right: 15px;
	margin-bottom: 10px;
  }
  
  .fp_prodDetailContainer .fp_addtocart {
	margin-bottom: 10px;
  }
  
  .fp_prodDetailContainer .fp_divider {
	margin-top: 10px;
	margin-bottom: 10px;
  }
  
  .fp_prodDetailContainer .fp_restriction {
	padding: 5px 42px;
	border-radius: 3px;
	background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/20608-200.png");
	background-position-y: 8px;
	background-repeat: no-repeat;
	background-size: 30px;
  }
  
  .fp_prodDetailContainer .fp_restriction-area {
	display: none;
  }
  
  .fp_prodDetailContainer .fp_restriction-area.show {
	display: block;
  }
  
  .fp_prodDetailContainer .fp_price_block {
	font-size: 22px;
	font-weight: bold;
  }
  .fp_prodDetailContainer_form-group {
	position: relative;
	vertical-align: middle;
	width: 100%;
  }
  
  .fp_prodDetailContainer _add_item {
	width: 100%;
  }
  .fp_prodDetailContainer {
	border-radius: 3px;
	width: 35px;
	background-color: #e02826;
	border-color: #fff;
	color: #fff;
  }
  .fp_prodDetailContainer_toggle:hover {
	background-color: #fff;
	border-color: #e02826;
	color: #e02826;
  }
  
  .fp_prodDetailContainer_form-control {
	height: 30px;
	width: 50px;
	padding: 0;
  }

  .fp-pdp-plp-branch-loc {
	color: #ec2027;
	font-size: 14px;
  }

.prodDetailContainer .cc_action {
	min-width: 180px;
	font-size: 14px;
	font-weight: 500;
	padding: 12px 24px 10px 24px;
}

.prodDetailContainer .fp_add_item_btn {
	background-color: rgb(1, 49, 159);
	color: #ffffff;
	min-width: 250px;
	border: 0px;
	border-radius: 0px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 700;
	padding: 14px 20px 12px;
	margin-left: 15px;
}

.prodDetailContainer .fp_add_item_btn:focus {
	outline: none;
}

.prodDetailContainer .fp_cart_action {
	padding: 0;
}

.prodDetailContainer .add_to_cart_container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.fp_brand, .fp_partnumber {
	display: inline-block;
	margin-bottom: 10px;
	border: none;  
	font-size: 18px;
}
.fp_brand {
	padding-right: 30px;
}
.fp_corecharge {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #363935;
}
.fp_prodDetailContainer .cc_price_block {
	font-family: Mukta !important;
	color: #363935;
	font-weight: bold;
	text-align: right;
	line-height: normal;
  }

  /* fp_inventory_availability starts */
  #fp_inventory_availability {
	margin-bottom: 20px;
  }
  
  #fp_inventory_availability h4 {
	font-weight: bold;
	color: #373a36;
  }
  
  .fp_inventory_availability_list {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .fp_inventory_availability_list .fp_availability_info_box {
	flex: 0 0 31%;
  }
  
  .fp_availability_info_box {
	border: 3px solid #001e62;
	color: #1c6019;
	padding: 20px 15px;
	position: relative;
	text-align: center;
	min-height: 170px;
	cursor: pointer;
  }
  
  .fp_availability_info_box .icon_image {
	margin-bottom: 10px;
  }
  
  .fp_availability_info_box .selected_icon {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	height: 0;
	border-right: 45px solid #233e94;
	border-bottom: 45px solid transparent;
	color: #ffffff;
  }
  
  .fp_availability_info_box .selected_icon:after {
	display: block;
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	position: absolute;
	left: 24px;
	top: 3px;
	font-size: 16px;
	font-weight: 900;
  }
  
  .fp_availability_info_box .delivery_status {
	min-height: 70px;
	font-size: 21px;
	color: #20285d;
	margin-bottom: 10px;
  }
  
  .fp_availability_info_box .delivery_status p,
  .fp_availability_info_box .store_availability_status p {
	font-family: "Mukta-Medium";
	margin: 0;
  }
  
  .fp_availability_info_box .dc_availability_status {
	font-size: 20px;
  }
  
  .fp_availability_info_box .store_availability_status {
	min-height: 60px;
	font-size: 20px;
	margin: 0;
  }
  
  .fp_availability_info_box.selected {
	border-color: #233e94;
  }
  
  .fp_availability_info_box.selected .selected_icon {
	display: block;
  }
  
  .fp_availability_info_box.selected .delivery_status {
	color: #2d2926;
  }
  
  .fp_availability_info_box .icon_image .not_available_icon {
	display: none;
  }
  
  .fp_availability_info_box.not_available .icon_image .not_available_icon {
	display: inline-block;
  }
  
  .fp_availability_info_box.not_available .icon_image .available_icon {
	display: none;
  }
  
  .fp_availability_info_box.not_available {
	border-color: rgba(136, 139, 141, 0.5);
	cursor: not-allowed;
  }
  
  .fp_availability_info_box.not_available,
  .fp_availability_info_box.not_available .delivery_status {
	color: #888b8d;
  }  
  /* fp_inventory_availability ends */

#FP-Product-Fitment-Data .fp_selectbox {
	margin-bottom: 20px;
}

#FP-Product-Fitment-Data .fp_disclaimer {
	padding-top: 10px;
}

.prodDetailContainer .widget_column {
	margin-bottom: 30px;
}

.prodDetailContainer .fp_document_container {
	margin: 0 15px 30px;
}

/***************************************/
/***********  PDP STYLES ENDS  ***********/
/***************************************/

  /* flex css starts */
  .fp_d_block {
	display: block;
	width: 100%;
  }
  
  .fp_d_flex {
	display: flex;
  }
  
  .fp_d_flex .fp_col_6 {
	flex: 0 0 50%;
	width: 50%;
  }
  
  .fp_align_items_end {
	align-items: flex-end;
  }
  
  .fp_align_items_center {
	align-items: center;
  }
  
  .fp_justify_between {
	justify-content: space-between;
  }
  
  .fp_justify_end {
	justify-content: flex-end;
  }
  /* flex css ends */
  
  /* fp_radio_btn starts here */
  .fp_radio_btn {
	position: relative;
	display: block;
	margin-bottom: 10px;
  }
  
  .fp_radio_btn label {
	cursor: pointer;
	padding-left: 40px;
	margin-bottom: 0;
	line-height: 26px;
  }
  
  .fp_radio_btn label .icon_image {
	width: 24px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
  }
  
  .fp_radio_btn label .fp_note {
	display: block;
	color: #363935;
	font-weight: 400;
	line-height: 22px;
  }
  
  .fp_radio_btn input[type="radio"]:disabled + label {
	color: #888b8d;
	cursor: not-allowed;
  }
  
  .fp_radio_btn label .disabled_icon {
	display: none;
  }
  
  .fp_radio_btn input[type="radio"]:disabled + label .disabled_icon {
	display: inline-block;
	vertical-align: top;
  }
  
  .fp_radio_btn input[type="radio"]:disabled + label .enable_icon {
	display: none;
  }
  
  .fp_radio_btn input[type="radio"]:disabled + label:before {
	opacity: 0.4;
  }
  .fp_radio_btn input[type="radio"] {
	position: absolute;
	visibility: hidden;
	display: inline-block;
	vertical-align: top;
	width: 24px;
  }
  
  .fp_radio_btn input[type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
  }
  
  .fp_radio_btn input[type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  
  .fp_radio_btn label:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0;
	width: 24px;
	height: 24px;
	border: 1px solid #363935;
	border-radius: 50%;
	background: #fff;
  }
  
  .fp_radio_btn label:after {
	content: "";
	width: 18px;
	height: 18px;
	background: #363935;
	position: absolute;
	top: 3px;
	left: 3px;
	border-radius: 50%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
  }
  /* fp_radio_btn starts here */
  
  /* spinner css starts here */
  #spinner {
	background: #e9e9e9;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.7;
	z-index: 10000;
  }
  #spinner #loading-img {
	/*background: url("{!$Resource.LoadingHourglass}") center center no-repeat;*/
	background-size: 100px 100px;
	height: 100%;
	z-index: 20;
  }
  
  /* new spinner */
  #loader_container {
	background: #e9e9e9;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.7;
	z-index: 10000;
  }
  
  #loader_container {
	align-items: center;
	justify-content: center;
  }
  
  #loader_container .loader {
	display: block;
	border: 10px solid #c3c3c3;
	border-radius: 50%;
	border-top: 10px solid #01319f;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite;
	/* Safari */
	animation: spin 2s linear infinite;
  }
  /* Safari */
  @-webkit-keyframes spin {
	0% {
	  -webkit-transform: rotate(0deg);
	}
  
	100% {
	  -webkit-transform: rotate(360deg);
	}
  }
  
  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }
  /* spinner css starts here */
  
  /* fp_searchbox css starts */
  .fp_searchbox {
	position: relative;
  }
  
  .fp_searchbox input[type=text], .fp_searchbox input[type=number] {
	height: 40px;
	width: 100%;
	outline: none;
	border: 1px solid #363935;
	border-radius: 0px;
	margin-bottom: 0;
  }
  
  .fp_searchbox input[type=number]::-webkit-inner-spin-button, .fp_searchbox input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
	-moz-appearance: none;
   	appearance: none;
    margin: 0; 
  }

  .fp_searchbox .fp_submit_btn {
	position: absolute;
	right: 1px;
	top: 1px;
	border: 0px;
	outline: none;
	background: #363935;
	color: #ffffff;
	width: 38px;
	height: 38px;
  }
  
  .fp_searchbox.disabled {
	opacity: 0.5;
  }
  
  .fp_searchbox.disabled input,
  .fp_searchbox.disabled .fp_submit_btn {
	cursor: not-allowed;
  }
  
  /* fp_searchbox css ends */
  
  /* fp buttons css starts */
  .btn-transparent {
	background: none;
	padding: 0px;
	border: 0px;
	font-weight: 700;
	color: #20285d;
  }
  
  .btn-transparent:focus,
  .btn-transparent:active:focus {
	outline: none;
  }
  
  .fp_btn_default {
	background: #d0021b;
	color: #ffffff;
	border: 0px;
	border-radius: 0px;
	padding: 14px 55px 12px;
	text-transform: uppercase;
	font-weight: 800;
  }
  
  .fp_btn_primary,
  .fp_btn_outline_primary {
	font-size: 14px;
	font-weight: 700;
	display: block;
	border-radius: 0px;
	text-transform: uppercase;
  }
  
  .fp_btn_primary {
	padding: 11px 15px 8px;
	background: #01319f;
	color: #f2f2f2;
	border: 0;
  }
  
  .fp_btn_primary:hover,
  .fp_btn_primary:focus,
  .fp_btn_primary:active:focus {
	color: #f2f2f2;
	outline: none;
  }
  
  .fp_btn_primary.disable_btn {
	background: #88898d;
	pointer-events: none;
  }
  
  .fp_btn_outline_primary {
	padding: 8px 15px;
	color: #2d2926;
	background-color: transparent;
	background-image: none;
	border: 3px solid #01319f;
  }
  
  .fp_btn_outline_primary:hover,
  .fp_btn_outline_primary:focus,
  .fp_btn_outline_primary:active:focus {
	color: #2d2926;
	outline: none;
  }
  
  /* fp buttons css ends */
  
  /* box1 css starts */
  .box1 {
	background: #f2f2f2;
	font-size: 18px;
	padding: 24px 40px 24px;
	margin-bottom: 25px;
  }
  
  .box1 h3 {
	font-weight: 700;
	margin-top: 0px;
  }
  /* box1 css ends */
  
  /* fp_page_title css starts */
  .fp_page_title {
	font-size: 32px;
	font-weight: 700;
	color: #233e94;
	display: inline-block;
	border-bottom: 8px solid #ec2027;
	padding-bottom: 5px;
	margin-bottom: 40px;
	text-transform: uppercase;
  }

  .acctmainSection .fp_page_title {
	margin-top: 0;
  }

  /* fp_page_title css ends */
  
  /* fp_alert_box starts here */
	.fp_alert_box {
		padding: 13px 15px 11px;
		font-size: 18px;
	}

	.fp_alert_box.alert-info {
		background: rgba(244, 190, 24, 0.4);
		color: #363935;
	}

	.fp_alert_box.alert-warning {
		background: #d0021b;
		color: #ffffff;
	}

	.fp_alert_box.poErrorMessage {
		border: 0px;
		border-radius: 0px;
		margin: 0px 0px 25px;
	}
  /* fp_alert_box starts here */
  
  /* fp_modal starts here */
  .modal .modal-content {
	border-radius: 0px;
  }

  .fp_modal .modal-header .modal-title {
	text-transform: uppercase;
	font-weight: 700;
  }
  
  .fp_modal .modal-header .fp_close {
	position: relative;
	width: 24px;
	height: 24px;
	margin-top: 0px;
	outline: none;
	opacity: 1;
  }
  
  .fp_modal .modal-header .close {
	margin-top: 7px;
  }
  
  .fp_modal .fp_close:before,
  .fp_modal .fp_close:after {
	position: absolute;
	left: 11px;
	top: -2px;
	content: " ";
	height: 24px;
	width: 2px;
	background-color: #ffffff;
  }
  
  .fp_modal.fp_info_modal .fp_close:before,
  .fp_modal.fp_info_modal .fp_close:after {
	background-color: #363935;
  }
  
  .fp_modal .fp_close:before {
	transform: rotate(45deg);
  }
  
  .fp_modal .fp_close:after {
	transform: rotate(-45deg);
  }
  
  @media (min-width: 1200px) {
	.modal-xl {
	  width: 1085px;
	}
  }
  /* fp_modal ends here */
  
  /* updateBranchWarningModal starts here */
  #BranchSelectorModal .fp_warning_modal .modal-body {
	padding: 20px 20px 10px;
  }
  /* updateBranchWarningModal ends here */
  
  /* fp_warning_modal css starts */
  .modal-dialog .fp_warning_modal .modal-dialog {
	max-width: 460px;
  }
  
  .modal-dialog .fp_warning_modal.in .modal-dialog {
	transform: translate(0, -50%);
	top: 50%;
  }
  
  .fp_warning_modal,
  .fp_warning_modal .modal-header .modal-title,
  .fp_warning_modal .modal-footer .btn {
	font-size: 24px;
  }
  
  .fp_warning_modal .modal-header {
	background: #d0021b;
	padding: 25px;
  }
  
  .fp_warning_modal .modal-header .modal-title {
	color: #ffffff;
  }
  
  .fp_warning_modal .modal-content {
	border: 3px solid #d0021b;
	border-radius: 0px;
	box-shadow: none;
	background-clip: border-box;
  }
  
  .fp_warning_modal .modal-body {
	padding: 40px 40px 10px;
  }
  
  .fp_warning_modal .modal-footer {
	padding: 40px;
	border-top: 0px;
  }
  
  .fp_warning_modal .modal-footer .btn-default {
	min-width: 120px;
	font-weight: 700;
	text-transform: uppercase;
	outline: none;
  }
  
  .fp_warning_modal .modal-footer .btn + .btn {
	margin-left: 50px;
  }
  
  .fp_warning_modal #jprcprMessages {
	margin-bottom: 65px;
  }
  
  .fp_warning_modal .fp_message_list ul {
	list-style: none;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-top: 35px;
  }
  
  .fp_warning_modal .fp_message_list li:first-child {
	border-top: 0px;
	padding-top: 0px;
  }
  
  .fp_warning_modal .fp_message_list li {
	border-top: 1px solid #979797;
	padding-top: 23px;
	margin-bottom: 25px;
	font-weight: 700;
  }
  
  .fp_warning_modal .fp_message_list .productQuantity {
	display: block;
	font-weight: 400;
	font-size: 18px;
	text-align: right;
  }
  
  @media (max-width: 1679px) {
	.fp_warning_modal,
	.fp_warning_modal .modal-header .modal-title,
	.fp_warning_modal .modal-footer .btn {
	  font-size: 18px;
	}
  }
  /* fp_warning_modal css starts */
  
  /* fp_info_modal css starts */
  .fp_warning_modal.fp_info_modal .modal-content {
	border: 3px solid #f4be18;
	color: #363935;
  }
  
  .fp_warning_modal.fp_info_modal .modal-header {
	background: #f4be18;
  }
  
  .fp_warning_modal.fp_info_modal .modal-header .modal-title {
	color: #363935;
  }
  
  .fp_warning_modal.fp_info_modal .fp_btn_default {
	background: #f4be18;
	color: #363935;
  }
  /* fp_info_modal css ends */
  
  /* BranchSelectorModal starts here */
  #BranchSelectorModal .modal-dialog {
	max-height: calc(100vh - 60px);
	overflow: hidden;
  }
  
  #BranchSelectorModal .modal-body {
	padding: 0;
  }
  
  #fp_branch_selector {
	font-size: 18px;
	color: #363935;
  }
  
  #fp_branch_selector h2 {
	font-size: 28px;
	font-weight: 700;
	margin-top: 0;
  }
  
  #fp_branch_selector h3 {
	font-size: 24px;
  }
  
  #fp_branch_selector h4 {
	font-size: 21px;
	font-weight: 700;
	margin-top: 0;
  }
  
  #fp_branch_selector .modal_link {
	color: #001e62;
	font-weight: 600;
  }
  
  #fp_branch_selector .opening_hours {
	color: #1c6019;
	margin-bottom: 20px;
  }
  
  #fp_branch_selector .opening_hours.is_closed {
	color: #d0021b;
  }
  
  #fp_branch_selector .fp_selected_branch_details {
	background: #f2f2f2;
	padding: 30px 25px;
  }
  
  #fp_branch_selector .fp_selected_branch_details h2 {
	margin-bottom: 25px;
  }
  
  #fp_branch_selector .fp_selected_branch_details h4,
  #fp_branch_selector .fp_selected_branch_details p {
	margin-bottom: 0px;
  }
  
  #fp_branch_selector .fp_nearest_branches {
	padding: 40px 25px 0px;
	max-height: calc(100vh - 370px);
	overflow: auto;
  }
  
  #fp_branch_selector .fp_nearest_branches {
	scrollbar-width: thin;
	scrollbar-color: #c1c1c1 #fafafa;
  }
  #fp_branch_selector .fp_nearest_branches::-webkit-scrollbar {
	width: 12px;
  }
  
  #fp_branch_selector .fp_nearest_branches::-webkit-scrollbar-track {
	background: #fafafa;
  }
  
  #fp_branch_selector .fp_nearest_branches::-webkit-scrollbar-thumb {
	background-color: #c1c1c1;
	border-radius: 5px;
	border: 2px solid #fafafa;
  }
  
  #fp_branch_selector .fp_nearest_branches h2 {
	margin-bottom: 35px;
  }
  
  #fp_branch_selector .fp_nearest_branches .fp_find_branch {
	margin-bottom: 25px;
  }
  
  .fp_nearest_branches .fp_find_branch .fp_branch_searchbox {
	min-width: 360px;
  }
  
  #fp_branch_selector .fp_nearest_branches .fp_find_branch .modal_link {
	margin-left: 25px;
  }
  
  #fp_branch_selector .fp_nearest_branches .fp_show_open_stores_checkbox {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
  }
  
  #fp_branch_selector .fp_nearest_branches .fp_show_open_stores_checkbox input[type="checkbox"] {
	border: 1px solid #373a36;
	width: 24px;
	height: 24px;
	margin-top: 0;
  }
  
  #fp_branch_selector .fp_nearest_branches .fp_show_open_stores_checkbox label {
	font-family: "Mukta-Medium";
	font-weight: 500;
	line-height: 22px;
	margin-left: 10px;
	margin-bottom: 0;
  }
  
  #fp_branch_selector .fp_branch_list .fp_branch_list_item {
	border-bottom: 1px solid #979797;
	padding-bottom: 35px;
	margin-bottom: 30px;
  }
  
  #fp_branch_selector .fp_branch_list .fp_branch_list_item .select_branch_btn {
	min-width: 240px;
	border: 3px solid #01319f;
	outline: none;
	background: #ffffff;
	font-size: 24px;
	font-weight: 700;
	color: #001e62;
	text-align: center;
  }
  
  #fp_branch_selector .fp_branch_list_item h3 {
	margin-top: 0;
	margin-bottom: 5px;
  }
  
  #fp_branch_selector .fp_branch_list_item h3,
  #fp_branch_selector .fp_branch_list_item .distance {
	font-weight: 800;
  }
  
  #fp_branch_selector .fp_branch_list_item p,
  #fp_branch_selector .fp_branch_list_item .distance {
	margin-bottom: 0px;
  }
  
  #fp_branch_selector .fp_branch_list_item .opening_hours {
	margin-bottom: 20px;
  }
  /* BranchSelectorModal ends here */
  
  /* fp_shopping_cart starts here */
  .fp_shopping_cart .fp_title {
	font-size: 32px;
	font-weight: 700;
	display: inline-block;
	border-bottom: 8px solid #ec2027;
	padding-bottom: 5px;
	margin-bottom: 24px;
	margin-top: 24px;
	color: #233e94;
	text-transform: uppercase;
  }
  
  .fp_shopping_cart .fp_cart_item {
	padding-bottom: 40px;
	border-color: #979797;
  }
  
  .fp_shopping_cart .fp_cart_item:first-child {
	border-top: 0px;
	padding-top: 0px;
  }
  
  .fp_shopping_cart .fp_cart_item:last-child {
	border-bottom: 0px;
  }
  
  .fp_shopping_cart .fp_cart_item .fp_item_title {
	font-weight: 800;
	color: #001e62;
  }
  
  .fp_cart_item {
	font-size: 18px;
	color: #363935;
	border-top: 1px solid #88898d;
	padding-top: 25px;
	padding-bottom: 25px;
  }
  
  .fp_cart_item:last-child {
	border-bottom: 1px solid #88898d;
  }
  
  .fp_cart_item p {
	margin: 0px;
  }
  
  .fp_cart_item .fp_item_title {
	font-size: 24px;
	color: #363935;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 0px;
  }
  
  .fp_cart_item .fp_item_title a {
	color: inherit;
  }
  
  .fp_cart_item .fp_part_number {
	color: #373a36;
	padding-top: 10px;
  }
  
  .fp_cart_item .fp_item_price {
	margin-bottom: 35px;
  }
  
  .fp_cart_item .fp_item_price .fp_item_base_price {
	font-size: 32px;
	font-weight: 700;
  }
  
  .fp_cart_item .fp_item_price .fp_core_charge_price {
	font-size: 16px;
  }
  
  .fp_cart_item .fp_item_total_price {
	font-size: 28px;
	font-weight: 700;
  }
  
  .fp_cart_item .fp_shipping_options label {
	font-family: "Mukta";
	font-weight: 300;
	color: #1c6019;
  }
  
  .fp_cart_item .fp_removeItemButton {
	font-family: "Mukta-Medium";
	font-size: 16px;
	color: #01319f;
	background: none;
	border: 0px;
	outline: none;
  }
  
  .fp_cart_item .fp_quantity_box {
	margin-bottom: 15px;
  }
  
  .fp_cart_item .fp_qty_field {
	border: 3px solid #01319f;
	min-width: 160px;
	display: inline-block;
	padding: 7px 10px 4px;
	outline: none;
	border-radius: 0px;
	font-size: 24px;
	max-width: 160px;
	line-height: 27px;
	margin-bottom: 0;
	width: 100%;
	height: auto;
	-webkit-appearance: none;
	-moz-appearance: textfield;
  }
  
  .fp_cart_item .fp_qty_message {
	font-size: 16px;
	padding-top: 15px;
  }
  /* fp_shopping_cart ends here */
  
  /* order_summary_box css starts */
	.fp_warning_message {
		padding-left: 32px;
	}
	
	.fp_warning_message .icon {
		margin-left: -32px;
		width: 32px;
		font-size: 20px;
		position: relative;
		display: inline-block;
		top: 2px;
	}
	
	.order_summary_box {
		padding: 25px 30px;
		background: #f2f2f2;
		color: #2d2926;
		font-size: 20px;
		margin-top: 100px;
		margin-bottom: 30px;
	}
	
	.order_summary_box .fp_title {
		font-size: 28px;
		font-weight: bold;
		text-transform: uppercase;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	
	.order_summary_box .fp_searchbox {
		margin-bottom: 15px;
	}
	
	.order_summary_box .fp_summary_list {
		font-family: "Mukta-Medium";
		border-bottom: 1px solid #979797;
		padding-bottom: 5px;
		margin-bottom: 25px;
	}
	
	.order_summary_box .fp_summary_list .fp_summary_list_item {
		margin-bottom: 15px;
	}
	
	.order_summary_box .fp_summary_list_item .key {
		font-family: "Mukta-Medium";
	}
	
	.order_summary_box .fp_summary_total {
		font-family: "Mukta-Medium";
		margin-bottom: 25px;
	}
	
	.order_summary_box .fp_summary_total .value {
		font-size: 30px;
		font-weight: 700;
	}
	
	.order_summary_box .fp_btn_primary {
		margin-bottom: 15px;
	}
	
	.order_summary_box .fp_btn_outline_primary {
		margin-bottom: 25px;
	}
	
	.order_summary_box.fp_order_confirmation_summary {
		background: #ffffff;
		padding-top: 0;
	}
	
  	.order_summary_box.fp_order_confirmation_summary .fp_title {
	  background: #f2f2f2;
	  padding: 20px 30px 14px;
	  margin-left: -30px;
	  margin-right: -30px;
  	}
  
	.stickySummary {
		position: sticky;
		top: 0px;
  	}

  	.error-message {
		word-break: break-all;
	}

	.fp_resp_product_image {
		margin-bottom: 20px;
	}  
  /* order_summary_box css ends */
  
  /* fp_checkout_main_content css starts */
	.fp_checkout_main_content .fp_checkout_section_header {
		font-size: 28px;
		font-weight: 700;
		text-transform: uppercase;
		padding-left: 40px;
		margin-top: 0;
		margin-bottom: 25px;
		position: relative;
		cursor: pointer;
	}

	.fp_checkout_main_content .fp_checkout_section_header:before {
		display: block;
		font-family: FontAwesome;
		content: "\f078";
		color: #363935;
		position: absolute;
		left: 0;
		font-size: 30px;
		top: 0px;
		font-size: 24px;
	}

	.fp_checkout_main_content .fp_checkout_section_header[aria-expanded="true"]:before {
		content: "\f077";
	}

	.fp_checkout_main_content .fp_shipment_details {
		margin-bottom: 80px;
	}
  /* fp_checkout_main_content css ends */

  /* fp_checkout_review css starts */
	.fp_checkout_review h3.fp_loginlable {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 25px;
		margin-top: 0;
	}

    .fp_checkout_review .fp_branch_details_content .fp_branchpickup {
        padding-top: 16px;
        padding-bottom: 16px;
    }

	.fp_checkout_review .box1.fp_branch_details {
		padding-top: 32px;
		margin-bottom: 60px;
	}
	
	.fp_checkout_review .fp_payment_ponumber {
		padding-top: 24px;
		margin-bottom: 40px;
	}
	
	.fp_checkout_review .fp_payment_ponumber .panel-title {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 25px;
	}
	
	.fp_checkout_review .fp_payment_ponumber #poNumber {
		max-width: 255px;
	}

	.fp_checkout_review .fp_payment_ponumber #poNumberField .poNumberError {
        font-family: "Mukta-Medium";
        font-size: 14px;
        color: #d0021b;
        display: none;
	}
        
	.fp_checkout_review .fp_payment_ponumber #poNumberField.hasError .poNumberError {
        display: block;
	}
        
	.fp_checkout_review .fp_payment_ponumber #poNumberField.hasError #poNumber {
        border-color: #d0021b !important;
	}	
	
	.fp_checkout_review .fp_payment_ponumber .fp_panel_comments textarea {
		width: 100%;
		max-width: 530px;
		min-height: 80px;
		resize: none;
	}
  
	.fp_checkout_review .fp_branch_details {
		color: #2d2926;
	}
	
	.fp_checkout_review .fp_branch_details h4 {
		font-size: 18px;
		font-weight: 700;
	}
	
	.fp_checkout_review .fp_cart_item .orderReviewImg {
		width: 100%;
	}
	
	.fp_checkout_review .box1.loggedIn_details {
		padding: 24px 40px 16px;
	}

	.fp_checkout_review .box1.fp_branch_details_header {
		padding: 20px;
		margin-bottom: 0px;
	}

	.fp_checkout_review .box1.fp_branch_details_header h3 {
		margin-bottom: 0px;
	}

	.fp_checkout_review .fp_branch_details_content {
		font-size: 18px;
	}
  /* fp_checkout_review css ends */
  
  /* checkoutPayment css starts */
  .fp_payment_processor {
	padding-top: 0px;
	margin-bottom: 60px;
  }

  .fp_payment_types_container .tab-content {
	padding-left: 40px;
  }

  .checkoutPaymentTarget h2 {
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 25px;
  }
  
  .checkoutPaymentTarget h3 {
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 16px;
  }

  .checkoutPaymentTarget .cc_payment_types_container {
	padding: 0px;
  }
  
  .checkoutPaymentTarget .cc_payment_types_container {
	padding: 0px;
  }
  /* checkoutPayment css ends */
  
/* fp_order_confirmation css starts */
	.fp_order_confirmation .fp_order_name {
		font-size: 28px;
		font-weight: 700;
		color: #2d2926;
		margin-bottom: 25px;
	}

	.fp_order_confirmation .fp_order_confirmation_status {
		font-size: 32px;
		font-weight: 700;
		color: #1c6019;
		margin-bottom: 18px;
		margin-top: 0px;
	}

.fp_order_confirmation .fp_order_confirmation_guidingtext {
	font-size: 24px;
	color: #373a36;
	margin-bottom: 35px;
}

.fp_order_confirmation .fp_order_confirmation_payments {
	font-size: 28px;
	color: #363935;
	margin-bottom: 40px;
}

.fp_order_confirmation .fp_order_confirmation_payments h3 {
	font-size: 28px;
	font-weight: 700;
	margin-top: 0;
}

.fp_order_confirmation .fp_order_confirmation_payments p {
	margin-bottom: 0px;
}

.fp_order_details .box1.fp_order_info {
	font-size: 28px;
	color: #2d2926;
	padding: 14px 40px 11px;
	margin-bottom: 15px;
}

.fp_order_details .box1.fp_order_info p {
	font-weight: 700;
	margin-bottom: 0px;
}

.fp_order_information {
	font-size: 18px;
	color: #2d2926;
	padding-left: 40px;
}

.fp_order_information p {
	margin-bottom: 5px;
}

.fp_order_information .fp_branch_details,
.fp_order_information .fp_order_po_details {
	margin-bottom: 20px;
}

.fp_order_information .fp_branch_details h4 {
	margin-top: 0;
}

.fp_order_information .fp_order_po_details {
	color: #373a36;
}

.fp_order_details .fp_order_item_list {
	margin-left: 40px;
	margin-bottom: 80px;
}
/* fp_order_confirmation css ends */

/* fp_myaccount_nav css starts */
.fp_myaccount_nav .fp_heading {
	background: #f2f2f2;
	color: #2d2926;
	padding: 11px 25px 10px;
}

.fp_myaccount_nav .fp_title {
	font-size: 24px;
	font-weight: 700;
}

.fp_myaccount_nav_list:first-child {
	border: 0px;
}

.fp_myaccount_nav_list {
	list-style: none;
	padding: 15px 24px 0px;
	border-top: 1px solid #88898d;
}

.fp_myaccount_nav_list li {
	font-size: 18px;
	font-weight: 600;
	color: #01319f;
	margin-bottom: 15px;
}

.fp_myaccount_nav_list li a {
	color: inherit;
}

.fp_myaccount_nav_list li.selected {
	color: #2d2926;
}

.acctmainSection .fp_no_data_found {
	padding-top: 50px;
	font-size: 18px;
	color: #2d2926;
}

.acctmainSection .fp_no_data_found p {
	margin-bottom: 20px;
}
/* fp_myaccount_nav css ends */

/* fp_common_table css starts */
.fp_common_table {
	border: 1px solid #88898d;
}

.fp_common_table .fp_sort_by_filter {
	cursor: pointer;
}
.fp_common_table .fp_sort_by_filter .fa-sort-down {
	display: inline-block;
	vertical-align: top;
}
.fp_common_table .fp_sort_by_filter .fa-sort-up {
	display: inline-block;
	vertical-align: bottom;
}

.fp_common_table .fp_collapsed_header .fp_collapsible_icon .fa-chevron-down {
	display: none;
}

.fp_common_table .fp_collapsed_header .fp_collapsible_icon .fa-chevron-up {
	display: inline-block;
}

.fp_common_table .fp_collapsed_header .fp_collapsible_icon.collapsed .fa-chevron-up {
	display: none;
}

.fp_common_table .fp_collapsed_header .fp_collapsible_icon.collapsed .fa-chevron-down {
	display: inline-block;
}

.fp_common_table .fp_table_header_row {
	background: #88898d;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
}

.fp_common_table .fp_table_header_row th {
	border-bottom: 0px;
	vertical-align: middle;
    white-space: nowrap;
}

.fp_common_table tbody {
	font-size: 18px;
	color: #000000;
	border: 1px solid #88898d;
	border-top: 0px;
}

.fp_common_table tbody, .fp_common_table tbody + tbody {
	border: 0;
}

.fp_common_table .fp_table_header_row th, .fp_common_table tbody tr td {
	padding: 16px 15px;
}

.fp_common_table .fp_table_header_row th:first-child, .fp_common_table tbody tr td:first-child {
	padding-left: 60px;
}

.fp_common_table .action-icon {
	font-size: 22px;
	color: #000000;
	padding: 0 20px;
}

.fp_common_table tbody tr:hover {
	background: none;
}

.fp_common_table tbody tr td {
	border-color: #88898d;
}

.fp_common_table .fp_collapsed_content {
	border-top: 0px;
	border-bottom: 0px;
}

.fp_common_table .fp_collapsed_content.collapse.in {
	display: table-row-group;
}

.fp_common_table .fp_collapsed_content td {
	border: 0px;
}

.fp_common_table tbody tr.fp_table_sub_header {
	background: #f2f2f2;
	color: #2d2926;
	font-size: 20px;
	font-weight: 700;
}

.fp_common_table .fp_col_order_number {
	font-weight: 700;
	position: relative;
	white-space: nowrap;
}

.fp_common_table .fp_col_order_number a, .fp_common_table .link_text {
	color: #01319f;
	font-weight: 700;
}

.fp_common_table .fp_collapsible_icon {
	color: #20285d;
	position: absolute;
	margin-left: -40px;
	cursor: pointer;
}

@media (max-width: 1639px) {
	.acctmainSection .fp_no_data_found {
		padding-top: 30px;
	}

	.fp_common_table .fp_table_header_row, .fp_common_table tbody tr.fp_table_sub_header {
		font-size: 18px;
	}
	.fp_common_table tbody {
		font-size: 16px;
	}
}
/* fp_common_table css ends */

/* fp_searchOrderForm css starts */
.fp_searchOrderForm .fp_search_order_box {
	position: relative;
}

.fp_searchOrderForm .fp_search_order_input {
	max-width: 100%;
	width: 100%;
	height: 40px;
}

.fp_searchOrderForm .fp_date_range_filter {
	font-size: 18px;
	color: #2d2926;
}

.fp_searchOrderForm .fp_date_range_filter .fp_from_date_str {
	font-weight: 600;
	margin-right: 15px;
}

.fp_searchOrderForm .fp_date_range_filter .fp_to_date_str {
	margin: 0px 16px;
}

.fp_searchOrderForm .fp_date_range_filter .fp_requestedDate {
	font-size: 18px;
	color: #363935;
	font-family: "Mukta-Medium";
	font-weight: 500;
	height: 40px;
	border: 1px solid #363935;
	padding: 8px 40px 5px 10px;
	border-radius: 0px;
	max-width: 160px;
	cursor: pointer;
	position: relative;
}

.fp_searchOrderForm .fp_date_range_filter .input-group:after, .fp_searchOrderForm #fp_searchBtn {
	background: #363935;
	font-family: "Font Awesome 5 Free";
	font-size: 1.2em;
	line-height: 36px;
	position: absolute;
	right: 1px;
	top: 1px;
	padding: 0px 9px;
	font-weight: 900;
	color: #ffffff;
	height: calc(100% - 2px);
	width: 38px;
	cursor: pointer;
}

.fp_searchOrderForm .fp_date_range_filter .input-group:after {
	pointer-events: none;
	content: "\f073";
}

.fp_searchOrderForm .fp_search_order_btn {
	margin-left: 30px;
	padding: 11px 30px 9px;
}

/* fp_searchOrderForm css ends */

  .ast-header-breadcrumb {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #f4f4f4;
  }
  .fp_navbar-nav {
	text-transform: lowercase;
  }
  .fp_navbar-nav::first-letter {
	text-transform: capitalize;
  }
  .cc_navbar-nav.navbar-nav {
	width: 100%;
	margin-left: -32px;
  }
  .nav .cc_phone_logo#phoneLogo li a:hover {
	background: #001e62;
  }
  
  .cartHeaderLink:hover,
  .cartHeaderLink:focus {
	color: #f2f2f2;
  }
  .fp_qty_field {
	border: none !important;
  }
  .cc_quantity_block {
	border: 2px solid #2d2926;
  }
  .fp_quantity_block .fp_decrease_btn input,
  .fp_quantity_block .fp_increase_btn input {
	border: none !important;
  }
  .cc_product_detail {
	border: none !important;
  }
  .cc_navbar-nav.navbar-nav {
	width: 100%;
	margin-left: -32px;
  }
  .panel-group .panel {
	border-radius: 0px;  
  }
