  /* Responsive css */
  @media (min-width: 1640px) {

	.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9{
		float:left
	}
	.col-xl-12{width:100%}
	.col-xl-11{width:91.66666667%}
	.col-xl-10{width:83.33333333%}
	.col-xl-9{width:75%}
	.col-xl-8{width:66.66666667%}
	.col-xl-7{width:58.33333333%}
	.col-xl-6{width:50%}
	.col-xl-5{width:41.66666667%}
	.col-xl-4{width:33.33333333%}
	.col-xl-3{width:25%}
	.col-xl-2{width:16.66666667%}
	.col-xl-1{width:8.33333333%}
	.col-xl-pull-12{right:100%}
	.col-xl-pull-11{right:91.66666667%}
	.col-xl-pull-10{right:83.33333333%}
	.col-xl-pull-9{right:75%}
	.col-xl-pull-8{right:66.66666667%}
	.col-xl-pull-7{right:58.33333333%}
	.col-xl-pull-6{right:50%}
	.col-xl-pull-5{right:41.66666667%}
	.col-xl-pull-4{right:33.33333333%}
	.col-xl-pull-3{right:25%}
	.col-xl-pull-2{right:16.66666667%}
	.col-xl-pull-1{right:8.33333333%}
	.col-xl-pull-0{right:auto}
	.col-xl-push-12{left:100%}
	.col-xl-push-11{left:91.66666667%}
	.col-xl-push-10{left:83.33333333%}
	.col-xl-push-9{left:75%}
	.col-xl-push-8{left:66.66666667%}
	.col-xl-push-7{left:58.33333333%}
	.col-xl-push-6{left:50%}
	.col-xl-push-5{left:41.66666667%}
	.col-xl-push-4{left:33.33333333%}
	.col-xl-push-3{left:25%}
	.col-xl-push-2{left:16.66666667%}
	.col-xl-push-1{left:8.33333333%}
	.col-xl-push-0{left:auto}
	.col-xl-offset-12{margin-left:100%}
	.col-xl-offset-11{margin-left:91.66666667%}
	.col-xl-offset-10{margin-left:83.33333333%}
	.col-xl-offset-9{margin-left:75%}
	.col-xl-offset-8{margin-left:66.66666667%}
	.col-xl-offset-7{margin-left:58.33333333%}
	.col-xl-offset-6{margin-left:50%}
	.col-xl-offset-5{margin-left:41.66666667%}
	.col-xl-offset-4{margin-left:33.33333333%}
	.col-xl-offset-3{margin-left:25%}
	.col-xl-offset-2{margin-left:16.66666667%}
	.col-xl-offset-1{margin-left:8.33333333%}
	.col-xl-offset-0{margin-left:0}
	
	.container {
	  width: 1640px !important;
	}

	.fp_breadcrumb a {
		font-size: 18px !important;
	}

	/* header starts */
	#fp_header .fp_col_search ul {
		max-width: 665px;
	}

	#fp_header .my-store-heading h4, #fp_header .cartHeaderLink {
		font-size: 18px;
	}

	#fp_header .fp_store_info .fp_lables {
		line-height: 18px;
	}

	#fp_header .fp_mycart.col-sm-1 {
		width: 5.333333%;
	}
	
	#FP-branch-location.col-xl-2 {
		width: 19.666667%;
	}
	/* header ends */
	
}

@media (max-width: 1639px) {
	/* header starts */
	#FP-branch-location.has_border {
		padding-right: 10px;
		width: calc(100% - 80px);
	}

	#fp_header .fp_mycart {
		padding-left: 10px;
		width: 75px;
	}        
	/* header ends */

	.fp_searchOrderForm .fp_search_order_btn {
		margin-top: 20px;
	}

	/* fp_site_footer starts */
	.fp_site_footer {
		font-size: 15px;
		padding-top: 60px; 
	}

	.fp_site_footer h4 {
		font-size: 16px;
	}

	.fp_site_footer h4 .text_lg {
		font-size: 25px;
		line-height: 27px;
	}

	.fp_site_footer .subscription_form .subscription_email_textbox {
		height: 45px;
	}

	.fp_site_footer .subscription_form .subscription_submit_btn {
		font-size: 16px;
	}

	.fp_site_footer .footer-seals img {
		margin-left: 15px;
	}  
	/* fp_site_footer ends */

	/* pdp css starts */
	.fp_availability_info_box {
		padding: 15px 10px;
	}
	
	.fp_availability_info_box .delivery_status,
	.fp_availability_info_box .store_availability_status {
		font-size: 14px;
		min-height: 40px;
	}
	/* pdp css ends */

	/* order_summary_box css starts */
	.order_summary_box {
		font-size: 16px;
	}
	
	.order_summary_box .fp_title {
		font-size: 22px;
	}
	
	.order_summary_box .fp_summary_total .value {
		font-size: 20px;
	}  
	/* order_summary_box css ends */

  
}

@media (max-width: 1639px) and (min-width: 992px) {
	/* header starts */
	.header .fp_col_search ul {
		padding-left: 40px;
	}
	/* header ends */

}

@media (max-width: 1199px) {
	/* header starts */
	#fp_header .fp_col_search ul {
		max-width: 300px;
	}
	/* header ends */

	/* fp_site_footer starts */
	.fp_site_footer h4 {
		padding-right: 10px;
	}
	/* fp_site_footer ends */

	/* pdp css starts */
	.prodDetailContainer .fp_add_item_btn {
		min-width: 190px;
		font-size: 18px;
	}
	/* pdp css ends */

	/* order_summary_box css starts */
	.order_summary_box {
		padding: 25px 15px;
	}
	/* order_summary_box css ends */

}

@media (min-width: 992px) {
	/* header starts */
	.CoveoSearchbox .magic-box .magic-box-input, .CoveoSearchbox .magic-box .magic-box-input .magic-box-underlay, .CoveoSearchbox .magic-box .magic-box-input>input {
		height: 56px !important;
	}
	.CoveoSearchbox .magic-box .magic-box-clear {
		height: 56px !important;
		line-height: 56px !important;
	}

	.CoveoSearchbox .CoveoSearchButton {
		height: 58px !important;
	}
	/* header ends */

}

@media (max-width: 991px) {
	/* header starts */
	#FP-branch-location.has_border {
		padding-right: 5px;
		width: calc(100% - 44px);
	}

	#fp_header .fp_store_logo_img {
		max-width: 160px;
		height: 60px;
		margin-top: 35px;
	}

	#fp_header .my-store-heading h4, #fp_header .cartHeaderLink {
		font-size: 14px;
	}

	#fp_header .fp_header_icon {
		display: inline-block;
		width: 20px;
		margin-right: 5px;
	}

	#fp_header .fp_store_info .fp_lables {
		font-size: 14px;
		line-height: 20px;
	}

	#fp_header .fp_mycart {
		padding-left: 5px;
		width: 40px;
	}        
	/* header ends */

	/* fp_site_footer starts */
	#footer-logo {
		height: 100px;
	}

	.fp_site_footer .fp_footer_menu {
		margin-bottom: 30px;
	}

	.fp_site_footer .footer-seals img {
		width: 100px;
	}
	/* fp_site_footer ends */

  	/* order_summary_box css starts */
	.order_summary_box {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.order_summary_box .fp_shipping_options {
		margin-top: 10px;
	}

	.stickySummary {
		position: relative;
	}

	.fp_cart_item .fp_quantity_box {
		margin-bottom: 8px;
	}
	/* order_summary_box css ends */
	  
	/* fp_checkout_main_content css starts */
	.fp_page_title.visible-sm {
		display: inline-block !important;
	}

	.fp_checkout_main_container .order_summary_box {
		margin-bottom: 40px;
	}
	/* fp_checkout_main_content css ends */

}

@media (min-width: 768px) {
	.text-sm-right {
		text-align: right;
	}

	.fp_d_sm_flex {
		display: flex;
	}

	.fp_d_sm_flex .fp_sm_col_6 {
		flex: 0 0 50%;
		width: 50%;
	}

	/* header starts */
	#fp_header .fp_coveo_search_cta {
		display: none;
	}
	/* header ends */

}

@media (max-width: 767px) {
	/* main-menu overlay starts */
	.fp_nav_overlay {
		display: none;
		z-index: 1051;
	}

	body.show_main_nav {
		overflow: hidden;
	}

	body.show_main_nav .fp_nav_overlay {
		display: block;
	}
	/* main-menu overlay ends */

	/* fp_branch_selector popup starts */
	#fp_branch_selector .fp_nearest_branches .fp_find_branch .modal_link {
		margin-left: 0px;
	}

	#fp_branch_selector h2 {
		font-size: 25px;
	}

	#fp_branch_selector .fp_selected_branch_details {
		padding: 20px 10px;
	}

	#fp_branch_selector .fp_nearest_branches {
		padding: 20px 10px 0px;
		max-height: calc(100vh - 330px);
	}

	#fp_branch_selector .fp_selected_branch_details h2, #fp_branch_selector .fp_nearest_branches h2 {
		margin-bottom: 15px;
	}

	#fp_branch_selector .fp_nearest_branches .fp_find_branch .fp_branch_searchbox {
		min-width: 300px;
	}

	#fp_branch_selector .fp_nearest_branches .fp_find_branch .modal_link {
		margin-left: 0px;
		margin-top: 10px;
		display: inline-block;
	}

	#fp_branch_selector .fp_branch_list .fp_branch_list_item {
		padding-bottom: 25px;
		margin-bottom: 20px;
	}

	#fp_branch_selector .fp_branch_list_item .opening_hours {
		margin-bottom: 10px;
	}

	#fp_branch_selector .fp_branch_list .fp_branch_list_item .select_branch_btn {
		margin-top: 15px;
	}
	/* fp_branch_selector popup ends */

	/* header starts */
	#FP-branch-location {
		margin-top: 22px;
		border-right: 0;
	}

	#FP-branch-location.has_border {
		border-right: 0px;
		padding-right: 0px;
	}

	#fp_header {
		height: 64px;
	}

	#fp_header .fp_store_logo_img {
		background: url(/parts/resource/1502204081000/CC_FP_Theme/images/logo-mobile.svg) no-repeat;                
		height: 48px;
		width: 48px;
		margin-top: 13px;
	}

	#fp_header .fp_col_search {
		display: none;
		position: absolute;
		width: 100%;
		padding: 0;
		top: 100%;
		z-index: 1030;
	}

	#fp_header .fp_col_search.showCoveoSearch {
		display: block;
	}

	#fp_header .fp_col_search ul {
		max-width: 100%;
	}

	#fp_header .fp_col_search #searchbox {
		margin-top: 3px;
	}        

	#fp_header .fp_header_icon {
		width: 24px;
	}

	#fp_header .fp_store_info .info:not(:first-child) {
		display: none;
	}

	#fp_header .fp_store_info .info .fp_lables {
		display: none;
	}

	#fp_header .fp_login {
		margin-top: 78px;
	}

	#fp_header .fp_cartHeaderInfo {
		position: relative;
	}

	#fp_header .cartHeaderLink .badge-text {
		display: none;
	}

	#fp_header .cartHeaderLink #lblCartCount {
		position: absolute;
		left: 7px;
		margin-left: 0;
		margin-top: 0;
	}

	#fp_header .fp_mycart ul.cc_list-inline {
		margin-top: 19px;
	}

	/* mobile menu starts */
	.menu_container .navbar-toggle {
		position: absolute;
		left: 90px;
		top: -36px;
		padding: 0;
		float: none;
		border: 0;
		margin: 0;
		background: transparent !important;
	}

	.menu_container .navbar-toggle .icon-bar {
		background-color: #ffffff;
		height: 3px;
	}

	.menu_container .navbar-toggle .icon-bar+.icon-bar {
		margin-top: 5px;
	}

	#navbar {
		border-color: #e7e7e7;
		position: fixed;
		width: 60%;
		background: #fff;
		height: calc(100% - 64px) !important;
		color: #001e62;
		border: 0;
		padding-top: 15px;
		box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
		transition: transform 0.5s linear 0.5s;
	}

	#navbar.collapse {
		transform: translate(-110%, 0%);
		display: block;
	}

	#navbar.collapse.in {
		transform: translate(0%, 0%);
		z-index: 1100;
	}

	#navbar .navbar-nav {
		width: 100%;
		margin: 0;
	}

	#navbar .navbar-nav li.cc_dropdown {
		float: none;
		margin-bottom: 10px;
		position: static;
	}

	#navbar .navbar-nav > li > a {
		font-family: "Mukta-Medium";
		font-size: 18px;
		color: #01319f;
		padding: 0;
		background: transparent;
		display: inline-block;
	}

	#navbar .navbar-nav > li > a#phoneLogo {
		display: none;
	}

	#navbar .cc_dropdown .caret:hover, #navbar .cc_dropdown .caret:focus {
		color: inherit;
		background-color: inherit;
	}

/*
	#navbar .navbar-nav .open .dropdown-menu {
		top: 0;
		position: absolute;
		background: #ffffff !important;
	}

	#navbar .navbar-nav .open .dropdown-menu>li>a {
		color: #01319f;
	}
*/
	/* mobile menu ends */


	/* header ends */


	/* fp_site_footer starts */
	.fp_site_footer {
		padding-top: 35px;
	}

	.fp_site_footer .fp_footer_menu h4:after {
		display: none;
	}

	.fp_site_footer .fp_footer_menu .fp_menu_header, .fp_site_footer .fp_footer_menu ul {
		padding-left: 26px;
	}

	.fp_site_footer .fp_footer_menu .fp_menu_header {
		font-size: 19px;
		margin-bottom: 20px;
	}

	.fp_site_footer .fp_footer_menu .fp_menu_header:before {
		display: block;
		font-family: FontAwesome;
		content: "\f105";
		color: #ffffff;
		position: absolute;
		left: 0;
		font-size: 30px;
		top: -8px;
	}

	.fp_site_footer .fp_footer_menu .fp_menu_header[aria-expanded="true"]:before {
		content: "\f107";
	}

	.fp_site_footer .fp_footer_menu ul {
		margin-bottom: 30px;
	}

	.fp_site_footer .subscription_form .subscription_title {
		margin-bottom: 20px;
	}

	.fp_site_footer .subscription_form .form_fields_group {
		flex-direction: column;
	}

	.fp_site_footer .subscription_form .subscription_submit_btn {
		height: 45px;
		margin-top: 15px;
	}

	.fp_site_footer .subscription_form .subscription_email_textbox, .fp_site_footer .subscription_form .subscription_submit_btn {
		max-width: 100%;
	}

	#footer-logo {
		height: 70px;
		margin-bottom: 30px;
	}

	#footer-logo img {
		width: auto;
	}

	.fp_site_footer .footer-seals {
		text-align: center;
	}

	.fp_site_footer .footer-seals img:first-child {
		margin-left: 20px;
	}

	.fp_site_footer .footer-seals img {    
		margin: 0 20px 20px;
	}

	.fp_site_footer .copyright {
		padding: 10px 0 20px;
	}
	/* fp_site_footer ends */


	.modal .modal-dialog, .modal .modal-content, #BranchSelectorModal .modal-dialog {
		margin: 0px;
		max-height: 100%;
		height: 100%;
	}

	.modal .modal-header {
		padding: 15px 10px;
	}

	/* pdp css starts */
	#breadcrumb_desktop_container .breadcrumb {
		padding: 35px 0 0;
	}

	.fp_product_title {
		font-size: 28px;
	}

	.fp_brand, .fp_partnumber {
		font-size: 16px;
	}

	.prodDetailContainer .add_to_cart_container {
		flex-direction: column;
		align-items: flex-end;
	}

	.prodDetailContainer .fp_cart_action {
		min-width: 100%;
	}

	.prodDetailContainer .fp_add_item_btn {
		width: 100%;
		margin-top: 20px;
		margin-left: 0;
	}

	.fp_product_detail_photo_container {
		margin-bottom: 30px;
	}

	.fp_product_detail_photo_container, .fp_product_detail_photo_container .thumbnailscroll {
		height: 60px;
		display: flex;
	}

	.fp_product_detail_photo_container .fp_thumbnail {
		width: 60px;
		height: 60px;
		margin-top: 5px;
	}

	.fp_panel-heading-noncollapsible {
		font-size: 28px;
	}

	.fp_collapsible {
		font-size: 24px;
	}

	.prodDetailContainer .fp_panel-heading-noncollapsible {
		margin-bottom: 25px;
		padding-top: 20px;
	}

	.fp_nv_row_title {
		font-size: 18px;
	}

	.fp_nv_row_contents {
		font-size: 16px;
	}

	.fp_nv_row_contents .box {
		padding-top: 6px;
		padding-bottom: 6px;
	}
	
	.secSpecs-All_container .fp_nv_row_contents .box {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.secSpecs-All_container .fp_nv_row_contents:nth-child(odd) .box {
		background: #ffffff;
	}
	/* pdp css ends */

	/* order_summary_box css starts */
	.order_summary_box {
		padding: 25px 10px;
	}
	.stickySummary {
		padding: 0px;
	}  
  	/* order_summary_box css ends */

	/* fp_checkout_main_content css starts */
	.fp_page_title.visible-xs {
		display: inline-block !important;
	}

	.fp_checkout_main_container .fp_page_title {
		margin-bottom: 16px;
	}

	.fp_checkout_main_content .fp_checkout_section_header {
	  font-size: 24px;
	}

	.fp_checkout_main_content .fp_checkout_section_header:before {
	  font-size: 22px;
	}

	.fp_checkout_main_content .fp_shipment_details {
	  margin-bottom: 40px;
	}

	.fp_checkout_review h3.fp_loginlable {
		margin-bottom: 15px;
	}    

	.fp_checkout_review .fp_payment_ponumber #poNumber {
		margin-bottom: 16px;
	}

	.fp_checkout_review .fp_payment_ponumber #poNumber, .fp_checkout_review .fp_payment_ponumber .fp_panel_comments textarea {
	  max-width: 100%;
	}

	.fp_checkout_review .box1.loggedIn_details {
	  margin: 0 -15px;
	  padding: 16px 16px 6px;
	}
	
	.fp_checkout_review .box1.fp_branch_details_header {
	  margin: 0 -15px;
	}

	.fp_checkout_review .box1.fp_branch_details_header h3 {
	  font-size: 20px;
	}

	.fp_checkout_review .fp_branch_details_content {
	  font-size: 16px;
	}

	.fp_cart_item {
	  font-size: 16px;
	}

	.fp_cart_item .fp_item_title {
	  font-size: 19px;
	}

	.fp_cart_item .fp_item_total_price {
	  font-size: 22px;
	}
	/* fp_checkout_main_content css ends */
	header {
    position: sticky;
    top: 10px;
    z-index: 2000;
	}
}

@media (max-width: 480px) {
	.CoveoSearchInterface .CoveoSearchbox {
		margin-right: 0px !important;
	}
}
