/******************************************************
 * CSS override for CloudCraze.
 * Override any CSS provided by OOTB CloudCraze below 7/21/2020
*******************************************************/
@font-face {
  font-family: 'Mukta';
  src: url('../fonts/muktaregular.eot?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P');
  src: url('../fonts/muktaregular.eot?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P&iefix') format('eot'), url('../fonts/muktaregular.woff?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('woff'), url('../fonts/muktaregular.ttf?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('truetype'), url('../fonts/muktaregular.svg?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P##webfontgrewrCss') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mukta-Medium';
  src: url('../fonts/muktamedium.ttf?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.bordertop,
.border-radius {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px; 
}
.borderbottom, .border-radius {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; 
}
.breadcrumbs a:link,
.breadcrumbs a:link:hover, 
.breadcrumbs a:link:visited {
  color: #111; 
}
.breadcrumb,
.cc_breadcrumb {
  padding: 28px 2px 0 28px;
  margin-bottom: 2px;
  margin-top: 5px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
  text-shadow: none; 
}
.breadcrumb a,
.cc_breadcrumb a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  font-family: mukta;
  color: #20285d;
  height: 30px;
}
  a:focus, 
  a:hover {
  color: #23527c;
  text-decoration: underline;   
}  
.breadcrumb li,
.cc_breadcrumb li {
	display: inline-block;
}
.breadcrumb_item li:before,
.cc_breadcrumb_item li:before {
	padding: 0 0;
	color: #fff;
	content: "/\00a0";
}
.breadcrumb .active,
.cc_breadcrumb .active {
	color:#777
}
.thumbnail a:active {
  border: 3px solid 01319f;
} 

  /********  BUTTONS ***********/
  
.btn-fleetpride-alt {
  color: #E02826;
  background: #fff;
  background-color: #fff;
  border-color: #E02826; 
}
.btn-fleetpride-alt:hover {
    background: #E02826;
    background-color: #E02826;
    border-color: #e3e5e7;
    border: 1px solid #E02826;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #fff; }

.btn-fleetpride {
  text-align: center;
  display: inline-block;
  width: auto;
  border-radius: 5px;
  color: #fff;
  background: #E02826;
  background-color: #E02826;
  border-color: #e3e5e7;
  border: 1px solid #E02826;
  -webkit-box-shadow: none;
          box-shadow: none; 
}
.btn-fleetpride:hover {
    color: #E02826;
    background-color: #fff;
    border-color: #E02826; }
.btn-fleetpride:active {
    color: #fff;
    background-color: #E02826;
    border-color: #e3e5e7; }
.btn-fleetpride.addMore {
    color: #fff;
    background-color: #E02826;
    border-color: #e3e5e7; }
.btn-fleetpride.addMore:active {
      color: #fff;
      background-color: #E02826;
      border-color: #e3e5e7; }
.btn-fleetpride.submit {
    padding: 5px 10px;
    margin-top: 10px; }
.btn-fleetpride.submit.disabled {
      cursor: not-allowed;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: .65; }
.btn-fleetpride.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65; }

    input[type=button] {
      text-align: center;
      display: inline-block;
      width: auto;
      border-radius: 5px;
      color: #fff;
      background-color: #E02826;
      border-color: #e3e5e7;
      border: 1px solid #E02826;
      -webkit-box-shadow: none;
              box-shadow: none; }
      input[type=button]:hover {
        color: #E02826;
        background-color: #fff;
        border-color: #E02826; }
      input[type=button].btn-sm {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px; }
      input[type=button].btn-default {
        color: #fff;
        background-color: rgb(1, 49, 159);;
        border-color: #e3e5e7; }
        input[type=button].btn-default:hover {
          color: #E02826;
          background-color: #fff;
          border-color: #E02826; }
      input[type=button].btn-deleteItem {
        color: #fff;
        background-color: #E02826;
        border-color: #e3e5e7; }
    
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }
.btn-default {
  color: #fff;
  background-color: #E02826;
  border-color: #e3e5e7; }
.btn-default:hover {
  color: #E02826;
  background-color: #fff;
  border-color: #E02826; }
.btn-default.deleteItem {
  color: #fff;
  background-color: #E02826;
  border-color: #e3e5e7;
  text-transform: capitalize; 
}
.btn-default.deleteItem:hover {
  color: #E02826;
  background-color: #fff;
  border-color: #E02826; 
}

button.navbar-toggle.collapsed.cc_navbar_toggle {
    background: #dddddd; }
button.navbar-toggle.collapsed.cc_navbar_toggle:hover {
    background-color: #5e5e5e; }
button.navbar-toggle.collapsed.cc_navbar_toggle:hover .icon-bar {
    background-color: #fff; 
  }

  input[type=text] {
  margin-bottom: 8px;
  border-radius: 5px;
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-indent: 5px;
  color: #000000; }
  input[type=text]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #5C666F; }
  input[type=text]::-moz-placeholder {
    /* Firefox 19+ */
    color: #5C666F; }
  input[type=text]:-ms-input-placeholder {
    /* IE 10+ */
    color: #5C666F; }
  input[type=text]:-moz-placeholder {
    /* Firefox 18- */
    color: #5C666F; 
  }
input.search_button {
  overflow: visible;
  font-size: 9px;
  font-weight: normal;
  color: #FFFFFF;
  cursor: pointer;
  margin: 1px 0 0 5px;
  line-height: 16px; 
}
input#searchText {
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; 
}
fp_input#searchText {
  font-size: 16px;
  font-family: mukta;
  color:#363935;
  text-transform: uppercase;  
}
input[name=qty] {
  text-align: center; 
}
input.qty {
  text-align: center; 
}
#searchOrderInput {
  margin-bottom: 0; 
}
#searchOrderForm {
  margin-bottom: 10px; 
}
.cc_wish_row .cc_qty_control_row input.cc_entry {
  padding: 2px; 
}
.nav-search-bar .popover.bottom > .arrow:after {
  border-bottom-color: #f2dede;
  top: 2px; 
}
.nav-search-bar .popover.bottom > .arrow {
  border-bottom-color: rgba(255, 253, 253, 0.25); 
}
.nav-search-bar .popover {
  border: none; }
  .nav-search-bar .popover .popover-content {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 9px 14px;
    border-radius: 5px; }
  .nav-search-bar .popover .arrow:after {
    border-bottom-color: #f2dede; 
  }
.messagingSection-Error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 5px; 
}
.orderList-message-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 10px; 
}
.ContactUsErrorMessage {
  display: none;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 5px; 
}
.qtyInputNumberMessage {
  display: none;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 5px;
  margin: 0px 15px 5px;
  border: 1px solid transparent;
  border-radius: 4px; 
}
.quickOrderRows .alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 5px;
  margin: 5px 15px;
  border: 1px solid transparent;
  border-radius: 4px; 
}
.cc_product_search_panel .cc_searchbox_error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px; 
}
.poErrorMessage {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 15px;
  margin-top: 20px;
  border: 1px solid transparent;
  border-radius: 4px; 
}
.contact-us-error-message {
  color: #E02826; 
}
.alert-warning {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; 
}
hr.form-hr {
  border-top: 1.5px solid #E02826; 
}
.error-message {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: 20px; }

#notifcationRestrictionMessage {
  min-width: 250px;
  margin-left: -125px;
  background-color: #FF933A;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 40px;
  opacity: 0.8; }

#notifcationMessage {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #6DA930;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 40px;
  opacity: 0.8; }

.notifcationRestrictionMessage {
  min-width: 250px;
  margin-left: -125px;
  background-color: #FF933A;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 40px;
  opacity: 0.8; }

.notifcationMessage {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #6DA930;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 40px;
  opacity: 0.8; }

#notifcationMessage.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 6.5s;
  animation: fadein 0.5s, fadeout 0.5s 6.5s; }

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0; }
  to {
    top: 40px;
    opacity: 1; } }

@keyframes fadein {
  from {
    top: 0;
    opacity: 0; }
  to {
    top: 40px;
    opacity: 1; } }

@-webkit-keyframes fadeout {
  from {
    top: 40px;
    opacity: 1; }
  to {
    top: 0;
    opacity: 0; } }

@keyframes fadeout {
  from {
    top: 40px;
    opacity: 1; }
  to {
    top: 0;
    opacity: 0; } }

.panel-default > .panel-heading {
  background:  rgb(1, 49, 159);
  color: #fff;
  border-color: rgb(1, 49, 159);;
}
.panel-heading {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px
}
.ccfp_panel {
    margin-bottom: 10px;
    background-color: #fff;
    border: 0px solid transparent; 
    border-radius: 4px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
    border-bottom: 0px;
}
.ccfp_panel-default {
    background: midnightblue;
    color: #fff;
}

.cc_right_col .cc_body {
  background: #e3e5e7;
  color: #111; }

.cc_category_tree {
  border-color: #001E62; 
}
.cc_category_tree .panel-heading.cc_heading {
    background: #fff;
    color: #111;
}
.input-group .form-control {
  z-index: 0;
  margin: 10px;
}
  .input-group .form-control:focus {
    z-index: 0; }

.navbar-default {
  background: #E02826; }
  .navbar-default ul li, .navbar-default ol li {
    margin-left: 0; }

.cc_navbar-nav.navbar-nav {
  width: 100%; }

.navbar-default ul li.cc_dropdown {
  float: left; }

.navbar-default ul li.nav-search-bar {
  float: right; }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  padding: 15px 15px; }

ul.cc_list-inline .cc_my_account {
  margin-left: 0px; }

ul.cc_list-inline .cc_my_chead {
  margin-left: 0px; }

ul.cc_list-inline .cc_loginoutsec {
  margin-left: 0px; }

#phoneLogo .fa-home {
  display: none; }

.cc_store_logo_img {
    background: url(/parts/resource/1502204081000/CC_FP_Theme/images/homepage_header_graphic.jpg);
    display: block;
    width:260px;
    height: 130px;
    z-index: 2;
    position: absolute;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat; }

.navbar-nav .effAccount {
  margin-top: 60px;
  display: block; }

.freeShippingProgressContainer {
  width: 100%; }

#freeShippingProgress {
  width: 100%;
  background: #dddddd;
  height: 30px;
  padding: 5px; }
  #freeShippingProgress #freeShippingProgressBar {
    width: 0px;
    height: 20px;
    background-color: #6DA930;
    position: relative; }

#shipToSummarySec .shipping-action {
  font-weight: 700; }

#shipToModalSec .order-willcall-ship-to-address {
  font-size: 16px; }

#shipToModalSec .remainder-ship-to-address {
  font-size: 16px;
  margin-top: 10px; }

#shipToModalSec .willCallSelection {
  display: block; }

#shipToModalSec input[type=button] {
  padding: 7px 10px;
  margin-top: 10px; }

#shipToModalSec .changeToWillCall {
  float: right; }

#shipToModalSec #shipToAddressDiv #state {
  margin-bottom: 8px;
  border-radius: 5px;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #dddddd;
  width: 100%;
  padding: 10px;
  line-height: 30px;
  height: 40px;
  text-indent: 5px;
  font-size: 14px;
  background: #ffffff; }

#shipToModalSec #shipToAddressDiv .cc_section_title {
  display: inline-block; }

#shipToModalSec #shipToAddressDiv .form-group .address-type.residential {
  margin-left: 10px; }

#shipToModalSec #shipToAddressDiv .form-group .lifegate.no-liftgate {
  margin-left: 10px; }

#shipToModalSec #shipToAddressDiv p.change_address {
  display: inline-block;
  /* float: right; */
  margin-top: 20px;
  margin-bottom: 10px; }

#shipToModalSec #shipToAddressDiv div.change_address {
  text-align: right; }

.cc_modal_body .cc_th_account_number {
  display: none; }

.cc_modal_body .cc_td_account_number {
  display: none; }

.cc_footer .footer-logo img {
  width: 100%; }

.cc_footer .site-footer {
  background-color: transparent; }

.cc_footer .live-chat-btn {
  border: none;
  z-index: 1000;
  color: #fff;
  position: fixed;
  padding: 10px 15px;
  bottom: 0;
  right: 70px;
  background-color: #E02826;
  padding: 10px 15px;
  border: none;
  margin-right: 0px;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  border: 1px solid white; }
  .cc_footer .live-chat-btn:hover {
    background-color: white;
    color: #E02826;
    border: 1px solid #E02826; }
  .cc_footer .live-chat-btn:active {
    background-color: #E02826;
    color: white; }

.cc_footer .tab-offline {
  position: fixed;
  bottom: 0;
  right: 70px;
  z-index: 1000;
  border: none;
  padding: 10px 15px;
  margin-right: 0px;
  color: #fff;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
  background-color: #E02826;
  border: 1px solid white; }
  .cc_footer .tab-offline:hover {
    background-color: white;
    color: #E02826;
    border: 1px solid #E02826; }
  .cc_footer .tab-offline:active {
    background-color: #E02826;
    color: white; }

.cc_footer .site-footer > .wrap .footer-logo {
  width: 70px;
  width: 7rem; }

.cc_footer .site-footer .wrap > div {
  display: inline-block;
  vertical-align: top; }

.cc_footer .wrap::after {
  display: table;
  clear: both;
  content: " "; }

.cc_footer .wrap::before {
  display: table;
  content: " "; }

.cc_footer .wrap {
  padding-right: 3%;
  padding-left: 3%;
  max-width: 1280px;
  margin: 0 auto; }

.cc_footer .site-footer {
  padding: 1rem 0 0 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 1; }

.cc_footer #menu-footer-menu .menu-item {
  text-align: center; }

.cc_footer .genesis-nav-menu {
  font-weight: 700;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1; }

.cc_footer .genesis-nav-menu .menu-item {
  display: inline-block;
  text-align: left; }

.cc_footer #menu-footer-menu a {
  padding: .9rem 1.1rem;
  color: #dddddd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  font-size: 1rem;
  font-family: Interstate,sans-serif; }

#menu-footer-menu .footer-copyright {
  padding: .9rem 1.1rem;
  color: #dddddd;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  font-size: 1rem;
  font-family: Interstate,sans-serif; }

.cc_modal-header {
  border-bottom: 0; }

.cc_modal-footer {
  border-top: 0;
  padding: 15px 15px 5px; }

.addUserAccessSelectionContainer {
  margin-top: 10px; }

.cc_shipTo_modal input.continue {
  padding: 7px 10px; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

.deskLayout {
  min-height: 100%;
  position: relative; }
  .deskLayout .contentBody {
    padding-bottom: 100px;
    padding-top: 30px;
}
  .deskLayout div.cc_navbar-inverse {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px; }
    
.navbar-inverse {
    background-color: #233e94;
    border-color: #080808;
}

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666666666666%; }

.col-xs-offset-10 {
  margin-left: 83.33333333333334%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666666666666%; }

.col-xs-offset-7 {
  margin-left: 58.333333333333336%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666666666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.666666666666664%; }

.col-xs-offset-1 {
  margin-left: 8.333333333333332%; }

.col-xs-offset-0 {
  margin-left: 0; }

.cc_noresults_body {
  word-break: break-word; }

.padding-zero {
  padding: 0; }

.padding-right-zero {
  padding-right: 0; }

.padding-left-zero {
  padding-left: 0; }

#CCPDCQuickOrder {
  margin-bottom: 40px; }
  #CCPDCQuickOrder .title {
    text-align: center; }
  #CCPDCQuickOrder .get-started-text {
    margin-bottom: 10px;
    font-size: 16px; }
  #CCPDCQuickOrder .qo-btn-primary {
    border-radius: 1px;
    border: 4px solid #b8b8b8;
    background: #E02826;
    font-weight: 700;
    color: white;
    padding: 7px 10px;
    margin-top: 10px;
    font-size: 16px; }
  #CCPDCQuickOrder button.qo-btn-secondary {
    margin-top: 10px; }
  #CCPDCQuickOrder .qo-btn-secondary {
    border-radius: 1px;
    border: 4px solid #b8b8b8;
    background: #fff;
    font-weight: 700;
    color: #E02826;
    padding: 7px 10px;
    margin-top: 10px;
    width: 210px;
    font-size: 16px; }
    #CCPDCQuickOrder .qo-btn-secondary a {
      color: #E02826;
      text-decoration: none; }
      #CCPDCQuickOrder .qo-btn-secondary a:hover {
        text-decoration: none; }
  #CCPDCQuickOrder button.openUploadModal {
    border-radius: 1px;
    border: 4px solid #b8b8b8;
    background: #E02826;
    font-weight: 700;
    color: #fff;
    padding: 7px 10px;
    float: right;
    margin-top: 10px;
    width: 210px;
    font-size: 16px; }
  #CCPDCQuickOrder button.export {
    border-radius: 1px;
    border: 4px solid #b8b8b8;
    background: #fff;
    font-weight: 700;
    color: #E02826;
    padding: 7px 10px;
    width: 210px;
    margin-top: 10px;
    font-size: 16px;
    margin-right: 20px; }
    #CCPDCQuickOrder button.export .glyphicon-arrow-up {
      color: #fff; }
  #CCPDCQuickOrder div.quick_order {
    background: #e3e5e7;
    border-radius: 7px;
    color: #111;
    border: 4px solid #b8b8b8;
    padding: 20px; }
  #CCPDCQuickOrder div.quickorder-caption-title {
    color: #111;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 800; }
  #CCPDCQuickOrder .quickOrderRows {
    margin-bottom: 20px; }
  #CCPDCQuickOrder input[type=text] {
    margin-bottom: 8px;
    border-radius: 5px;
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0.5px solid #dddddd;
    text-indent: 5px;
    color: #000000;
    height: 30px; }
    #CCPDCQuickOrder input[type=text]::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #5C666F; }
    #CCPDCQuickOrder input[type=text]::-moz-placeholder {
      /* Firefox 19+ */
      color: #5C666F; }
    #CCPDCQuickOrder input[type=text]:-ms-input-placeholder {
      /* IE 10+ */
      color: #5C666F; }
    #CCPDCQuickOrder input[type=text]:-moz-placeholder {
      /* Firefox 18- */
      color: #5C666F; }
  #CCPDCQuickOrder input.sku-input {
    width: 100%; }
  #CCPDCQuickOrder input.qty-input {
    float: right;
    width: 100%;
    text-align: left;
    text-indent: 10px;
    direction: ltr; }
  #CCPDCQuickOrder input.addMore {
    float: right; }
  #CCPDCQuickOrder input.removeRow {
    float: left; }
  #CCPDCQuickOrder .quick_order .remove-btn-wrapper input[type=button] {
    width: 100%; }
  #CCPDCQuickOrder .quick_order .remove-btn-wrapper button {
    top: 3px; }

#collapseMiniQuickOrder .qty-input {
  text-align: center;
  padding: 2px;
  direction: ltr; }

@media (max-width: 768px) {
  #CCPDCQuickOrder .get-started-text {
    margin-bottom: 10px;
    font-size: 16px; }
  #CCPDCQuickOrder button.qo-btn-secondary {
    margin-top: 10px; }
  #CCPDCQuickOrder .qo-btn-secondary {
    width: 100%; }
  #CCPDCQuickOrder button.openUploadModal {
    width: 100%; }
  #CCPDCQuickOrder button.export {
    width: 100%;
    margin-right: 0; } }

#contactUsForm textarea#message {
  height: 100px; }

.contact-us-message-label {
  margin-top: 10px; }

.cc_feeatured_products .cc_product_name_img {
  width: 200px;
  height: 200px; }
  .cc_feeatured_products .cc_product_name_img img.img-responsive {
    max-width: 100%;
    width: auto;
    height: 200px; }

.aggSection {
  font-size: 16px;
  color: #111;
  font-weight: bold; }
  .aggSection .label {
    display: inline;
    color: #111;
    font-size: 16px;
    text-transform: capitalize; }
  .aggSection .value {
    font-size: 16px;
    font-weight: bold;
    display: inline;
    text-transform: capitalize; }
  .aggSection .mlxl {
    margin: 10px 0; }
  .aggSection .attributeOptions {
    margin: 10px; }
  .aggSection .mtxl {
    margin: 20px 0; }
  .aggSection .attributeItem {
    border-bottom: 1px solid #eaeaea;
    font-style: normal;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .aggSection .attributeItem:first-child {
      border-top: 1px solid #eaeaea; }

.aggSelected {
  color: #b7b7b7;
  cursor: pointer;
  position: relative;
  text-transform: capitalize; }

.aggSelected:before {
  font-family: FontAwesome;
  content: "\f00c";
  color: #01a61c;
  padding-right: 10px; }

.aggSelected:after {
  content: '+';
  position: absolute;
  right: 1em;
  width: 1em;
  height: 1em;
  text-align: center; }

.prodDetailContainer .qty_row {
  padding-right: 15px;
  margin-bottom: 10px; }

.prodDetailContainer .cc_addtocart {
  margin-bottom: 10px; }

.prodDetailContainer .pdp_divider {
  margin-top: 10px;
  margin-bottom: 10px; }

.prodDetailContainer .cc_restriction {
  padding: 5px 42px;
  border-radius: 3px;
  background-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/20608-200.png");
  background-position-y: 8px;
  background-repeat: no-repeat;
  background-size: 30px; }

.prodDetailContainer .restriction-area {
  display: none; }

.prodDetailContainer .restriction-area.show {
  display: block; }

.prodDetailContainer .cc_price_block {
   font-size: 22px;
   font-weight: bold; }

.prodDetailContainer .wishButtons .btn-group ul li {
  color: #111; }

.prodDetailContainer .wishButtons .btn-group a.pickWish {
  margin-top: 0;
  height: 30px;
  border-radius: 3px;
  width: calc(100% - 35px);
  background-color: #fff;
  border-color: #fff;
  color: #111; }

.prodDetailContainer .btn-group.dropdown.form-group {
  position: relative;
  vertical-align: middle;
  width: 100%; }

.prodDetailContainer .btn.btn-default.btn-sm.addItem.cc_add_item {
  width: 100%; }

.prodDetailContainer .btn.btn-default.btn-sm.dropdown-toggle {
  border-radius: 3px;
  width: 35px;
  background-color: #E02826;
  border-color: #fff;
  color: #fff; }
  .prodDetailContainer .btn.btn-default.btn-sm.dropdown-toggle:hover {
    background-color: #fff;
    border-color: #E02826;
    color: #E02826; }

.prodDetailContainer .cc_entry.form-control {
  height: 30px;
  width: 50px;
  padding: 0; }

.prodDetailContainer .cc_product_title {
   font-size: 28px;
   font-weight: 600;
}

.prodListSec .gp_quantity_block.cc_quantity_block .wishFinder .wishButtons .btn-group .pickWish {
  margin-top: 0px; }

.cc_body .cc_filter_breadcrumbs .cc_label {
  margin-right: 5px; }
.cc_body .cc_filter_breadcrumbs .cc_label .cc_remove {
  color: #E02826; }

.panel-body.cc_body .cc_price {
  font-weight: bold; }

.cc_value {
  position: relative; }
.cc_value .cc_check_filter {
    width: 80%;
    display: inline-block;
    vertical-align: top; }
  .cc_value .cc_check_filter_label {
    position: absolute;
    top: 0; }

.newCustomerSection .button-container {
  margin-bottom: 40px; }

.newCustomerSection .btn-fleetpride#submitAccountRequest.submit {
  padding: 5px 10px;
  margin-right: 10px; }

.newCustomerSection .btn-fleetpride#cancelAccountRequest {
  padding: 5px 10px;
  margin-right: 10px; 
}
.carousel-inner {
        height: 160px
}	
#requestBranchDiv {
  margin: 0 auto; }
  #requestBranchDiv .branch-request-form-wrapper {
    margin-bottom: 40px;
    max-width: 900px; }
    #requestBranchDiv .branch-request-form-wrapper .new-branch-title {
      text-align: center;
      margin: 20px auto; }
    #requestBranchDiv .branch-request-form-wrapper .section-title {
      display: block;
      margin-bottom: 10px; }
  #requestBranchDiv #branchMessageDiv {
    margin-bottom: 20px;
    display: block;
    width: 100%; }
    #requestBranchDiv #branchMessageDiv h4 {
      border: 1px solid #6DA930;
      background-color: #dddddd;
      padding: 10px;
      border-radius: 5px;
      color: #111;
      display: block;
      width: 100%; }
  #requestBranchDiv label {
    display: block; }
  #requestBranchDiv select {
    width: 100%;
    margin-bottom: 8px;
    border-radius: 5px;
    line-height: 2;
    height: 30px;
    background: white;
    border: 1px solid #dddddd; }
  #requestBranchDiv hr {
    border-top: 1px solid #E02826; }
  #requestBranchDiv input {
    display: block;
    width: 100%;
    text-indent: 5px;
    margin-bottom: 8px;
    border-radius: 5px;
    text-shadow: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #dddddd;
    color: #111;
    line-height: 2;
    margin-right: 10px; }
  #requestBranchDiv .red {
    color: #E02826; }
  #requestBranchDiv button {
    padding: 5px 9px;
    margin-top: 10px; }

#CCPDCBusinessCreditAppForm {
  margin-bottom: 40px; }
  #CCPDCBusinessCreditAppForm .red {
    color: #E02826; }
  #CCPDCBusinessCreditAppForm .button-container {
    margin: 40px 0; }
    #CCPDCBusinessCreditAppForm .button-container #submitBusinessCreditApp {
      float: right; }
  #CCPDCBusinessCreditAppForm label.required:before {
    content: '*';
    color: #E02826; }
  #CCPDCBusinessCreditAppForm div.required:before {
    content: '*';
    color: #E02826; }

#newCCWalletForm .SavePayment {
  padding-left: 9px; }

.pdc-payment .input-description {
  font-weight: 600; }

#cartApprovalMessageDiv {
  display: block;
  width: 100%; }
  #cartApprovalMessageDiv h4 {
    margin: 20px;
    border: 1px solid #6DA930;
    background-color: #dddddd;
    padding: 10px;
    border-radius: 5px;
    color: #111;
    display: block;
    width: 315px; }

.updateCartButton {
  float: right;
  margin: 0; }
  .updateCartButton.btn-fleetpride-alt {
    color: #E02826;
    background: #fff;
    background-color: #fff;
    border-color: #E02826; }
    .updateCartButton.btn-fleetpride-alt:hover {
      background: #E02826;
      background-color: #E02826;
      border-color: #e3e5e7;
      border: 1px solid #E02826;
      -webkit-box-shadow: none;
              box-shadow: none;
      color: #fff; }

.pickWish {
  height: 30px; }

.cc_remove_item_button {
  height: 30px;
  margin-right: 5px; }

#cart_items_container .dropdown-toggle {
  height: 30px;
  margin-top: 10px; }

.cart_item_list .price.cc_price {
  font-size: 16px; }

.cart_item_list .quantity input[name=qty] {
  text-align: center; 
  border: 3px solid #01319f !important;
}
.quantitiy {
	border: 3px solid #ffffff !important;;
}
  
.cc_cart_total_amount {
  font-size: 20px; }

.grand_total.cc_grand_total .price.cc_price {
  font-size: 20px; }

.grand_total.cc_grand_total .price .cc_value {
  font-size: 16px; }
  .grand_total.cc_grand_total .price .cc_value.total {
    font-weight: bold; }

.grand_total.cc_grand_total .cc_label.total {
  font-weight: bold; }

.btn.btn-default.btn-sm.checkOutBtn.cc_checkout_btn {
  font-size: 20px; }

.cc_action_totals {
  margin-bottom: 10px;
  margin-left: 15px; }

.input-group.cc_input_group {
  width: 59%;
  float: right;
  text-align: center; }

.panel-heading.cc_heading.discount_heading {
  background: #fff;
  color: #E02826; }

.panel.panel-default.cc_panel.cc_shopping_cart_discount_panel {
  margin-top: 30px; }

.checkout.list-unstyled.cc_checkout {
  text-align: right;
  margin-top: 30px; }

.inventory {
  text-align: right;
  margin-bottom: 10px; }

.btn.btn-default.btn-sm.cc_create_cart_wishlist {
  margin-right: 15px; }

.btn.btn-default.btn-sm.continueShoppingButton.cc_continue_shopping_button {
  margin-right: 15px; }

.cc_price_block_cart {
  margin-top: 10px; }

.cc_final_price {
  font-weight: bold; }

.cc_update_cart_button {
  margin-right: 15px; }

.duplicate {
  margin-top: 10px; }

.cc_cart_divider {
  margin-bottom: 10px; }

.cc_backorder_qty {
  font-size: 16px; }

.freeParcel {
  font-size: 16px; }

.cartContainer .form-group .input-group.cc_input_group {
  width: 75%; }

.wishFinder .addItemRow {
  padding: 0;
  font-weight: 600;
  margin-top: 10px; }
  .wishFinder .addItemRow .glyphicon-plus {
    margin-right: 5px; }

.cc_order_review .cc_addr_extId {
  display: none; }

hr.cc_cart_divder {
  border-top: 2px solid #eee; }

@media screen and (max-width: 974px) {
  .cc_action_totals {
    margin-left: 0; }
  .updateCartButton {
    float: none; } }

#userList {
  width: 100%; }
  #userList .addUser {
    margin: 10px; }
  #userList #userTable {
    width: 100%; }
    #userList #userTable .even {
      font-size: 18px;
      border-bottom: 2px solid #111;
      background: #dddddd;
      text-indent: 10px;
      height: 50px;
      font-weight: 600; }
      #userList #userTable .even td:after {
        content: ":";
        display: inline-block; }
    #userList #userTable .odd {
      text-indent: 10px;
      height: 50px;
      border-bottom: 1px solid #dddddd; }
      #userList #userTable .odd a {
        font-size: 16px; }
        #userList #userTable .odd a.delete {
          text-align: center;
          width: auto;
          border-radius: 5px;
          color: #fff;
          background-color: #E02826;
          border-color: #e3e5e7;
          border: 1px solid #E02826;
          -webkit-box-shadow: none;
                  box-shadow: none;
          font-size: 14px;
          padding: 4px 8px; }
          #userList #userTable .odd a.delete:hover {
            color: #E02826;
            background-color: #fff;
            border-color: #E02826;
            text-decoration: none; }

#addUserMod #addUserForm .addUserAmtRow {
  border-bottom: 1px dotted #dddddd;
  margin-bottom: 20px;
  padding-bottom: 5px; }
  #addUserMod #addUserForm .addUserAmtRow input {
    line-height: 2; }

#addUserMod #addUserForm label.addUserCheckbox {
  margin-bottom: 20px;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px dotted #dddddd; }
  #addUserMod #addUserForm label.addUserCheckbox input {
    margin-right: 5px;
    line-height: 2; }

#addUserMod #addUserForm input[type=text] {
  width: 100%;
  line-height: 2; }

#addUserMod #addUserForm label.addUser-textField {
  margin-top: 5px;
  width: 100%; }

.mybackorders .addAllButton {
  background-color: #6DA930;
  border-color: #6DA930; }
  .mybackorders .addAllButton:hover {
    background-color: #fff;
    color: #6DA930; }

.cc_table_row {
  margin-top: 10px; }

.cc_col_name {
  text-align: right; }

.backorder-status {
  color: red; }

.instock-status {
  color: green; }

.addAllButton {
  margin-bottom: 20px; }

.cc_myaccount_edit_user_information .cc_myaccount_edit_user .form-group:nth-child(6) {
  display: none; }

.cc_myaccount_edit_user_information .cc_myaccount_edit_user .form-group:nth-child(7) {
  display: none; }

.cc_acct_language {
  display: none; }

.cc_acct_currency {
  display: none; }

.cc_home_slider .nav.nav-pills li.active a {
  background-color: #6D8197; }

.checkoutPaymentTarget .cc_payment_types_container {
  padding: 0px 15px; }

.cc_stored_payments_container input#poNumber {
  border: 1px solid #dddddd; }

  /******************************************************
 * CSS for fleetpride footer.
 * Need to be reduced to specific css elements required for FP footer
*******************************************************/
.cc_dropdown :hover,
.cc_dropdown :focus {
	color: red;
	background-color: grey;
}