<apex:component >
    <script id="CCFPOrderSummary-Desktop" type="text/template">
    <div class="order_summary_box cc_mini_cart">
            <h3 class="fp_title">{{pageLabelMap 'ORDER SUMMARY'}}</h3>
            <div class="fp_branch_searchbox fp_searchbox disabled">
                <input id="promoCodeField" type="text" placeholder="Enter Promo Code" disabled/>
                <button id="searchPromoCode" class="fp_submit_btn"><i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="fp_summary_list">
                <div class="fp_d_flex fp_justify_between fp_summary_list_item">
                    <div class="key">Subtotal</div>
                    <div class="value">{{price subTotalOrderSummary}}</div>
                </div>
                <div class="fp_d_flex fp_justify_between fp_summary_list_item">
                    <div class="key">Core charges</div>
                    <div class="value">{{price coreProductCharges}}</div>
                </div>
                <div class="fp_d_flex fp_justify_between fp_summary_list_item">
                    <div class="key">Shipping</div>
                    <div class="value">-</div>
                </div>
                <div class="fp_d_flex fp_justify_between fp_summary_list_item">
                    <div class="key">Taxes</div>
                    <div class="value">-</div>
                </div>
            </div>
            <div class="fp_d_flex fp_justify_between fp_align_items_center fp_summary_total">
                <div class="key">TOTAL</div>
                <div class="value">{{price subtotalAmount}}</div>
            </div>
            {{#if allowCheckout}}    
            	<button id="checkoutBtnOnOrderSummary" type="button" class="btn fp_btn_primary fp_d_block">CHECKOUT</button>
            {{else}}
             	<button id="checkoutBtnOnOrderSummary" type="button" class="btn fp_btn_primary fp_d_block disable_btn">CHECKOUT</button>
             {{/if}}  
            <button id="continueShopping" type="button" class="btn fp_btn_outline_primary fp_d_block">continue shopping</button>
            <p class="fp_warning_message"><i class="icon fas fa-exclamation-triangle"></i>Note: Items designated for pick up must be ordered at least 1  hour before the branch closes.</p>
     </div>
    </script>
    <script>
     jQuery(function($) {
         $(".effright").parent().addClass("stickySummary")
           CCRZ.views.OrderSummary = CCRZ.CloudCrazeView.extend({
            viewName:  'OrderSummary',
            headertemplate: CCRZ.util.template('CCFPOrderSummary-Desktop'),
            events:{
                "click #checkoutBtnOnOrderSummary" : "performCheckout", 
                "click #continueShopping" : "goToHome", 
            },
            init : function() {
                this.render();
            },
            render: function() {
                   this.setElement($(".effright"));
                    var v = this;    
                  
                   if(CCRZ.cartDetailModel &&  CCRZ.cartDetailModel.attributes && CCRZ.cartDetailModel.attributes.coreProductCharges){
                       var subTotal = +CCRZ.cartDetailModel.attributes.subtotalAmount - (+CCRZ.cartDetailModel.attributes.coreProductCharges);
                       CCRZ.cartDetailModel.attributes.subTotalOrderSummary = subTotal.toString();       
                   } else if(CCRZ.cartDetailModel &&  CCRZ.cartDetailModel.attributes) {
                       CCRZ.cartDetailModel.attributes.subTotalOrderSummary = CCRZ.cartDetailModel.attributes.subtotalAmount.toString();
                   }
                 var json = CCRZ.cartDetailModel.toJSON();
                 v.$el.html(v.headertemplate(json));  
                  
            },
            performCheckout : function(event) {
                CCRZ.cartDetailView.checkoutValidations(event);
            },
            goToHome: function(event) {
                window.location.replace("/" + CCRZ.pagevars.storefrontName);
            }
              
        });
         
      
        CCRZ.pubSub.once("view:CartDetailView:refresh", function(view){
            if(!CCRZ.pagevars.isGuest){ // only for loggedIn Users
                  CCRZ.OrderSummary = new CCRZ.views.OrderSummary();             
            }
		});    
        
        CCRZ.pubSub.on("view:CartDetailView:refresh", function(view){
            CCRZ.OrderSummary.render();
		});     
    }); 
    </script>
</apex:component>