<apex:component controller="CCPDCMyAccountMyCartsController">
<script type="text/javascript">
    CCRZ.uiProperties.myCartsView.desktop.tmpl = 'CCFP-MyAccount-MyCarts-Desktop';
</script>

    <style>
        .fp_common_table .action-icon {
        	text-decoration: none;
        }
        
        .fp_common_table .action-icon:focus {
        	outline: none;
        }
        
        .fp_modal .modal-footer .fp_btn_primary {
            font-size: 18px;
            min-width: 150px;
        }
    </style>
<script id="CCFP-MyAccount-MyCarts-Desktop" type="text/template">
   <div class="cc_panel cc_myaccount_mycart">
    <h2 class="fp_page_title">{{pageLabelMap 'MyAccount_PendingCarts'}}</h2>
    <div class="cc_myaccount_content">
     <div class="table-responsive">
      <table id="cartTable" class="table fp_common_table table-hover shopping_cart cc_table cc_order_search_table fp_order_search_table">
       <thead>
           <tr class="cc_table_header_row fp_table_header_row">
            <th class="cc_table_header">
             <span class="cc_table_header_name">Name</span>
            </th>
            <th class="cc_table_header">
             <span class="cc_table_header_name">{{pageLabelMap 'MyCartsInc_NeedsApproval'}}</span>
            </th>
            <th class="cc_table_header">
             <span class="cc_table_header_date">{{pageLabelMap 'MyCartsInc_LastUpdate'}}</span>
            </th>
            <th class="cc_table_header">
             
             <span class="cc_table_header_subtotal">{{pageLabelMap 'CartInc_Subtotal'}}</span>
             
            </th>
            <th class="cc_table_header">
             <span class="cc_table_header_subtotal">{{pageLabelMap 'MyOrdersInc_Owner'}}</span>
            </th>
            <th class="cc_table_header">
             <span class="cc_table_header_actions">{{pageLabelMap 'MyCartsInc_Actions'}}</span>
            </th>
           </tr>
      </thead>
      <tbody>
      {{#each this}} 
        <tr class="cc_table_row">
         <td class="cc_table_col">
            <span class="cc_col_name">
                {{#if isOwner}}
                    <a href="#" data-id="{{encryptedId}}" data-sfid="{{sfid}}" data-owner="true" class="gotoCartDetails cc_goto_cart_details link_text">{{{name}}}</a>
                {{else}}
                    {{#ifHasPermission 'isAdmin'}}
                        <a href="#" data-id="{{encryptedId}}" data-sfid="{{sfid}}" data-owner="false" class="gotoCartDetails cc_goto_cart_details link_text">{{{name}}}</a>
                    {{else}}
                        {{{name}}}
                    {{/ifHasPermission}}
                {{/if}}
            </span>
         </td>
         <td class="cc_table_col">
             {{#ifEquals cartStatus 'Awaiting Approval'}}
                    <span class="cc_col_date" >
                    <img src="{!$Resource.Approved}"/> &nbsp;Pending
              </span> 
             {{else}}
                <span class="cc_col_date"> 
                    No &nbsp; &nbsp;
                </span>
             {{/ifEquals}}
          
         </td> 
         <td class="cc_table_col">
          <span class="cc_col_date">{{lastModifiedDateStr}}</span>
         </td>
         <td class="cc_table_col">
          
          {{#ifHasPermission 'isPricingVisible'}}
              <span class="cc_col_subtotal">
                  {{price subtotalAmount}}
              </span>
          {{/ifHasPermission}}
         </td>
         <td class="cc_table_col">
          <span class="cc_col_subtotal">{{ownerName}}</span>
         </td>
         <td class="cc_table_col" nowrap="true">
          <div class="button-group cc_button_group">

                {{#if isOwner}}
                <!-- <button type="button" class="cloneCart btn-link action-icon" data-id="{{sfid}}" data-owner="true" ><i class="fas fa-copy"></i></button> -->
                 <a href="#renameMod_{{sfid}}" data-toggle="modal" class="cc_rename action-icon">
                 	<i class="fas fa-pencil-alt"></i>
                 </a>
                 <button type="button" class="deleteCart btn-link cc_delet_cart action-icon" data-id="{{sfid}}" data-owner="true"><i class="fas fa-trash-alt"></i></button>
                {{else}}
                    {{#ifHasPermission 'isAdmin'}}
                  <!--  <button type="button" class="cloneCart btn-link action-icon" data-id="{{sfid}}" data-owner="true" ><i class="fas fa-copy"></i></button> -->
                    <button type="button" class="deleteCart btn-link cc_delet_cart action-icon" data-id="{{sfid}}" data-owner="true"><i class="fas fa-trash-alt"></i></button>
                    {{/ifHasPermission}}
                {{/if}}

          </div>
         </td>
        </tr>
       {{/each}}
       </tbody>
      </table>
     </div>
     {{#each this}}
      <div id="renameMod_{{sfid}}" class="modal fp_modal fade cc_modal cc_mycart_modal" tabindex="-1" role="dialog">
       <div class="modal-dialog" role="document">
        <div class="modal-content cc_modal_content">
         <div class="modal-header cc_modal_header">
          <button type="button" class="close fp_close" data-dismiss="modal" aria-label="Close"></button>
          <h3 class="modal-title cc_modal_title">{{pageLabelMap 'Title_ModifyCart' name }}</h4>
         </div>
         <div class="modal-body cc_modal_body">
          <form class="renameForm cc_rename_form">
           <input type="text" value="{{{name}}}" data-id="{{sfid}}" id="rename_{{sfid}}" name="rename_{{sfid}}" class="rename_{{sfid}} form-control cc_rename_input fp_rename_input">
          </form>
         </div>
         <div class="modal-footer cc_modal_footer">
          <button class="fp_btn_primary renameCart" data-id="{{sfid}}" data-dismiss="modal">{{pageLabelMap 'Save'}}</button>
         </div>
        </div>
       </div>
      </div>
     {{/each}}
    </div>
    {{#ifEquals this.length 0}}
    <div id="pdcloadingsign">Loading Carts</div>
    {{/ifEquals}}
   </div> 
  </script>


<script>
jQuery(function($) {
Handlebars.registerHelper("ifEmptyCartList", function(options) {
    if (CCRZ.collections.PDCCartList.length == 0) {
        return options.fn(this);
    }
});

var cartCalled = false;

CCRZ.subsc = _.extend(CCRZ.subsc||{});
CCRZ.MyAccount = _.extend(CCRZ.MyAccount||{},{
    FPMyCarts :{
        register : function(registrar) {

            CCRZ.collections.PDCCartList = CCRZ.collections.CartList.extend({
                 fetch: function() {
                     var v = CCRZ.subsc.myCartsView;
                      v.$el.html(v.templateDesktop(v.cartList.toJSON()));
                     // var coll = this;
                     //    CCPDCMyAccountMyCartsController.getCarts(
                     //    CCRZ.pagevars.remoteContext,
                     //    function(response, event) {
                     //     if (response && response.success) {
                                //           //alert(response.success);
                     //          var carts = response.data.carts;
                     //         coll.reset(response.data.carts);   
                     //       }
                     //   }
                     //   );
                },
                refresh: function(callback) {
                    var coll = this;
                    CCPDCMyAccountMyCartsController.getCarts(
                        CCRZ.pagevars.remoteContext,
                        function(response, event) {
                            if (response && response.success) {
                                var carts = response.data.carts;
                                var x = document.getElementById("pdcloadingsign");
                                console.log('carts from account %o',carts); 
                                
                                
                                var adminCarts = [];
                                var currentUsersCarts = [];
                                var remainingCarts = [];
                                var allCartsList = [];
                                var finalCarts = [];
                                
                                $.each(carts, function( i, value ) {
                                   if(CCRZ.subsc.perms.isAdmin){
                                       if(value.cartStatus === 'Awaiting Approval'){
                                           adminCarts.push(value);
                                       }else if(value.cartStatus !== 'Awaiting Approval' && value.ownerId === CCRZ.currentUser.Id){
                                           console.log('Current User id ', CCRZ.currentUser.Id);
                                           currentUsersCarts.push(value);
                                       }else{
                                          remainingCarts.push(value); 
                                       }
                                   }else{
                                      
                                      if(value.cartStatus == 'Awaiting Approval' && value.contactUserId == CCRZ.currentUser.Id){
                                           console.log('Current User id ', CCRZ.currentUser.Id);
                                           currentUsersCarts.push(value);
                                       }else{
                                          if(value.cartStatus !== 'Awaiting Approval'){
                                              remainingCarts.push(value);
                                          }
                                       }
                                   }
                                   
                                });
                                
                                console.log('#### remainingCarts ', remainingCarts);
                                console.log('#### adminCarts ', adminCarts);
                                console.log('#### currentUsersCarts ', currentUsersCarts);
                                // Sort Other Users cart in decending Order
                                remainingCarts.sort(function(a, b){
                                    var dateA=new Date(a.lastModifiedDate), dateB=new Date(b.lastModifiedDate)
                                    return dateB-dateA
                                });
                                
                                // Sort Current Users Cart
                                currentUsersCarts.sort(function(a, b){
                                    var dateA=new Date(a.lastModifiedDate), dateB=new Date(b.lastModifiedDate)
                                    return dateB-dateA
                                });
                                
                                // Sort Admin Users if any
                                adminCarts.sort(function(a, b){
                                    var dateA=new Date(a.lastModifiedDate), dateB=new Date(b.lastModifiedDate)
                                    return dateB-dateA
                                });
                                
                                // Now add all the Carts in allCartsList array
                                $.each(adminCarts, function( i, value ) {
                                    allCartsList.push(value);
                                });
                                
                                $.each(currentUsersCarts, function( i, value ) {
                                    allCartsList.push(value);
                                });
                                
                                $.each(remainingCarts, function( i, value ) {
                                    allCartsList.push(value);
                                });
                                
                                response.data.carts = allCartsList;
                                console.log('#### allCartsList ', allCartsList);
                                coll.reset(response.data.carts);
                            }
                             callback();
                        }
                    );
                },
                changeOwner: function(cartId, callback) {
                    var coll = this;
                    CCPDCMyAccountMyCartsController.changeCartOwner(
                        CCRZ.pagevars.remoteContext,
                        cartId,
                        function(response, event) {
                            if (response && response.success) {
                                callback();
                            }
                        }
                    );
                },
                cloneCartNotOwner: function(cartId, callback) {
                    var coll = this;
                    CCPDCMyAccountMyCartsController.cloneCart(
                        CCRZ.pagevars.remoteContext,
                        cartId,
                        function(response, event) {
                            if (response && response.success) {
                                callback(response);
                            }
                        }
                    );
                },
            });
            //  var cartList = new CCRZ.collections.PDCCartList();
			CCRZ.views.FPMyCartsView = CCRZ.views.myCartsView.extend({
               
                events:{
                  "click .cloneCart" : "cloneCart",
                  "click .deleteCart" : "deleteCart",
                  "click .gotoCartDetails" : "gotoCartDetails",
                  "click .renameCart" : "renameCart",
                  "keypress .fp_rename_input" : "renameCartEnter"
                },
                initialize : function() {
                    this.cartList = new CCRZ.collections.PDCCartList();
                    var v = this;
                    // this.cartList.fetch();
                },
                fetchCarts : function(callback){
                  var v = this;                   
                    if(!cartCalled){
                        v.cartList.refresh(function(resp){
                            v.render();
                            cartCalled = true;
                        });
                    }

                  
                  // callback();
                },
                gotoCartDetails: function (event) {
                    var objLink = $(event.currentTarget) // $(event.target);
                    var id = objLink.data("id");
                    var sfid = objLink.data("sfid");
                    // console.log(sfid);
                    var owner = objLink.data("owner");
                    if (owner) {
                        cartDetails(id);
                    }
                    else {
                        this.cartList.changeOwner(sfid, function(resp) {
                            cartDetails(id);
                        });
                    }
                },
                renameCartEnter: function(event) {
                    var v = this;
                    if (event && event.keyCode == 13 || event.which == 13) {
                        event.preventDefault();
                    	v.renameCart(event);                        
                        return false;
                    } else {
                        return true;
                    }
                },                
                renameCart: function(event) {
                    var v = this;
                    var objLink = $(event.currentTarget) // $(event.target);                    
                    var sfid = objLink.data("id");
                    var inputId = 'rename_'+sfid;
                   
                    var newNameElement = document.getElementById(inputId);
                    var newName = newNameElement.value;
                    console.log(newName);
                    CCPDCMyAccountMyCartsController.setName(
                       CCRZ.pagevars.remoteContext,
                          sfid,
                          newName,
                          function(response){
                            v.cartList.refresh(function() { v.render();});
                            $('#renameMod_' + sfid).modal("hide");
                          }
                    );
                    
                },
                cloneCart: function(event) {
                    var objLink = $(event.currentTarget) // $(event.target); 
                    var id = objLink.data("id");
                    var owner = objLink.data("owner");
                    console.log("my cart id : %o ",id);
                    var v = this;
                    if (owner) {
                        this.cartList.cloneCart(id, function(resp) {
                             console.log('owner clone resp :%o',resp);
                            if (resp && resp.success && resp.data){

                               CCPDCMyAccountMyCartsController.setNewCartValues(
                                  CCRZ.pagevars.remoteContext,
                                  id,
                                  resp.data,
                                  function(response){
                                    console.log('set value %o',response);
                                    v.cartList.refresh(function() { v.render();});
                                  }
                                );

                                // cartDetails(resp.data);

                            }
                        });
                    }
                    else {
                        this.cartList.cloneCartNotOwner(id, function(resp) {
                            if (resp && resp.success && resp.data){
                                // console.log(resp.data.encId);
                                // cartDetails(resp.data.encId);
                                CCPDCMyAccountMyCartsController.setNewCartValues(
                                  CCRZ.pagevars.remoteContext,
                                  id,
                                  resp.data.encId,
                                  function(response){
                                    console.log('set value %o',response);
                                    v.cartList.refresh(function() { v.render();});
                                  }
                                );
                            }
                        });
                    }
                },
                deleteCart: function(event) {
                    var objLink = $(event.currentTarget) // $(event.target);
                    var id = objLink.data("id");
                    var owner = objLink.data("owner");
                    console.log('delete cart id: %o',id);
                    var v = this;
                    if (owner) {
                        CCPDCMyAccountMyCartsController.deleteCart(
                            CCRZ.pagevars.remoteContext,
                            id,
                            function(response){
                            if(response && response.success){
                                CCRZ.pagevars.currentCartID = response.data.newCart;
                                console.log('delete cart:%o',response);
                            } else{
                               console.log('delete cart:%o',response);
                            }
                            v.removeCartFromContext(id);
                            CCRZ.headerView.update();
                            v.cartList.refresh(function() { v.render();});
                            
                        });
                    }
                    else {
                        this.cartList.changeOwner(id, function(resp) {
                            v.cartList.deleteCart(id, function(response){
                                if(response && response.success){
                                    CCRZ.pagevars.currentCartID = '';
                                }
                                CCRZ.headerView.update();
                                v.cartList.refresh(function() { v.render();});
                            });
                        });
                    }
                },
                removeCartFromContext: function(cartId) {
                  var cart = _.find(this.cartList.models, function(item) {
                      if (item.attributes.sfid == cartId) {
                          return item;
                      }
                  });
                  if (cart && CCRZ.pagevars.currentCartID == cart.attributes.encryptedId) {
                     CCRZ.pagevars.currentCartID = '';
                  }
                }

            });
			CCRZ.subsc.myCartsView = new CCRZ.views.FPMyCartsView();
                //     model : cartList
           
            registrar.registerNewView('myCarts', CCRZ.pagevars.pageLabels['MyAccount_MyCarts'], CCRZ.subsc.myCartsView);
        }
    }
});

});
</script>
</apex:component>