<apex:component >
    <script type="text/javascript">
     CCRZ.uiProperties.CategoryTree.tmpl='CCFP-category-container-template';
    </script>
    <script id="CCFP-category-container-template" type="text/template">
  <div class="panel-group cc_categories_side_container" id="category-accordion" role="tablist" aria-multiselectable="true">
   {{#each .}}
   <div class="panel panel-default cc_panel cc_category_tree">
    <div class="panel-heading cc_heading" role="tab" id="{{sfid}}">
     {{#if children}}
      <h5 class="panel-title cc_title">
        <a href="/parts/ccrz__CCPage?pageKey=coveo&CoveoStorefront=parts#category=1&f:@fp_prd_categoryhierarchy=[{{encodeURIComponent categoryID}}]">{{categoryID}}</a>
       <span class="pull-right cc_icon_area">
        <span class="icon-toggle cc_icon_toggle" role="button" data-toggle="collapse" data-target="#collapse-{{sfid}}" aria-expanded="true" aria-controls="collapse-{{sfid}}">
         <i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
       </span>
      </h5>
     {{else}}
      <h5 class="panel-title cc_title"> 
          <a href="/parts/ccrz__CCPage?pageKey=coveo&CoveoStorefront=parts#category=1&f:@fp_prd_categoryhierarchy=[{{encodeURIComponent categoryID}}]">{{categoryID}}</a>
      </h5>
     {{/if}}
    </div> <!--*******************-->

    {{#if children}}
     <div id="collapse-{{sfid}}" class="panel-collapse collapse cc_collapse" role="tabpanel" aria-labelledby="heading-{{sfid}}">
      <div class="panel-body cc_body">
       {{#each children}}
        <div class="panel-heading cc_heading" role="tab" id="{{sfid}}">
         {{#if children}}
          <h5 class="panel-title cc_title">
           {{categoryLink this 'cc_cat_name'}}
           <span class="pull-right cc_icon_area">
            <span class="icon-toggle cc_icon_toggle" role="button" data-toggle="collapse" data-target="#collapse-{{sfid}}" aria-expanded="true" aria-controls="collapse-{{sfid}}">
             <i class="fa fa-caret-down" aria-hidden="true"></i>
            </span>
           </span>
          </h5>
         {{else}}
          <h5 class="panel-title cc_title">{{categoryLink this 'cc_cat_name'}}</h5>
         {{/if}}
        </div> <!--*******************-->
        {{#if children}}
         <div id="collapse-{{sfid}}" class="panel-collapse collapse cc_collapse" role="tabpanel" aria-labelledby="heading-{{sfid}}">
          <div class="panel-body cc_body">
           {{#each children}}
            <div class="panel-heading cc_heading" role="tab" id="{{sfid}}">
             <h5 class="panel-title cc_title">{{categoryLink this 'cc_cat_name'}}</h5>
            </div> <!--*******************-->
           {{/each}}
          </div> <!--****************-->
         </div> <!--**************-->
        {{/if}}
       {{/each}}
      </div> <!--****************-->
     </div> <!--**************-->
    {{/if}}
   </div> <!--***********-->
   {{/each}}
  </div> <!--*****************-->
 </script>
</apex:component>