<apex:component >
    <script id="SiteLogin-Desktop" type="text/template">
    <div class="messagingSection-Error" role="alert" style="display: none"></div>
    <div class="messagingSection-Warning" role="alert" style="display: none"></div>
    <div class="messagingSection-Info" role="alert" style="display: none"></div> 
 <!--<div class="modal fade" id="loginModal" role="dialog">-->
 
  <!-- insert extra code -->
  
  <div class="panel panel-default cc_panel cc_user_login" style="width: 600px;margin: 0 auto;margin-top: 20px;">
   <div class="panel-heading cc_heading">
    <h3 class="panel-title cc_title" style="font-size: 18px;">LOG IN</h3>
   </div>

   <div class="panel-body cc_body">
      <p style="font-size: 24px;font-weight: 500;margin-top: 40px;">Log In</p>  
     <p class="cc_login">{{pageLabelMap 'SiteLogin_HaveAccount'}}</p>
    <form id="loginFormDsk" class="cc_login_form">
     <div class="row">
      <div class="col-md-10">
       <div class="form-group">
        <label class="sr-only" for="emailField">{{pageLabelMap 'SiteLogin_UsernameEmail'}} *</label>
        <input id="emailField" name="emailField" type="email" class="loginInput form-control cc_login_input" value="{{displayUsername}}" title="{{pageLabelMap 'SiteLogin_UsernameEmail'}}" placeholder="{{pageLabelMap 'SiteLogin_UsernameEmail'}} *"/>
       </div>
      </div>
      <div class="col-md-10">
       <div class="form-group">
        <label class="sr-only" for="passwordField">{{pageLabelMap 'SiteLogin_Password'}} *</label>
        <input id="passwordField" name="passwordField" type="password" class="loginInput form-control cc_password_input" placeholder="{{pageLabelMap 'SiteLogin_Password'}} *"/>
       </div>
      </div>
      <div class="row">
      <div class="col-md-12">
       <p class="cc_forgot_password"><a href="javascript:void(0);" style="padding-left: 16px" class="forgotPass cc_forgot_pass">{{pageLabelMap 'ForgotPassword_ForgotPassword'}}</a></p>
      </div>
     </div>
       <div class="col-md-12">
       <input type="button" id="send2Dsk" class="btn btn-default btn-sm cc_login_button" style="font-size:16px;width:200px;margin-top: 20px;margin-bottom: 60px" value="SUBMIT"/>
      </div>
     </div>
     
    </form>
   </div>
  </div>
           
 </script>
  <script>
    /*jQuery(function($) {
 CCRZ.subsc.models.SiteLogin = CCRZ.CloudCrazeModel.extend({
  init : function(callback) {
   callback();
  }
 });

 CCRZ.subsc.views.FPloginView = CCRZ.CloudCrazeView.extend({
  templatePhone : CCRZ.util.template('FP-Sign-up-Registration-Modal-Desktop'),
  templateDesktop : CCRZ.util.template('FP-Sign-up-Registration-Modal-Desktop'),
  viewName : "loginModalView",
  events : {
   "click #ccfploginBtn" : "doLoginDsk",
   "click #ccfploginph" : "doLoginPh",
   "click #ccfpCreateAccountBtn" : "gotoSecureRegistration",
   "click .forgotPass" : "gotoForgotPassword",
  },
  init : function(){
   var v = this;
   v.model = new CCRZ.subsc.models.SiteLogin();
   v.model.init(function() {
    v.render();
    if (v.getURLParameter('registrationSuccess') == 'true') {
     CCRZ.pubSub.trigger('pageMessage', CCRZ.createPageMessage('INFO', 'messagingSection-Info', 'SiteLogin_ThankYouForRegistering'));
    } 
       CCRZ.pubSub.on('view:FPloginView:open', function () {
           $('#sigupLoginModal').modal("show");
       });
   });
  },
  getURLParameter : function(name) {
   return decodeURI(
    (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
   );
  },
  render : function(){
   var v = this;
   if(CCRZ.display.isPhone()){
    this.setElement($('.signupLoginModalSelector'));
    this.$el.html(this.templatePhone(v.model.toJSON()));
   }else{
    this.setElement($('.signupLoginModalSelector'));
    this.$el.html(this.templateDesktop(v.model.toJSON()));
   }
   var qsErr = queryString("error");
   if(qsErr && _.isArray(qsErr)){
    var errorStr = _.escape(qsErr[0]);
    if(errorStr){
     CCRZ.pubSub.trigger('pageMessage', CCRZ.createPageMessage('ERROR', 'messagingSection-Error', errorStr));
    }
   }
   var qsInfo = queryString("message");
   if(qsInfo && _.isArray(qsInfo)){
    var infoStr = _.escape(qsInfo[0]);
    if(infoStr){
     CCRZ.pubSub.trigger('pageMessage', CCRZ.createPageMessage('INFO', 'messagingSection-Info', infoStr));
    }
   }
   CCRZ.pubSub.trigger("view:"+this.viewName+":refresh", this);
  },
  renderViewChanged: function() {
   if(this.viewChanged()) {
    this.render();
   }
  },
  viewChanged: function() {
   if(this.currentView !== CCRZ.display.currentView) {
    this.currentView = CCRZ.display.currentView;
    return true;
   }
   return false;
  },
  doLoginDsk : function(event){
   this.doLogin('#loginFormDskModal',event);
  },
  doLoginPh : function(event){
   this.doLogin('#loginFormDskModal',event);
  },
  doLogin : function(frmTarg, event){
   var loginForm = $(frmTarg).serializeObject();
   var view = this;
   CCRZ.headerView.doLogin(loginForm.emailField, loginForm.passwordField, function(error){
    CCRZ.pubSub.trigger('pageMessage', CCRZ.createPageMessage('ERROR', 'messagingSection-Error', _.escape(error)));
   });
  },
   gotoForgotPassword: function(event) {
   forgotPassword();
  },
  gotoSecureRegistration: function(event) {
   var secureUrl = (''||CCRZ.pagevars.storeSettings.Site_Secure_Domain__c).trim();
   if(0 != secureUrl.indexOf('https://')){
    secureUrl = 'https://'+secureUrl;
   }
   secureUrl = secureUrl + '/parts/ccrz__CCSiteRegister';
   if(CCRZ.getPageConfig('UR.DirLogin', true) && CCRZ.pagevars.queryParams["startURL"]){
    secureUrl+= '&startURL='+ CCRZ.pagevars.queryParams["startURL"];
   }   
   window.location = secureUrl;
  }
 });
 CCRZ.loginModalView = new CCRZ.subsc.views.FPloginView();
});
*/
</script>
</apex:component>