<apex:component controller="CCFPOrderPickUpDeliveryController" access="global" >

<apex:attribute name="porderID" description="Order ID" type="Id" assignTo="{!orderID}"/>
<apex:attribute name="porderItemGroupID" description="Order Item Group ID" type="Id" assignTo="{!orderItemGroupID}"/>
    
<body>

        <!--*|IF:MC_PREVIEW_TEXT|*-->
        <!--[if !gte mso 9]><!----><span class="mcnPreviewText" style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;">*|MC_PREVIEW_TEXT|*</span><!--<![endif]-->
        <!--*|END:IF|*-->
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
                <tr>
                    <td align="center" valign="top" id="bodyCell">
                        <!-- BEGIN TEMPLATE // -->
                        <!--[if (gte mso 9)|(IE)]>
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                        <tr>
                        <td align="center" valign="top" width="600" style="width:600px;">
                        <![endif]-->
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                            <tr>
                                <td valign="top" id="templatePreheader"  class="tpl-container"><div  mcblock="2602" mcblocktype="text" class="tpl-block"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              	<!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]-->
			    
				<!--[if mso]>
				<td valign="top" width="600" style="width:600px;">
				<![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding: 0px 18px 9px; text-align: center;">
                        
                            <a href="*|ARCHIVE|*" target="_blank">View this email in your browser</a>
                        </td>
                    </tr>
                </tbody></table>
				<!--[if mso]>
				</td>
				<![endif]-->
                
				<!--[if mso]>
				</tr>
				</table>
				<![endif]-->
            </td>
        </tr>
    </tbody>
</table></div></td>
                            </tr>
                            <tr>
                                <td valign="top" id="templateHeader"  mccontainer="header_container" class="tpl-container"><div  mcblock="2630" mcblocktype="image" class="tpl-block"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
    <tbody class="mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                        <tbody><tr>
                            <td class="mcnImageContent" valign="top" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                
                                    
                                <a href="https://fleetpride.com/parts"><img align="center" alt="" src="https://mcusercontent.com/610c1069ef2f0e79b999233a5/images/1742686d-5d6e-4461-a212-7c01369a2901.png" width="600" style="max-width:2500px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage"/></a>
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></div></td>
                            </tr>
                            <tr>
                                <td valign="top" id="templateBody" mccontainer="body_container" class="tpl-container"><div  mcblock="2634" mcblocktype="text" class="tpl-block"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              	<!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]-->
			    
				<!--[if mso]>
				<td valign="top" width="600" style="width:600px;">
				<![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                        
                            <span style="font-size:14px">Customer Name: {!mockOrder.ccrz__Account__r.Name}<br/>
Account #: {!mockOrder.Account_Site__c}<br/>
Online Order #: {!mockOrder.ccrz__OrderName__c}<br/>
Branch Order #:  {!orderItemGroups[0].Invoice_Number__c} <br/>
<br/>
                                Hi, {!mockOrder.ccrz__Contact__r.Name}.<br/>
                                <br/>
                <apex:outputText rendered="{!if(contains(orderItemGroups[0].ccrz__GroupName__c,'PickUp'),'true','false')}">
                Your order is ready for pick up at  {!orderItemGroups[0].CC_FP_Ship_From_Location__c} branch. When you arrive at the branch, please let them know you have an online will call order. 
                	<apex:outputText rendered="{!!isShortShip}">
                	Please have this email handy (printed or on mobile) to expedite the pick-up process. <br/><br/>
                    </apex:outputText>
                	<apex:outputText rendered="{!isShortShip}">
                	To expedite the process, please have your order number ready.<br/><br/>
                    </apex:outputText>

                </apex:outputText>
                <apex:outputText rendered="{!if(contains(orderItemGroups[0].ccrz__GroupName__c,'LocalDelivery'),'true','false')}">
                Your order is ready for Delivery.  <br/>
                </apex:outputText>

                <br/>
				<apex:outputText rendered="{!if(contains(orderItemGroups[0].ccrz__GroupName__c,'LocalDelivery'),true,false) && NOT(isShortShip)}">
                If you need to contact the branch for any reason please call them at {!orderItemGroups[0].CC_FP_Ship_From_Location_Phone_Number__c}  <br/><br/>
                </apex:outputText>

                <apex:outputText rendered="{!if(contains(orderItemGroups[0].ccrz__GroupName__c,'PickUp'),true,false) && NOT(isShortShip)}">
                If you need to contact the branch for any reason please call them at {!orderItemGroups[0].CC_FP_Ship_From_Location_Phone_Number__c}
                                <br/> <br/>
                The branch is located at: {!mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.Address_Line_1__c} {!mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.Address_Line_2__c} {!mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.City__c} {!mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.State__c} {!mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.Zipcode__c}             
                                <br/> <br/>
                </apex:outputText>
                <apex:outputText rendered="{!if(contains(orderItemGroups[0].ccrz__GroupName__c,'LocalDelivery'),true,false) && isShortShip}">
                <b>Please note:</b> Currently, we have fewer products on hand than expected. See below for the quantity you ordered versus the amount we can ship at this time. If you have any concerns, please contact the branch at (214) 630-8360.
                                <br/> <br/>
                </apex:outputText>
                <apex:outputText rendered="{!if(contains(orderItemGroups[0].ccrz__GroupName__c,'PickUp'),true,false) && isShortShip}">
                <b>Please note:</b> Currently, we have fewer products on hand than expected. See below for the quantity you ordered versus the amount we have available at this time. If you have any concerns, please contact the branch at (214) 630-8360.
                                <br/> <br/>
                </apex:outputText>
                      For store hours and driving directions please click <a href="https://branches.fleetpride.com/{!LOWER(mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.State__c)}/{!LOWER(SUBSTITUTE(mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.City__c,' ',''))}/truckparts-{!LOWER(mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.Location__c)}.html">here.</a><br/><br/>              
       <table border="1" >
           <tr>		
               			<td>Part Number</td>
                        <td>Product Name</td>
                        <td>Quantity Ordered</td>
                        <td>Available Quantity</td>
           </tr>

                 <apex:repeat var="c" value="{!orderItems}">
                    <tr style="{!IF(c.ccrz__Quantity__c != c.Shipped_Quantity__c, 'background-color: #ffff00;', '')}">
                        <td><a href='{!storefrontURL}ccrz__ProductDetails?sku={!c.ccrz__Product__r.ccrz__SKU__c}'>{!c.ccrz__Product__r.DSP_Part_Number__c}</a></td>
                        <td><a href='{!storefrontURL}ccrz__ProductDetails?sku={!c.ccrz__Product__r.ccrz__SKU__c}'>{!c.ccrz__Product_Name__c}</a></td>
                        <td>{!c.ccrz__Quantity__c}</td>
                        <td>{!c.Shipped_Quantity__c}</td>
                    </tr>
                </apex:repeat>   
             
        </table>
                <apex:outputText rendered="{!if(contains(orderItemGroups[0].ccrz__GroupName__c,'PickUp'),true,false) && isShortShip}">
                    <br/> <br/>
                The branch is located at: {!mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.Address_Line_1__c} {!mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.Address_Line_2__c} {!mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.City__c} {!mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.State__c} {!mockOrder.ccrz__OriginatedCart__r.CC_FP_Location__r.Zipcode__c}             
                                <br/> <br/>
                </apex:outputText>

                                <br/>
                                Thank You!<br/>
                                Your Fleetpride Team<br/>
                                <br/>
If you have any questions or concerns, please feel free to contact us at <a href="mailto:customerservice@fleetpride.com" target="_blank">customerservice@fleetpride.com&nbsp;</a>or <a href = "https://direct.lc.chat/11918442/"> Chat With Us </a>  </span>
                        </td>
                    </tr>
                </tbody></table>
				<!--[if mso]>
				</td>
				<![endif]-->
                
				<!--[if mso]>
				</tr>
				</table>
				<![endif]-->
            </td>
        </tr>
    </tbody>
</table></div><div  mcblock="2638" mcblocktype="image" class="tpl-block"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
    <tbody class="mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                        <tbody><tr>
                            <td class="mcnImageContent" valign="top" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                
                                    
                                <img align="center" alt="" src="https://mcusercontent.com/610c1069ef2f0e79b999233a5/images/2d5517f9-48d8-4ad8-b5a0-36843ad36d64.png" width="600" style="max-width:2500px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage"/>
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></div></td>
                            </tr>
                            <tr>
                                <td valign="top" id="templateFooter"  mccontainer="footer_container" class="tpl-container"><div  mcblock="2614" mcblocktype="socialFollow" class="tpl-block"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock" style="min-width:100%;">
    <tbody class="mcnFollowBlockOuter">
        <tr>
            <td align="center" valign="top" style="padding:9px" class="mcnFollowBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer" style="min-width:100%;">
    <tbody><tr>
        <td align="center" style="padding-left:9px;padding-right:9px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnFollowContent">
                <tbody><tr>
                    <td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td align="center" valign="top">
                                    <!--[if mso]>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                    <![endif]-->
                                    
                                        <!--[if mso]>
                                        <td align="center" valign="top">
                                        <![endif]-->
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent">
                                                                                    <a href="https://www.facebook.com/fleetprideinc/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" alt="Facebook" style="display:block;" height="24" width="24" class=""/></a>
                                                                                </td>
                                                                            
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->
                                    
                                        <!--[if mso]>
                                        <td align="center" valign="top">
                                        <![endif]-->
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent">
                                                                                    <a href="https://fleetpride.com/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" alt="Website" style="display:block;" height="24" width="24" class=""/></a>
                                                                                </td>
                                                                            
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->
                                    
                                        <!--[if mso]>
                                        <td align="center" valign="top">
                                        <![endif]-->
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:0; padding-bottom:9px;" class="mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent">
                                                                                    <a href="https://www.linkedin.com/company/fleetpride/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-linkedin-48.png" alt="LinkedIn" style="display:block;" height="24" width="24" class=""/></a>
                                                                                </td>
                                                                            
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->
                                    
                                    <!--[if mso]>
                                    </tr>
                                    </table>
                                    <![endif]-->
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

            </td>
        </tr>
    </tbody>
</table></div><div  mcblock="2618" mcblocktype="divider" class="tpl-block"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
    <tbody class="mcnDividerBlockOuter">
        <tr>
            <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 10px 18px 25px;">
                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 2px solid #EEEEEE;">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>
<!--            
                <td class="mcnDividerBlockInner" style="padding: 18px;">
                <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
-->
            </td>
        </tr>
    </tbody>
</table></div><div  mcblock="2622" mcblocktype="footer" class="tpl-block"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              	<!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]-->
			    
				<!--[if mso]>
				<td valign="top" width="600" style="width:600px;">
				<![endif]-->
              
				<!--[if mso]>
				</td>
				<![endif]-->
                
				<!--[if mso]>
				</tr>
				</table>
				<![endif]-->
            </td>
        </tr>
    </tbody>
</table></div></td>
                            </tr>
                        </table>
                        <!--[if (gte mso 9)|(IE)]>
                        </td>
                        </tr>
                        </table>
                        <![endif]-->
                        <!-- // END TEMPLATE -->
                    </td>
                </tr>
            </table>
        </center>
    </body>    
    
    
</apex:component>