<apex:component controller="CoveoFPProductsController" > 
    <style>
        .fp_vin_searchbox.fp_searchbox{
        width: 100%;
        margin-bottom: 20px;
        }
        .vin-error-msg{
         color: red;
        }
    </style>
	<script id="CC-FP-ProductFitment-Desktop-tmpl" type="text/template">
    <div class = "row">
     	<div class="col-sm-12 col-md-6 cc_FPVinDecoder">
         	<div class="fp_d_flex fp_align_items_center">
                <div class="fp_vin_searchbox fp_searchbox">
                    <input id="vinCode" required type="Text" minlength="17" maxlength="17" placeholder="Enter VinCode"/>
                    <button id="vinDecoder" class="fp_submit_btn"><i class="fas fa-chevron-right"></i></button>
                </div>  
             </div>   
        </div>
        <div class="col-sm-12 col-md-6 cc_FPVinDecoder">
         	<div class="fp_d_flex fp_align_items_center">
                <div class ="vin-error-msg hide"></div>    
             </div>   
        </div>  
    </div>    

    <!-- selection dropdown starts -->
    <div class="row">
 		<div class="col-sm-6 col-md-3 CC-FP-ProductFitment-Year">
             <div class="fp_selectbox">
                <select id="productFitmentYear">
                    <option value="" selected disabled>Year</option>
                     {{#each this.productFitmentYearList}}                     
                     <option value={{this}} id ={{this}}>{{this}}</option>
                    {{/each}}
                 </select>
             </div>
         </div>

        <div class="col-sm-6 col-md-3 CC-FP-ProductFitment-Make">
            <div class="fp_selectbox disabled">
                <select id="productFitmentMake" disabled>
                    <option value="" selected disabled>Make</option>   
                    {{#each this.productFitmentMakeList}}                     
                    <option value={{this.MakeDesc__c}} id ={{this.Make__c}} >{{this.MakeDesc__c}}</option>
                    {{/each}}
                 </select>
             </div>
        </div> 
        
        <div class="col-sm-6 col-md-3 CC-FP-ProductFitment-Model">
           <div class="fp_selectbox disabled">
               <select id="productFitmentModel" disabled>
                   <option value="" selected disabled>Model</option> 
                   {{#each this.productFitmentModelList}}                     
                   <option value={{this.ModelDesc__c}} id ={{this.Model__c}} >{{this.ModelDesc__c}}</option>
                   {{/each}}
                </select>
            </div>
       </div> 
       <div class="col-sm-6 col-md-3 CC-FP-ProductFitment-Engine">
           <div class="fp_selectbox disabled">
            	<select id="productFitmentEngine" disabled>
                	<option value="" selected disabled>Engine</option> 
                    {{#each this.productFitmentEngineList}}                     
                    <option value={{this.Note__c}} id ={{this.Note__c}} >{{this.Note__c}}</option>
                    {{/each}}
                </select>
           </div>
        </div>
      </div>
      <!-- selection dropdown ends -->
          
      <div class="fp_disclaimer">
          <p>{{pageLabelMap 'PRODUCT_FITMENT_DISCLAIMER'}}</p>   
      </div>
    </script>   
    <script type="text/javascript">
    jQuery(function($) { 
        var fpVinCookieKey = CCRZ.pagevars.effAccountId + 'VINResponse'; // Cookie key is identical to PLP
        var selectedYMME = selectedYMME || {};
        var nonGenericePart = 'NON-GENERICECATPART';
        CCRZ.pubSub.on('view:productDetailView:refresh', function(view) {   
            CCRZ.subsc       = CCRZ.subsc || {};
            CCRZ.subsc.views = CCRZ.subsc.views || {};
            CCRZ.subsc.models = CCRZ.subsc.models || {};
            
            CCRZ.subsc.models.FPProductFitmentModel = CCRZ.CloudCrazeModel.extend({
                fetch: function(callback) {
                    var m = this;
                    CCPDCProductDetailSimpleController.getProductFitmentYear(
                        CCRZ.pagevars.remoteContext,CCRZ.productDetailModel.attributes.product.prodBean.sku,
                        function(response) {
                            var data; 
                            if(response && response.success) {
                                m.data= response.data;  
                                if (callback) {
                                    callback();
                                }
                            }
                            else {
                                console.log('Error Occured');
                            } 
                        }
                    );
                }
            });  //end of model code
            
            CCRZ.subsc.views.FPProductFitmentView = CCRZ.CloudCrazeView.extend({
                viewName:  'FPProductFitmentView',
                fpProductFitmentTmpl: CCRZ.util.template('CC-FP-ProductFitment-Desktop-tmpl'),               
                managedSubView : true,
                events:{
                    "change #productFitmentYear"   : "getProductFitmentMake", 
                    "change #productFitmentMake"   : "getProductFitmentModel",
                    "change #productFitmentModel"  : "getProductFitmentEngine",
                    "change #productFitmentEngine" : "getProductFitmentMessage",
                    "click #vinDecoder" 		   : "getVinDetails"
                },
                init : function() { 
                    var view = this;  
                    this.model.data = {};
                    this.model.data.productFitmentYearList = this.getAllYears(1946);
                    view.render();
                    var isUniversalFit = CCRZ.productDetailModel.attributes.product.prodBean.universalFit;
                    var YMME = this.getYMMECookie() == "" ? "" : JSON.parse(this.getYMMECookie()); 
                    if(YMME !=null && YMME !="" && !isUniversalFit){
                        selectedYMME.Year     = YMME.Year;
                        selectedYMME.Make     = YMME.Make;
                        selectedYMME.MakeDesc = YMME.MakeDesc;
                        selectedYMME.Model    = YMME.Model;
                        selectedYMME.ModelDesc =YMME.ModelDesc;
                        selectedYMME.Engine   = YMME.Engine;
                        this.populateFitmentResponse(selectedYMME);
                    }       
                },              
                render: function(callback) {
                    this.setElement($("#FP-Product-Fitment-Data")); // where to insert the modal
                    var v = this;                                                        
                    v.$el.html(v.fpProductFitmentTmpl(this.model.data));  
                },
                getAllYears : function(startYear) {
                        var currentYear = new Date().getFullYear(), years = [];
                        while ( startYear <= currentYear ) {
                            years.push(startYear++);
                        }
                    	years.sort(function(a, b){return b - a});
                        return years;
                },
                getProductFitmentMake : function(event) {
                    var view = this;
                    var yearSelected = event.currentTarget.selectedOptions[0].id;
                    selectedYMME.Year = yearSelected; 
                    CCPDCProductDetailSimpleController.getProductFitmentMake(
                        CCRZ.pagevars.remoteContext,yearSelected, nonGenericePart,function(response){
                            var data;
                            if(response && response.success) {
                                data= response.data;    
                                    CCRZ.subsc.FPProductFitmentModel.data.productFitmentMakeList = data.productFitmentMakeList;
                                    view.render();                                    
                                    $("#productFitmentYear option[value='" + yearSelected + "']").attr("selected", "selected");
                                    $("#productFitmentMake").removeAttr('disabled');
                                    $("#productFitmentMake").parent().removeClass('disabled');
                                    $("#productFitmentModel").attr('disabled', 'disabled');	
                                    $("#productFitmentEngine").attr('disabled', 'disabled');
                            }
                            else {
                                console.log('Error Occured in retreiving fitment make');
                            } 
                            
                        }
                    );
                },
                getProductFitmentModel : function(event) {
                    var view = this;
                    var makeSelected = event.currentTarget.selectedOptions[0].id;
                    selectedYMME.Make = makeSelected; 
                    selectedYMME.MakeDesc = event.currentTarget.selectedOptions[0].innerText;
                    CCPDCProductDetailSimpleController.getProductFitmentModel(
                        CCRZ.pagevars.remoteContext,selectedYMME.Year,makeSelected, nonGenericePart,function(response){
                            var data;
                            if(response && response.success) {
                                data= response.data;    
                                    CCRZ.subsc.FPProductFitmentModel.data.productFitmentModelList = data.productFitmentModelList;
                                    view.render();
                                    $("#productFitmentYear option[value='" + selectedYMME.Year + "']").attr("selected", "selected");
                                    $("#productFitmentMake option[id='" + makeSelected + "']").attr("selected", "selected");
                                    $("#productFitmentMake").removeAttr('disabled');
                                    $("#productFitmentMake").parent().removeClass('disabled');
                                    $("#productFitmentModel").removeAttr('disabled');
                                    $("#productFitmentModel").parent().removeClass('disabled');
                                    $("#productFitmentEngine").attr('disabled', 'disabled');
                            }
                            else {
                                console.log('Error Occured in retreiving fitment model');
                            } 
                            
                        }
                    );
                },	
                getProductFitmentEngine : function(event) {
                    var view = this;
                    var ModelSelected = event.currentTarget.selectedOptions[0].id;
                    selectedYMME.Model = ModelSelected; 
                    selectedYMME.ModelDesc = event.currentTarget.selectedOptions[0].innerText;
                    CCPDCProductDetailSimpleController.getProductFitmentEngine(
                        CCRZ.pagevars.remoteContext,selectedYMME.Year,selectedYMME.Make, ModelSelected, nonGenericePart,function(response){
                            var data;
                            if(response && response.success) {
                                data= response.data;    
                                    CCRZ.subsc.FPProductFitmentModel.data.productFitmentEngineList = data.productFitmentEngineList;
                                    view.render();
                                    $("#productFitmentYear option[value='" + selectedYMME.Year + "']").attr("selected", "selected");
                                    $("#productFitmentMake option[id='" + selectedYMME.Make + "']").attr("selected", "selected");
                                    $("#productFitmentModel option[id='" + ModelSelected + "']").attr("selected", "selected");
                                    $("#productFitmentMake").removeAttr('disabled');
                                    $("#productFitmentMake").parent().removeClass('disabled');
                                    $("#productFitmentModel").removeAttr('disabled');
                                    $("#productFitmentModel").parent().removeClass('disabled');
                                    $("#productFitmentEngine").removeAttr('disabled');
                                    $("#productFitmentEngine").parent().removeClass('disabled');
                            }
                            else {
                                console.log('Error Occured in retreiving fitment model');
                            } 
                            
                        }
                    );
                },
                getProductFitmentMessage : function(event) {
                    var view = this;
                    var EngineSelected = event.currentTarget.selectedOptions[0].innerText;
                    selectedYMME.Engine = EngineSelected;
                    this.populateFitmentResponse(selectedYMME);
                    this.setYMMECookie(selectedYMME);
                },
                populateFitmentResponse : function(selectedYMME){
                    CCPDCProductDetailSimpleController.getProductFitmentMessage(
                        CCRZ.pagevars.remoteContext,selectedYMME.Year,selectedYMME.MakeDesc, selectedYMME.ModelDesc,selectedYMME.Engine, CCRZ.productDetailModel.attributes.product.prodBean.sku,function(response){
                            var data;
                            if(response && response.success) {
                                data= response.data;    
                                if(data.productFitmentMessage.length > 0) {
                                    CCRZ.subsc.FPProductFitmentModel.data.productFitmentMessage = data.productFitmentMessage[0];
                                    $("#vehiclefitmentmessage").html("Fits standard " + selectedYMME.Year + " " + selectedYMME.MakeDesc + " " + selectedYMME.ModelDesc + " " + selectedYMME.Engine);
                                    //Display notes information for the selected vehicle fitment in PDP page
                                    //Clearing all the notes fields
                                    $("#notesmessage").empty();
                                    if(data.productFitmentMessage[0].Note1__c){
                                        $(".fp_more_info_link").removeClass("hidden");
                                        $("#notesmessage").html("<span>" + data.productFitmentMessage[0].Note1__c + "</span></br/>");
                                    }
                                    if(data.productFitmentMessage[0].Note2__c){
                                        $(".fp_more_info_link").removeClass("hidden");
                                        $("#notesmessage").append("<span>" + data.productFitmentMessage[0].Note2__c + "</span></br/>");
                                    }                                   
                                    if(data.productFitmentMessage[0].NonfitmentNotes__c) {
                                        $(".fp_more_info_link").removeClass("hidden");
                                        $("#notesmessage").html("<span>" + data.productFitmentMessage[0].NonfitmentNotes__c + "</span></br/>");                
                                    }
                                    if(data.productFitmentMessage[0].NonfitmentNotes2__c) {
                                        $(".fp_more_info_link").removeClass("hidden");
                                        $("#notesmessage").append("<span>" + data.productFitmentMessage[0].NonfitmentNotes2__c + "</span></br/>");    
                                    }
                                    if(data.productFitmentMessage[0].NonfitmentNotes3__c) {
                                        $(".fp_more_info_link").removeClass("hidden");
                                        $("#notesmessage").append("<span>"+ data.productFitmentMessage[0].NonfitmentNotes3__c + "</span></br/>");    
                                    }
                                    
                                } else {
                                    //Clearing all the notes fields
                                    $("#notesmessage").empty();
                                    $(".fp_more_info_link").addClass("hidden");
                                    //set unknownfitment message
                                    $("#vehiclefitmentmessage").html("Unknown fit for " + selectedYMME.Year + " " + selectedYMME.MakeDesc + " " + selectedYMME.ModelDesc + " " + selectedYMME.Engine);                                  
                                }   
                                // Setting Product Fitment Message
                                $("#fp_product_fitment_data_message").removeClass("hidden"); 
                                $("#selectVehicleLink").html("Switch Vehicle");                                    
                                $("#productFitmentMake").removeAttr('disabled');
                                $("#productFitmentMake").parent().removeClass('disabled');
                                $("#productFitmentModel").removeAttr('disabled');
                                $("#productFitmentModel").parent().removeClass('disabled');
                                $("#productFitmentEngine").removeAttr('disabled');
                                $("#productFitmentEngine").parent().removeClass('disabled');
                                ////
                                $("#productFitmentYear option[value='" + selectedYMME.Year + "']").attr("selected", "selected");
                                $("#productFitmentMake option[id='" + selectedYMME.Make + "']").attr("selected", "selected");
                                $("#productFitmentModel option[id='" + selectedYMME.Model + "']").attr("selected", "selected");
                                $("#productFitmentModel option[id='" + selectedYMME.Engine + "']").attr("selected", "selected");
                                $('#productFitmentModal').modal('hide');
                            }
                            else {
                                console.log('Error Occured in retreiving fitment Message');
                            } 
                            
                        }
                    );
                },		
                getVinDetails : function(event){
                    var view = this;
                    vin = $("#vinCode").val();
                    if(vin){
                        Visualforce.remoting.Manager.invokeAction(
                            '{!$RemoteAction.CoveoFPProductsController.getVinDetails}',
                            vin,
                            function(response){
                                response = JSON.parse(response);
                                if(response.success && response.vinResponse.returnCode == '0'){
                                    $('.vin-error-msg').addClass('hide');
                                    selectedYMME.Year = response.vinResponse.year;
                                    selectedYMME.Make = response.vinResponse.make;
                                    selectedYMME.MakeDesc = response.vinResponse.make;
                                    selectedYMME.Model = response.vinResponse.model;
                                    selectedYMME.ModelDesc = response.vinResponse.model;
                                    selectedYMME.Engine = response.vinResponse.engine;
                                    view.populateFitmentResponse(selectedYMME);
                                    view.setYMMECookie(selectedYMME);
                                }
                                else if(response.vinResponse.returnCode != '0'){
                                    $('.vin-error-msg').removeClass('hide');
                                    $('.vin-error-msg').html('Enter a valid VIN or search another way');
                                }else{
                                    $('.vin-error-msg').removeClass('hide');
                                	$('.vin-error-msg').html(event.message);
                                }
                            },
                            { escape: false}
                        );   
                    }	
            },
                getYMMECookie : function(){
                   return CCRZ.getCookie(fpVinCookieKey);
                },
                setYMMECookie : function(selectedYMME){
                    CCRZ.setCookie(fpVinCookieKey,JSON.stringify(selectedYMME),-1);
                	CCRZ.setCookie(fpVinCookieKey,JSON.stringify(selectedYMME),1);
                }
            }); //end of view
            
            CCRZ.subsc.FPProductFitmentModel = new CCRZ.subsc.models.FPProductFitmentModel();
            CCRZ.subsc.FPProductFitmentView = new CCRZ.subsc.views.FPProductFitmentView({
                model : CCRZ.subsc.FPProductFitmentModel
            });   
            
        });  //end of pubsub refresh
        
    });  //end of jquery block
    </script>
</apex:component>