<apex:component controller="CCPDCMyAccountMyOrdersController">

<script type="text/javascript">
    CCRZ.uiProperties.myOrdersView.desktop.tmpl = 'CCFP-MyAccount-MyOrders-Desktop';
</script>

<script id="CCFP-MyAccount-MyOrders-Desktop" type="text/template">
   <div class="cc_panel cc_myaccount_myorders">
        <h2 class="fp_page_title">ONLINE ORDERS</h2>
        <div class="cc_body cc_myaccount_content">
        <div class="messagingSection-orderhistory-Error" role="alert" style="display: none"></div>
        <div class="messagingSection-orderhistory-Info" role="alert" style="display: none">
            <button type="button" class="close cc_close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&#215;</span></button>
        </div>
        {{#ifDisplay 'srch.ord'}}
        <form id="searchOrderForm" class="form-inline searchOrderForm cc_search_order_form cc_form-inline fp_searchOrderForm">
            <div class="row">
                <div class="col-md-3 col-lg-5">
                    <div class="fp_search_order_box">
                        <input id="searchOrderInput" type="text" class="form-control searchOrderInput input-text cc_search_order_input fp_search_order_input" name="searchOrderInput" value="{{searchOrder}}" placeholder="Search by Order #, Purchase Order #, or Status"/>
                        <span id="fp_searchBtn" class="fas fa-search"></span>
                    </div>
                </div>
                <!-- <div class="form-group form-group-sm">
                    <select name="searchOrderStatus" value="{{searchOrderStatus}}" class="form-control cc_search_order_status">
                        <option value="">{{pageLabelMap 'MyOrdersInc_AllOrderStatus'}}</option>
                    {{#each this.orderStatusOpts}}
                    <option value="{{this.value}}" {{#ifEquals ../searchOrderStatus this.value}} selected {{/ifEquals}}>{{this.label}}</option>
                    {{/each}}
                </select>
                </div> -->
                <div class="col-md-9 col-lg-7 text-right">
                    <div class="form-group form-group-sm date fp_date_range_filter">
                        <label for="fromDateStr" class="cc_from_date_str fp_from_date_str">Date range:</label>
                        <div class="input-group" id="datetimepickerFrom">
                            <input id="fromDateStr" name="fromDateStr" value="{{this.fromDateStr}}" class="requestedDate fromDate cc_from_date fp_requestedDate">
                        </div>
                    </div>
                    <div class="form-group form-group-sm date fp_date_range_filter">
                        <label for="toDateStr" class="cc_to_date_str fp_to_date_str">to</label>
                        <div class="input-group" id="datetimepickerTo">
                            <input id="toDateStr" class="requestedDate toDate cc_to_date fp_requestedDate" name="toDateStr" value="{{this.toDateStr}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="fp_btn_primary searchOrder cc_search_order fp_search_order_btn">{{pageLabelMap 'MyOrdersButton_SearchOrders'}}</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="cc_order_search_action">
            <!-- <button class="fp_btn_primary searchOrder cc_search_order">{{pageLabelMap 'MyOrdersButton_SearchOrders'}}</button> -->
            <!-- <input type="button" class="btn btn-default btn-sm resetOrder cc_reset_order" value="{{pageLabelMap 'MyOrdersButton_ResetOrders'}}"/> -->
        </div>
        {{/ifDisplay}}
    </div>
   </div>

   <!-- <div class="orderPaginationSec"></div> -->
   <div class="cc_panel cc_paginator">
    <div class="table-responsive">
     <div class="fp_no_data_found hide">
        <p>There are no orders that match the search criteria.</p>
		<p>Try a difference search or refine the date range above.</p>
     </div>
     <table id="orderTable" class="table fp_common_table table-hover shopping_cart cc_table cc_order_search_table fp_order_search_table">
      <thead>
        <tr class="cc_table_header_row fp_table_header_row">
        <th class="cc_table_header">
            <span class="cc_table_header_order_number">Order #</span>
        </th>
        <th class="cc_table_header">
            <span id="sortByDate" class="cc_table_header_order_date fp_sort_by_filter">
                {{pageLabelMap 'MyOrdersInc_OrderDate'}}  
               	<i id="fa-orderdate" class="fas fa-sort-down"></i>
            </span>
        </th>
        <th class="cc_table_header">
            <span class="cc_table_header_po_number">Purchase Order #</span>
        </th>
        <th class="cc_table_header">
            <span class="cc_table_header_order_amount">Order Total</span>
        </th>
        <th class="cc_table_header">
            <span class="cc_table_header_order_status"># Items</span>
        </th>
        {{#ifStoreSetting 'Filter_Orders_Based_on_Owner__c'}}
            &#160;
        {{else}}
        <th class="cc_table_header">
            <span id="sortByOwner" class="cc_table_header_order_owner ord_owner_hdr fp_sort_by_filter">
                Placed by 
				<i id="fa-owner" class="fas fa-sort-down"></i>
            </span>
        </th>
        {{/ifStoreSetting}}
        </tr>
    </thead>
    {{#each this.orderList}}
    <tbody class="fp_collapsed_header">
        <tr class="myAccOrderRows cc_table_row">
            <td class="cc_table_col">
                <span class="cc_col_order_number fp_col_order_number">
                    <span class="fp_collapsible_icon collapsed" data-toggle="collapse" data-target="#group-of-rows-{{@index}}">
                        <i class="fas fa-chevron-down"></i>
                        <i class="fas fa-chevron-up"></i>
                    </span>
                    <a href="#" data-id="{{encryptedId}}" class="gotoOrderDetails cc_goto_order_detailss">{{name}}</a>
                </span>
            </td>
            <td class="cc_table_col">
	            <span class="cc_col_order_date">{{orderDateStr}}</span>
            </td>
            <td class="cc_table_col">            
            	<span class="cc_col_po_number">
                {{#if this.poNumber}} 
                   {{poNumber}}
            	{{/if}}
                </span>
            </td>
            
            <td class="cc_table_col">
            {{#ifHasPermission 'isPricingVisible'}}
            <span class="cc_col_order_amount">{{price totalAmount currencyIsoCode}}</span>
            {{/ifHasPermission}}
            </td>
            <td class="cc_table_col">
            <span class="cc_col_order_statust">{{orderItemCount}} items</span>
            </td>
            {{#ifStoreSetting 'Filter_Orders_Based_on_Owner__c'}}
            &#160;
            {{else}}
            <td class="cc_table_col">
            <span class="cc_col_order_owner ord_owner">{{ownerR.sfdcName}}</span> 
            </td>
            {{/ifStoreSetting}}
            </tr>
        </tbody>
        <tbody id="group-of-rows-{{@index}}" class="fp_collapsed_content collapse">
            <tr class="fp_table_sub_header">
                <td></td>
                <td>Order Type</td>
                <td>
                   <span>Purchase Order #</span>
                </td>
                <td colspan="2">Tracking</td>
                <td>Status</td>
            </tr>
            {{#each this.EOrderItemGroupsS}}
            <tr>
                <td></td>
                <td>{{shipMethod}}</td>
                <td>
                    <span>
                        {{#if ../this.poNumber}} 
                        {{../poNumber}}
            		{{/if}}
                	</span>
                </td>
                <td colspan="2">Coming Soon</td>
                <td>{{status}}</td>
            </tr>
            {{/each}}
        </tbody>
        {{/each}}
     </table>
    </div>
    <div id="modalSec"></div>
   </div>
  </script>

    <script>    
        CCRZ.subsc = _.extend(CCRZ.subsc || {});
        CCRZ.MyAccount = _.extend(CCRZ.MyAccount || {}, {
            FPMyOrders: {
                register: function (registrar) {

                    CCRZ.collections.PDCOrderList = CCRZ.collections.OrderList.extend({
                        reorderNotOwner: function (orderId, callback) {

                            var coll = this;
                            CCPDCMyAccountMyOrdersController.reorder(
                                CCRZ.pagevars.remoteContext,
                                orderId,
                                function (response, event) {
                                    console.log(response);
                                    if (response && response.success) {

                                        callback(response);
                                    }
                                }
                            );
                        },
                    });

                    CCRZ.views.FPMyOrdersView = CCRZ.views.myOrdersView.extend({
                        events: {
                            "click .gotoOrderDetails" : "gotoOrderDetails",
                            "click .searchOrder": "searchOrderByDate",
                            "click #fp_searchBtn" : "searchByFilter",
                            "click #sortByDate" : "sortByDateFilter",
                            "click #sortByOwner" : "sortByOwnerFilter",
                            "keypress .searchOrderInput" : "doSearchEnter"
                        },
                        renderDesktop : function(){
                            if(this.dataReady) {
                                var v = this;
                                v.data = {};
                                var formData = v.orderList.searchFormData || {};
                                //populate search order form data
                                v.data.searchOrder = formData.searchOrderInput;
                                v.data.searchOrderStatus = formData.searchOrderStatus;
                                v.data.fromDateStr = formData.fromDateStr;
                                v.data.toDateStr = formData.toDateStr;
                                
                                v.data.orderList = v.orderList.toJSON();
                                v.data.orderStatusOpts = CCRZ.searchForm.jsonOrderStatusOptions;
                                if (v.data.orderList.length > 0){
                                    v.$el.html(v.templateDesktop(v.data));
                                    $("#orderTable").parent().find('.fp_no_data_found').addClass('hide');
                                }else{
                                    $("#orderTable").parent().find('.fp_no_data_found').removeClass('hide');
                                    $("#orderTable").html('');
                                    // v.$el.html(v.templateDesktop('Custom Message'));
                                }
                                
                            }
                        },

                        gotoOrderDetails: function (event) {
                            var objLink = $(event.target);
                            var id = objLink.data("id");
                            orderDetails(id + '&cartId=' + CCRZ.pagevars.currentCartID);
                        },

                        searchOrderByDate: function(event) {
                            var v = this;
                            $('.searchOrderInput').val('');
                            v.searchOrder(); 
                            event.preventDefault();
                        },
                                                
                        doSearchEnter: function(event) {
                            var v = this;
                            if (event && event.keyCode == 13 || event.which == 13) {
                                $('#fromDateStr').val('');
                                $('#toDateStr').val('');
                                v.searchOrder();
                                return false;
                            } else {
                                return true;
                            }
                        },
                        
                        searchByFilter: function(event) {
                            var v = this;
                            $('#fromDateStr').val('');
                            $('#toDateStr').val('');
                            v.searchOrder();
                            return false;
                        },
                        
                        sortByDateFilter: function() {
                            var v = this;                           
                            if(CCRZ.pagevars.queryParams.sortBy=='OrderDate__c DESC' || CCRZ.pagevars.queryParams.sortBy=== undefined) {
                                CCRZ.pagevars.queryParams.sortBy='OrderDate__c ASC';
                            } else {
                                CCRZ.pagevars.queryParams.sortBy='OrderDate__c DESC';
                            }
                            v.orderList.fetch();
                        },
                        
                        sortByOwnerFilter: function() {
                            var v = this;
                            if(CCRZ.pagevars.queryParams.sortBy=='owner.Name DESC' || CCRZ.pagevars.queryParams.sortBy=== undefined) {
                                CCRZ.pagevars.queryParams.sortBy='owner.Name ASC';
                            } else {
                                CCRZ.pagevars.queryParams.sortBy='owner.Name DESC';
                            }
                            v.orderList.fetch();
                        },    
                        
                    });

                    //My Orders stuff
                    var orderList = new CCRZ.collections.PDCOrderList();
                    var useOrdPaginator = CCRZ.getPageConfig('pgbl.ord', false);
                    if (useOrdPaginator) {
                        CCRZ.orderPaginatorView = new CCRZ.views.navigatePaginationView({
                            model: orderList
                        });
                    }

                    CCRZ.subsc.myOrdersView = new CCRZ.views.FPMyOrdersView({
                        model: orderList
                    });

                    registrar.registerNewView('myOrders', CCRZ.pagevars.pageLabels['MyAccount_MyOrders'], CCRZ.subsc.myOrdersView);
                    if (useOrdPaginator) {
                        CCRZ.orderPaginatorView.listenTo(CCRZ.subsc.myOrdersView, "pagination:host:rendered", CCRZ.orderPaginatorView.hostRendered);
                    }
                }
            }
        });
    </script>
  <script>
   jQuery(function($) {
       CCRZ.pubSub.on('view:myOrdersView:refresh', function(theView) {
           if(CCRZ.pagevars.queryParams.sortBy !== undefined) {
               if(CCRZ.pagevars.queryParams.sortBy == 'OrderDate__c DESC') {
					$('#fa-orderdate').removeClass('fa-sort-up').addClass('fa-sort-down');
               } else {
					$('#fa-orderdate').removeClass('fa-sort-down').addClass('fa-sort-up');
               }
               if(CCRZ.pagevars.queryParams.sortBy == 'owner.Name DESC') {
                   $('#fa-owner').removeClass('fa-sort-up').addClass('fa-sort-down');
               } else {
                   $('#fa-owner').removeClass('fa-sort-down').addClass('fa-sort-up');
               }
           } else {
               $('#fa-orderdate').removeClass('fa-sort-up').addClass('fa-sort-down');
               $('#fa-owner').removeClass('fa-sort-up').addClass('fa-sort-down');
           }
       });
   });
   </script>
</apex:component>