<apex:component >
<script type="text/javascript">
CCRZ.subsc = _.extend(CCRZ.subsc||{});
CCRZ.Checkout = _.extend(CCRZ.Checkout||{},{
    shippingOverride :{
        register : function(index, registrar){
            CCRZ.views.PDCShippingView = CCRZ.views.ShippingView.extend({});
            CCRZ.subsc.shippingView = new CCRZ.views.PDCShippingView();

            registrar.registerView(index, CCRZ.pagevars.pageLabels['CheckOut_ShippingStep'], CCRZ.subsc.shippingView, 'images/shipping_payment_header.png');
        }
    }
});
</script>

</apex:component>