<apex:component > 

<div id="CCPDCSiteFooter" class="site-footer" ></div>

<script id="CCPDC-SiteFooter-View" type="text/template">
<div class="wrap">
    <div class="footer-logo">
        <img src="https://fleetpride--c.na87.content.force.com/servlet/servlet.FileDownload?file=0151W000002qEmJ" alt="PDC">
    </div>
    <div class="footer-nav">
        <div class="genesis-nav-menu">
            <ul id="menu-footer-menu" class="menu">
                <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43">{{pageLabelMap 'CC_PDC_Footer_1'}}</li>
                <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43">{{pageLabelMap 'CC_PDC_Footer_2'}}</li>
                 <li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43"> <a href="https://fleetpride.my.salesforce.com/sfc/dist/version/downloadNoFlash?oid=00D40000000Mwmn&ids=0681W0000081gFQ&d=/a/1W000000kAU8/tD.Gm2zrQmCkixoUS3wHNWEL5VEQ9wmQtSIEnu6.8iI&asPdf=false">CALIFORNIA PROP 65</a></li>
                <li id="menu-item-527" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-527 footer-copyright">© Copyright 2018 Parts Distributing Company. All Rights Reserved.</li>
            </ul>
        </div>
    </div>
    <div class="footer-social"></div>
 </div>
</script>

<script type="text/javascript">
jQuery(function($) {
     CCRZ.subsc       = CCRZ.subsc || {};
    CCRZ.subsc.views = CCRZ.subsc.views || {};
    CCRZ.subsc.views.PDCFooterView = CCRZ.CloudCrazeView.extend({
        events : {},
        viewName:  'PDCFooterView',
        template: CCRZ.util.template('CCPDC-SiteFooter-View'),

        init : function() {
            this.render();
        },
        renderDesktop: function() {
            this.setElement($('#CCPDCSiteFooter'));
            this.$el.html(this.template(this));
        },
        renderPhone: function() {
            this.setElement($('#CCPDCSiteFooter'));
            this.$el.html(this.template(this));
        }
    });
        CCRZ.subsc.footerView = new CCRZ.subsc.views.PDCFooterView(); 
 
   
});
    
</script>

</apex:component>