<apex:component controller="CCPDCPDPInterchangeController">

<div id="pdpInterchangeDiv" name="pdpInterchangeDiv"></div>
<script id="CCPDC-PDPInterchange-Desktop" type="text/template">
     {{#ifNotEmpty this}}
    <div class="PDPInterchange">
    <div class="panel panel-default cc_panel cc_spotlight_products">
     <div class="panel-heading cc_heading">
      <h3 class="panel-title cc_title">
        Interchange Products
      </h3>
     </div>
     <div class="panel-body cc_body">

     {{#each this}}
      <div class="row">
       <div class="col-md-3">
        <a href="javascript:void(0);" class="productName cc_product_name_img">
         <!-- <img class="spot img-responsive center-block" src="{{this.thumbnailURI}}"> -->
         <img class="spot img-responsive center-block" src="{{this.EProductMediasS.[0].URI}}">
        </a>
       </div>

       <div class="col-md-9">
        <h5>
         <a href="#" class="productName prodLink cc_prod_link relatepdLink" data-sku="{{this.SKU}}">{{this.sfdcName}}</a>
        </h5>
         <!-- <p class="ccpdc_brandpartnumber">  
           <span class="ccpdc_brand">{{this.FPBrandName}}</span>
           <span class="ccpdc_partnumber">{{this.partNumber}}</span>
          </p> -->

           <div class="ccpdc_brandpartnumber">
           <div class="ccpdc_brand">{{pageLabelMap 'CC_Brand'}} {{this.FPBrandName}}</div>
            <div class="ccpdc_partnumber">{{pageLabelMap 'CC_Part'}} {{this.partNumber}}</div>
          </div>

        <p class="description cc_description">
         {{this.shortDesc}}
        </p>
           <p class="price cc_price">
            {{#ifHasPermission 'isPricingVisible'}}
                
                  {{#ifNotEquals this.price 0}}
                    {{#ifNotEquals this.price 10000}}
                      <span class="cc_price_label">Price:</span> 
                      <span class="cc_price_value">${{this.price}}</span>
                    {{else}}
                      <span class="cc_price_value">{{pageLabelMap 'CC_PDC_Pricing_Failed_Message'}}</span>
                    {{/ifNotEquals}}
                  {{else}}
                  <span class="cc_price_value">{{pageLabelMap 'CC_PDC_Pricing_Failed_Message'}}</span>
                  {{/ifNotEquals}}
            {{/ifHasPermission}}
           </p>
       </div>
      </div>
      <hr>
      {{/each}} 
     </div>
    </div>

  </div>

      {{/ifNotEmpty}}
</script>

<script>

Handlebars.registerHelper('ifNotEmpty', function(o, options) {
    if (!_.isEmpty(o)) {
        return options.fn(this);
    }
    return options.inverse(this);
});

 jQuery(function ($) {
        CCRZ.subsc       = CCRZ.subsc || {};
        CCRZ.subsc.views = CCRZ.subsc.views || {};





          CCRZ.models.pdpInterchangeModel = CCRZ.CloudCrazeModel.extend({
          className : "CCPDCPDPInterchangeController",
          fetch: function(callback) {
              // console.log('fetch');
              var model = this;
              // console.log(CCRZ.pagevars.remoteContext);
              CCPDCPDPInterchangeController.getRelatedProducts(
                  CCRZ.pagevars.remoteContext,CCRZ.productDetailModel.attributes.product.prodBean.sku,
                  function(response){

                      if(response && response.success) {
                          console.log('Response ', response);
                          model.set('interChangeProducts', response.data.interChangeProducts);
                          if (callback) {
                              callback(response.data.interChangeProducts);
                          }
                      } 
                      else {
                          console.log(response);
                      } 
              });
          }
      });


        console.log('Loading CCPDC-PDPInterchange-Desktop');
         CCRZ.subsc.views.PDPInterchangeView = CCRZ.CloudCrazeView.extend({
                templateBoth : CCRZ.util.template("CCPDC-PDPInterchange-Desktop"),
                className: 'CCPDCPDPInterchangeController',
                viewName : "PDPInterchangeView",
                template: CCRZ.util.template('ContentFrame'),
                managedSubView: true,
                events: {
                   "click .relatepdLink" : "redirectRelateProduct",
                  // "click .cancelNewBranch" : "cancelNewBranch"
                },
                  init : function() {
                    var view = this;
                    CCRZ.pdpInterchangeModel.fetch(function(data) {
                      view.render();
                    });
                },
                render : function(){
                    console.log('in render');

                    this.setElement($("#pdpInterchangeDiv")); // where to insert the modal
                    var v = this;
                    var data =CCRZ.pdpInterchangeModel.get('interChangeProducts');
                    v.$el.html(v.templateBoth(data));
                    //callback();
                    CCRZ.pubSub.trigger("view:"+this.viewName+":refresh", this);
                },

                redirectRelateProduct : function(event){
                    var objLink = $(event.target);
                    var sku = objLink.data("sku");
                    productDetails(sku);
                }
         });


        CCRZ.pubSub.once('view:productDetailView:refresh', function(view) {
             CCRZ.pdpInterchangeModel = new CCRZ.models.pdpInterchangeModel();
              CCRZ.subsc.pdpInterchangeView = new CCRZ.subsc.views.PDPInterchangeView({
              model : CCRZ.pdpInterchangeModel
             });

         });

         CCRZ.pubSub.on('view:PDPInterchangeView:refresh', function(view) {
          $('.cc_product_name_img.productName').on('click', function(){
            $(this).parent('.col-md-3').parent('.row').find( ".col-md-9 h5 a.relatepdLink" ).trigger( "click" );
          });
         });

      
});

</script>

    
</apex:component>