<apex:component >
  <script>
    CCRZ.uiProperties.OrderReviewView.partial.totalsSection='#CCPDC-TotalSection';


  </script>

  <script id="CCPDC-TotalSection" type="text/template">
  <div class="total cc_total">
  {{#ifHasPermission 'isPricingVisible'}}
   {{#if this.coreProductCharges}}          
      <p class="cc_subTotal">
       <span class="cc_subTotal_label">{{pageLabelMap 'CC_PDC_CoreCharges_Total'}}&#58;</span>
       <span class="cc_subTotal">{{price this.coreProductCharges}}</span>
      </p>    
   {{/if}}        
   <p class="cc_subTotal">
    <span class="cc_subTotal_label">{{pageLabelMap 'CartInc_Subtotal'}}&#58;&#160;</span>
    <span class="cc_subTotal">{{price this.subTotal this.currencyCode}}</span>
   </p>
    {{#if this.tax }}
     <p class="cc_taxes">
      <span class="cc_tax_label">{{pageLabelMap 'CheckOut_EstimatedTax'}}&#58;&#160;</span>
      <span class="cc_tax">{{price this.tax this.currencyCode}}</span>
     </p>
    {{/if}}
   {{#ifStoreSetting 'Skip_Shipping_Calculation__c'}}
    &#160;
   {{else}}
    <p class="cc_shipping">
     <span class="cc_shipping_label">{{pageLabelMap 'CartInc_Shipping'}}&#58;&#160;</span>
     <span class="cc_shipping_charge">{{price this.shippingCharge this.currencyCode}}</span>
    </p>
   {{/ifStoreSetting}}
   {{#ifDisplay 'OR.ShowTotalSurcharge' }}
    {{#if this.surchargeAmount }}
     <p class="cc_surcharge">
      <span class="cc_surcharge_label">{{pageLabelMap 'CartInc_Surcharge'}}&#58;&#160;</span>
      <span class="cc_surcharge_amount">{{price this.surchargeAmount this.currencyCode}}</span>
     </p>
    {{/if}}
   {{/ifDisplay}}
   <p class="cc_grand_total">
    <span class="cc_total_label">{{pageLabelMap 'CartInc_GrandTotal'}}&#58;&#160;</span>
    <span class="cc_total_amount">{{sum this.subTotal this.tax this.shippingCharge this.adjustment this.surchargeAmount this.currencyCode}}</span>
   </p>
   {{/ifHasPermission}}
  </div>
 </script>
</apex:component>