<apex:component >
 
  <script>
    CCRZ.uiProperties.Menu.desktop.tmpl = 'CCPDCNavBar';
      CCRZ.uiProperties.productSearchView.desktop.selector = '.nav_search';
  </script>
  <script id="CCPDCNavBar" type="text/template">
    <div id="secnav cc_secnav">
     <nav class="navbar navbar-default navbar-static-top cc_navbar cc_navbar-default">
      <div class="container cc_container">
       <div class="navbar-header cc_navbar_header">
        <button type="button" class="navbar-toggle collapsed cc_navbar_toggle" data-toggle="collapse" data-target="#navbar"
         aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
          <!--***********-->
          <span class="icon-bar cc_icon-bar"></span>
          <span class="icon-bar cc_icon-bar"></span>
          <span class="icon-bar cc_icon-bar"></span>
        </button>
       </div>
       <div id="navbar" class="navbar-collapse collapse cc_navbar_collapse">
        <ul class="nav navbar-nav cc_nav cc_navbar-nav fp_navbar-nav">
         {{#each .}}
          {{#if children}}
           <li class="dropdown cc_dropdown fp_dropdown">
            <a href="{{linkURL}}" class="dropdown-toggle cc_dropdown_toggle" data-toggle="dropdown" data-menuid="{{menuId}}" {{linkTarget openInNewWindow}} role="button" aria-haspopup="true" aria-expanded="false">{{displayName}}<span class="caret"></span></a>
            <ul class="dropdown-menu cc_dropdown-menu fp_dropdown-menu">
             {{> subMenuItem}}
            </ul>
           </li>
          {{else}}
           {{#ifEquals mType 'Category'}}
            <li class="dropdown cc_dropdown fp_dropdown"><a class="category cc_category" href="javascript:void(0);" data-id="{{linkURL}}" data-menuid="{{menuId}}" {{linkTarget openInNewWindow}}>{{displayName}}</a></li>
           {{/ifEquals}}
           {{#ifEquals mType 'Product'}}
            <li class="dropdown cc_dropdown fp_dropdown"><a class="product cc_product" href="javascript:void(0);" data-id="{{linkURL}}" data-menuid="{{menuId}}" {{linkTarget openInNewWindow}}>{{displayName}}</a></li>
           {{/ifEquals}}
           {{#ifEquals mType 'URL'}}
            <li class="dropdown cc_dropdown fp_dropdown"><a class="menuTypeURL cc_menu_type_url" href="javascript:void(0);" data-href="{{linkURL}}" data-menuid="{{menuId}}" {{linkTarget openInNewWindow}}>{{displayName}}</a></li>
           {{/ifEquals}}
           {{#ifEquals mType 'None'}}
            <li class="dropdown cc_dropdown fp_dropdown"><a href="javascript:void(0);" class="cc_display_name" data-menuid="{{menuId}}">{{displayName}}</a></li>
           {{/ifEquals}}
          {{/if}}
         {{/each}}
           
            {{#ifPDCUser}}
        <li class="nav-search-bar">
          <div class="nav_search">
            {{/ifPDCUser}}
          </div>
        </li>
        </ul>   
       </div>
            
            <!--***************-->
      </div>
     </nav>
    </div>
  </script>
</apex:component>