<apex:component controller="CCPDCMyAccountMyBackordersController">
<style>
#loading-img {         
    background: url("{!$Resource.LoadingHourglass}") center center no-repeat;         
    background-size: 100px 100px;         
    height: 100%;         
    z-index: 20;     
}     

#spinner {         
    background: #e9e9e9;         
    display: none;         
    position: fixed;         
    top: 0;         
    right: 0;         
    bottom: 0;         
    left: 0;         
    opacity: 0.7;         
    z-index: 10000;     
}
</style>

<script id="PDC-MyAccount-MyBackorders-Desktop" type="text/template">
    <div id="SizeLimitModal" class="modal fade" tabindex="-1" role="dialog">
                                        <div class="modal-dialog cc_modal-dialg" role="document">
                                            <div class="modal-content cc_modal-content">
                                                <div class="modal-header cc_modal-header">
                                                    <button type="button" class="close cc_close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&#215;</span></button>
                                                    <h4 class="modal-title cc_modal-title" id="SizeLimitModalLbl">Warning Message</h4>
                                                    </div>
                                                    <div class="modal-body cc_modal-body">
                                                        <p id="qty-product-message-limit" class="modalText cc_modal_text"></p>
                                                        </div>
                                                        <div class="modal-footer cc_modal-footer">
                                                            <button id="SizeLimitModalOK" data-dismiss="modal" type="button" class="btn btn-fleetpride">OK</button>
                                                            </div>
                                                            </div>
                                                            </div>
                                                            </div> 
    <div class="mybackorders">
            <div id="errorPanel"></div>
         {{#ifNotEmpty this}}
        <button class="col-md-offset-9 btn-fleetpride addAllButton" id="allAllItemButton">{{pageLabelMap 'MyAccount_Backorders_AddAll'}}</button>
          {{/ifNotEmpty}}
        <div class="panel panel-default cc_panel cc_myaccount_mybackorder">

            <div class="panel-heading cc_heading">
                <h3 class="panel-title cc_title">{{pageLabelMap 'MyAccount_Backorders_MyBackorder'}}</h3>
            </div>
            <div class="cc_myaccount_content panel-body cc_body">
            <div class="table-responsive">
                <table id="myOrderTable" class="table table-hover">
                    {{#ifNotEmpty this}}
                    <tr class="cc_table_header_row">
                        <th class="cc_table_header">
                            <span class="cc_table_header_orderId">{{pageLabelMap 'MyAccount_Backorders_Image'}}</span>
                        </th>
                        <th class="cc_table_header">
                            <span class="cc_table_header_warehouse_status">{{pageLabelMap 'MyAccount_Backorders_PartDesc'}}</span>
                        </th>
                        <th class="cc_table_header" style="    text-align: center;">
                            <span class="cc_table_header_warehouse_status">{{pageLabelMap 'MyAccount_Backorders_priceQty'}}</span>
                        </th>
                        <th class="cc_table_header">
                            <span class="cc_table_header_order_placed_date">Part Number</span>
                        </th>
                        <th class="cc_table_header">
                            <span class="cc_table_header_warehouse_status">{{pageLabelMap 'MyAccount_Backorders_Status'}}</span>
                        </th>
                        <th class="cc_table_header">
                            <span class="cc_table_header_warehouse_status">{{pageLabelMap 'MyAccount_Backorders_PONumber'}}</span>
                        </th>                       
                        <th class="cc_table_header">
                            <span class="cc_table_header_order_group">{{pageLabelMap 'MyAccount_Backorders_Action'}}</span>
                        </th>
                    </tr>
                    {{/ifNotEmpty}}
                    <!-- the currently use fake data from templating -->

                    {{#each this}}
                    <tr class="cc_table_row">
                        <td class="cc_table_col">
                            <img class="cc_col_name" src="{{this.imageURL}}" width="65px" height="65px">
                        </td>

                        <td class="cc_table_col">
                            <span class="cc_col_name">{{this.partDesc}}</span>
                        </td> 

                        <td class="cc_table_col">
                            <div class="cc_col_name">QTY:<strong>{{this.productQty}}</strong></div>
                            {{#ifHasPermission 'isPricingVisible'}}
                                <div class="cc_col_name">PRICE:<strong>{{this.productPrice}}</strong></div>
                                <div class="cc_col_name">SUBTOTAL:<strong>{{this.itemTotal}}</strong></div>
                            {{/ifHasPermission}}
                        </td>

                        <td class="cc_table_col">
                            <span class="cc_col_name part-number">{{stripSku this.sku}}</span>
                        </td>

                        <td class="cc_table_col">
                             {{#ifEquals this.warehouseStatus 'In Stock'}}
                                <span class="cc_col_name instock-status">{{this.warehouseStatus}}</span>
                             {{else}}
                                <span class="cc_col_name backorder-status">{{this.warehouseStatus}}</span>
                             {{/ifEquals}}
                        </td>
                        <td class="cc_table_col">
                            {{#ifNotEmpty this.poNumber}}
                            <!-- {debug this}} -->
                                <span class="cc_col_name">{{this.poNumber}}</span>
                            {{/ifNotEmpty}}
                        </td>                       
                        <td class="cc_table_col">
                            <span class="cc_col_name"><button class="btn-fleetpride deleteButton" id="{{this.sku}}">Delete</button></span>
                        </td>
                    </tr>
                   {{else}}

                    <tr class="cc_table_row">
                      <h3>{{pageLabelMap 'MyAccount_Backorders_No_backorders'}}</h3>
                    </tr>
                   {{/each}}

                </table>


            </div>
        </div>
        

    </div>

</script>
<div id="spinner">                
    <div id="loading-img"></div>            
</div>
<script type="text/javascript">

    CCRZ.MyAccount = _.extend(CCRZ.MyAccount||{},{
        PDCMyBackorders :{
            register : function(registrar){
                registrar.registerNewView('myBackorders', CCRZ.processPageLabelMap('MyAccount_Backorders'), new CCRZ.views.PDCMyBackordersView());
            }
        }
    });
Handlebars.registerHelper('ifNotEmpty', function(o, options) {
    if (!_.isEmpty(o)) {
        return options.fn(this);
    }
    return options.inverse(this);
});
Handlebars.registerHelper("debug", function(optionalValue) {
    console.log("Current Context");
    console.log("====================");
    console.log(this);
});
Handlebars.registerHelper("stripSku", function(optionalValue) {
    var str = optionalValue ? optionalValue : "";
    if(str && str.indexOf("-") !== -1){
        str = str.substring(str.indexOf("-") + 1);
    }   
    return str;
});

    jQuery(function($) {

        CCRZ.models.myBackorderModel = CCRZ.CloudCrazeModel.extend({
            className : "CCPDCMyAccountMyBackordersController",
            fetch: function(callback) {
                var model = this;
                CCPDCMyAccountMyBackordersController.getBackorderCartItems(
                    CCRZ.pagevars.remoteContext,
                    function(response){
                        
                        console.log(response);
                        if(response && response.success) {
                            model.set('backorderProducts', response.data.backorderProducts);
                            if (callback) {
                                callback(response.data.backorderProducts);
                                console.log('my Backorder %o',response);
                            }
                        } 
                        else {
                            console.log('my Backorder %o',response);
                        } 
                });
            }
        });

        CCRZ.views.PDCMyBackordersView = CCRZ.CloudCrazeView.extend({
            template: CCRZ.util.template('PDC-MyAccount-MyBackorders-Desktop'),     
            viewName : "PDCMyBackordersView",
            managedSubView : true,
            events:{
                "click .addAllButton": "addAllBackOrderItems",
                "click .deleteButton": "deleteBackOrderProduct"
            },
            init : function() {
                var view = this;
                // CCRZ.myBackorderModel.fetch(function(data) {
                //     view.render();
                // });
            },
            render : function(callback){
                var view = this;
                CCRZ.myBackorderModel.fetch(function(data) {
                    var data =CCRZ.myBackorderModel.get('backorderProducts');       
                    view.$el.html(view.template(data));
                    var theResult = Handlebars.compile($("#PDC-MyAccount-MyBackorders-Desktop").html());
                    $("#CCPDCMyAccountMyBackorders").html(theResult);
                });
                if(callback)
                callback();
            },
            addAllBackOrderItems: function(event){
                $("#spinner").show();
                var data =CCRZ.myBackorderModel.get('backorderProducts');
                
                var sendOutData = [];

                var index;
                for(index=0;index<data.length;index++){
                    if(data[index].warehouseStatus == 'Backordered'){
                        continue;
                    }else{
                        var currentData = [];
                        currentData.push(data[index].sku);
                        currentData.push(data[index].productQty);
                        currentData.push(data[index].productPrice);
                        currentData.push(data[index].itemTotal);
                        currentData.push(data[index].backOrderCartId);
                        if(data[index].poNumber) {
                            currentData.push(data[index].poNumber);
                        }
                    }
                    sendOutData.push(currentData);
                }


                var jsonObj = {};
                for (var i = 0 ; i < sendOutData.length; i++) {
                    jsonObj[""+(i+1)] = sendOutData[i];
                }
                var dataset = JSON.stringify(jsonObj);              

                CCPDCMyAccountMyBackordersController.addBockOrderItemsToCart(CCRZ.pagevars.remoteContext,
                    dataset,function(response) {
                        console.log('addBockOrderItemsToCart %o',response);
                        if (response.success) {

                            var currentpage = "{!$Page.ccrz__Cart}";
                            window.location.href = currentpage + '?cartId='+CCRZ.pagevars.currentCartID+getCSRQueryString();
                        }else{
                            if (!response.success && response.data.error.includes('{!$Label.Max_Number_of_Cart_Item_Allowed}')){
                                $("#spinner").hide();
                                $('#qty-product-message-limit').html('{!$Label.Max_Number_of_Cart_Item_Allowed}');
                                $('#SizeLimitModal').modal();

                          }
                            else {
                            $("#spinner").hide();
                            $("#errorPanel").html("Error occured while adding Products to Cart. <br/> Please be sure that You have atleast one In Stock Product!!");
                            $("#errorPanel").css("color", "red");
                            $("#errorPanel").css("font-face", "verdana");
                        } }                      
                    });
            },
            deleteBackOrderProduct: function(event){
                var v = this;
                var skutoDelete = event.currentTarget.id;
                CCPDCMyAccountMyBackordersController.deleteItemFromBackOrderCart(CCRZ.pagevars.remoteContext,
                    skutoDelete,function(response){
                    // CCRZ.myBackorderModel.fetch(function(data) {
                        console.log('deleteBackOrderProduct %o',response);
                        v.render();
                    // });
                });
            }
        });

        CCRZ.myBackorderModel = new CCRZ.models.myBackorderModel();
        CCRZ.PDCMyBackordersView = new CCRZ.views.PDCMyBackordersView({
        model : CCRZ.myBackorderModel
    });



    });
</script>

</apex:component>