<apex:component controller="CCPDCCartActionTotalsController" >
    <script>
      CCRZ.uiProperties.CartDetailView.partials.actionsTotals = '#CCPDC-CartDetail-ActionTotals-View';
      
    </script>
    
    <script id="CCPDC-CartDetail-ActionTotals-View" type="text/template">
      <div class="row">
        <div class="col-md-12"><!-- Was 'col-md-7'-->
         <div class="row">
          <div class="col-md-12">
           <div class="cc_action_totals cc_action_totals_btn">
            <button class="col-xs-12 col-md-2 btn btn-default btn-sm continueShoppingButton cc_continue_shopping_button cc_cart_divider" name="" type="button" >{{pageLabelMap 'CartInc_ContinueShopping'}}</button>
            {{#if false }}
            {{ else }}
             {{#ifStoreSetting 'AutoCalcPriceAdjust__c'}}
             {{else}}
              <!-- <button class="col-md-2 btn btn-default btn-sm getExtPricingButton cc_get_ext_pricing_button" type="button" >{{pageLabelMap 'CartInc_ApplyDiscounts'}}</button> -->
             {{/ifStoreSetting}}
             {{#ifDisplay 'WL.PkrOn'}}
             <button class="col-xs-12 col-md-2 btn btn-default btn-sm cc_create_cart_wishlist cc_cart_divider" data-toggle="modal" data-target="#wishMod" name="" type="button" >{{pageLabelMap 'Create_Cart_Wishlist'}}</button>
             {{/ifDisplay}}
            {{/if}}
            <!-- <button class="col-xs-12 col-md-2 btn btn-default btn-sm updateCartButton cc_update_cart_button pull-right" name="" type="button" >{{pageLabelMap 'CartInc_Update'}}</button> -->
            <!-- {{#if false }}
             {{#ifDisplay 'C.EmailAnon'}}
              <a href="#emailModal" id="emailCartLink" class="cc_email_cart_link" data-toggle="modal"><button class="btn btn-default btn-sm remove cc_email_cart_link_button" type="button" >{{pageLabelMap 'CartOrderEmailer_Header'}}</button></a>
             {{/ifDisplay}}
            {{else}}
             {{#ifDisplay 'C.EnableEmailCart'}}
              <a href="#emailModal" id="emailCartLink" class="cc_email_cart_link" data-toggle="modal"><button class="btn btn-default btn-sm remove cc_email_cart_link_button" type="button" >{{pageLabelMap 'CartOrderEmailer_Header'}}</button></a>
             {{/ifDisplay}}
            {{/if}} -->
            {{#ifEquals this.preventCheckout false}}
            {{#ifHasPermission 'isAdmin'}}
            {{else}}
              <button class="col-xs-12 col-md-2 btn btn-default btn-sm submit_for_approval_button cc_cart_divider" type="button" {{#ifEquals this.hasRestrictedProducts true}}disabled{{/ifEquals}}>Submit for Approval</button>
            {{/ifHasPermission}}
            {{/ifEquals}}
            <button class="col-xs-12 col-md-2 btn btn-default btn-sm updateCartButton cc_update_cart_button col-md-offset-3 cc_cart_divider" name="" type="button" >{{pageLabelMap 'CartInc_Update'}}</button>
          
            <!--************-->
            <!-- {{#if false }}
             {{#ifDisplay 'rfq.GuestUser'}}
              <a href="#rfqModal" id="rfqLink" class="cc_rfq_link" data-toggle="modal"><button class="btn btn-default btn-sm remove cc_rfq_link_button" type="button" >{{pageLabelMap 'CartRFQForm_Header'}}</button></a>
             {{/ifDisplay}}
            {{else}}
             {{#ifDisplay 'rfq.LoggedIn'}}
              <a href="#rfqModal" id="rfqLink" class="cc_rfq_link" data-toggle="modal"><button class="btn btn-default btn-sm remove cc_rfq_link_button" type="button" >{{pageLabelMap 'CartRFQForm_Header'}}</button></a>
             {{/ifDisplay}}
            {{/if}} -->
            <!--************-->
           </div>
          </div>
         </div>
        <div class='row'>
          <div id="cartApprovalMessageDiv"></div>
        </div>
        <div class="col-md-4">
         {{#ifStoreSetting 'Display_Cart_Coupon__c'}}
          <div class="panel panel-default cc_panel cc_shopping_cart_discount_panel">
           <div class="panel-heading cc_heading discount_heading">
            <h3 class="panel-title cc_title">{{pageLabelMap 'CartInc_discountCodes'}}</h3>
           </div>
           <div class="cc_myaccount_content panel-body cc_body">
            {{#if this.hasCoupon}}
             <form id="couponClearForm" class="cc_coupon_clear_form">
              <div class="discount_code cc_discount_code">
               <p class="cc_applied_coupon">{{pageLabelMap 'CartInc_AppliedCoupon'}} {{this.couponName}}</p>
               <p class="cc_clear_coupon_code"><button id="clearCouponBtn" type="button" class="btn btn-default btn-sm cc_clear_coupon">{{pageLabelMap 'CartInc_ClearCoupon'}}</button></p>
              </div>
             </form>
            {{else}}
             <form id="couponAddForm" class="cc_coupon_add_form">
              <div class="discount_code cc_discount_code">
               <p id="couponAddError" class="cc_coupon_add_error"></p>
               <p class="cc_enter_coupon_code">{{pageLabelMap 'CartInc_EntercouponCode'}}</p>
               <div class="form-group">
                <label for="addCouponId" class="sr-only">Add Coupon</label>
                <input type="text" id="addCouponId" name="couponId" class="form-control cc_add_coupon_id" />
                <div class="couponMessagingSection-Error"></div>
               </div>
               <button id="addCouponBtn" type="button" class="btn btn-default btn-sm cc_add_coupon">{{pageLabelMap 'CartInc_ApplyCoupon'}}</button>
              </div>
             </form>
            {{/if}}
           </div>
          </div>
         {{/ifStoreSetting}}
       </div>
        <div class="col-md-8">
           <ul class="checkout list-unstyled cc_checkout">
              {{#if coreProductCharges}}                                                
               <li class="grand_total cc_grand_total">
                {{#ifHasPermission 'isPricingVisible'}}
                <p class="price cc_price">
                  <span class="cc_label total">{{pageLabelMap 'CC_PDC_CoreCharges_Total'}}&#58;</span>                  
                  <span class="cc_value total">{{price coreProductCharges}}</span>
                </p>
              {{/ifHasPermission}}
               </li>                        
              {{/if}}            
              {{#if isFreeShipping}}
              <li id="isFreeShipping-wrapper" class="grand_total cc_grand_total">
                <p class="price cc_price">
                  <div id="freeParcel" class="cc_value">FREE {{this.shipType}} Shipping</div>
                </p>
              </li>
              {{/if}}
            {{#ifHasPermission 'isPricingVisible'}}
              <li class="grand_total cc_grand_total">
                <p class="price cc_price">
                  <!-- <span class="cc_value">-$50.00</span> -->
                </p>
              </li>
            {{/ifHasPermission}}
            {{#if subTotal}}
            {{#ifHasPermission 'isPricingVisible'}}
             <li class="grand_total cc_grand_total">
              <p class="price cc_price">
                <span class="cc_label total">{{pageLabelMap 'CartInc_Subtotal'}}&#58;</span>
                <span class="cc_value total">{{price subTotal}}</span>
              </p>
             </li>
            {{/ifHasPermission}}
            {{/if}}
            {{#if this.totalInfo}}
            {{#ifHasPermission 'isPricingVisible'}}
             <li class="cart_total_amount cc_cart_total_amount">{{this.totalInfo}}</li>
            {{/ifHasPermission}}
            {{/if}}
            <li class="totalsmessagingSection cc_total_messaging_section"></li>
            {{#if this.cartItems}}
             {{#ifNotEquals this.cartItems.length 0}}
              {{#if this.allowCheckout}}
              {{#ifEquals this.preventCheckout true}}
                <li>
                 <button class="btn btn-default btn-lg submit_for_approval_button cc_cart_divider" type="button" {{#ifEquals this.hasRestrictedProducts true}}disabled{{/ifEquals}}>Submit for Approval</button>
                </li>
               {{/ifEquals}}                   
               {{#ifEquals this.preventCheckout false}}
                <li>
                  <button type="button" id="prcdToCheckout" {{#ifEquals this.hasRestrictedProducts true}}disabled{{/ifEquals}} class="btn btn-default btn-lg checkOutBtn cc_checkout_btn" >
                     {{pageLabelMap 'CartInc_Checkout'}}
                 </button> 
                  
                 
                 
                </li>
               {{/ifEquals}}
              {{/if}}
             {{/ifNotEquals}}
            {{/if}}
           </ul>
          </div>
         </div>
       </div>

       
    </script>

    
</apex:component>