<apex:component >
<script type="text/javascript">
CCRZ.subsc = _.extend(CCRZ.subsc||{});
CCRZ.Checkout = _.extend(CCRZ.Checkout||{},{
    userInfoOverride :{
        register : function(index, registrar) {
            CCRZ.views.PDCUserInfoView = CCRZ.views.UserInfoView.extend({});
            CCRZ.subsc.userInfoView = new CCRZ.views.PDCUserInfoView();

            registrar.registerView(index, CCRZ.pagevars.pageLabels['CheckOut_InfoStep'], CCRZ.subsc.userInfoView, 'images/your_information_header.png');
        }
    }
});
</script>
</apex:component>