<apex:component controller="CCPDCCheckoutReviewController">
<script>
    CCRZ.uiProperties.OrderReviewView.desktop.tmpl='PDC-Review-Desktop';
    CCRZ.uiProperties.CartOrderReviewView.desktop.tmpl='PDC-Review-Cart-Desktop';

</script>

<style>
#loading-img {         
    background: url("{!$Resource.LoadingHourglass}") center center no-repeat;         
    background-size: 100px 100px;         
    height: 100%;         
    z-index: 20;     
}     

#spinner {         
    background: #e9e9e9;         
    display: none;         
    position: fixed;         
    top: 0;         
    right: 0;         
    bottom: 0;         
    left: 0;         
    opacity: 0.7;         
    z-index: 10000;     
}
</style>


<script id="PDC-Review-Desktop" type="text/template">
    <div class="panel panel-default cc_panel cc_checkout_review">
        <div class="panel-heading cc_heading">
            <h3 class="panel-title cc_title">{{pageLabelMap 'CheckOut_GeneralInformation'}}</h3>
        </div>
        <div class="panel-body cc_body">
            <form enctype="multipart/form-data" class="margin_form cc_OrderReview_new">
            <div class="messagingSection-Error" style="display: none"></div>
            <div class="messagingSection-Info" style="display: none"></div>
            <div class="messagingSection-Warning" style="display: none"></div>
            <div class="well cc_well cc_order_review">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <h5 class="cc_buyer_information">{{pageLabelMap 'CheckOut_BuyerInformation'}}</h5>
                        <p class="cc_buyer">
                            <span class="cc_buyer_firstname">{{this.buyerFirstName}} {{this.buyerLastName}}</span>
                            <span class="cc_buyer_phone">{{this.buyerPhone}}</span>
                            <span class="cc_buyer_email">{{this.buyerEmail}}</span>
                            <span class="cc_billing_address">{{> addressDisplay this.billingAddress}}</span>
                        </p>
                    </div>
                    <div class="col-xs-12 col-md-4">
                      {{#ifEquals this.isWillCall false}} 
                        <h5 class="cc_shipping_address_label">{{pageLabelMap 'CheckOut_OrderReviewShippingAddress'}}</h5>
                        <a id="edit_UserInfo" href="#edit_UserInfo" class="editAddressInfo cc_edit_address_info">{{pageLabelMap 'CheckOut_edit'}}</a><br>
                        <p class="cc_shipping">
                            <span class="cc_shipping_address">{{> addressDisplay this.shippingAddress}}</span>
                        </p>
                      {{/ifEquals}}
                      {{#ifEquals this.isWillCall true}}
                        {{#ifEquals this.isShipRemainder true}}
                        <h5 class="cc_shipping_address_label">{{pageLabelMap 'CheckOut_OrderReviewShippingAddress'}}</h5>
                        <a id="edit_UserInfo" href="#edit_UserInfo" class="editAddressInfo cc_edit_address_info">{{pageLabelMap 'CheckOut_edit'}}</a><br>
                        <p class="cc_shipping">
                            <span class="cc_shipping_address">{{> addressDisplay this.shippingAddress}}</span>
                        </p>
                        {{/ifEquals}}
                      {{/ifEquals}}
                        <br/>
                        {{#if this.hasCoupon}}
                        <h5 class="cc_coupon_label">{{pageLabelMap 'CartInc_AppliedCoupon'}}</h5>
                        <p class="cc_coupon_section">
                            <span class="cc_coupon">{{this.couponName}}</span>
                        </p>
                        {{/if}}

                    </div>
                    <div class="col-xs-12 col-md-4">
                      {{#ifEquals this.isWillCall true}}
                        <!-- {{#ifEquals this.isShipRemainder false}} -->
                          <h5 class="cc_shipping_address_label">{{pageLabelMap 'CC_PDC_WillCall_Address'}}</h5>
                          <a id="edit_UserInfo" href="#edit_UserInfo" class="editAddressInfo cc_edit_address_info">{{pageLabelMap 'CheckOut_edit'}}</a><br>
                          <p class="cc_shipping">
                            <span class="cc_shipping_address">{{> addressDisplay this.willCallAddress}}</span>
                          </p>
                        <!-- {{else}} -->
<!--                           <h5 class="cc_shipping_address_label">{{pageLabelMap 'CheckOut_OrderReviewShippingAddress'}}</h5>
                          <a id="edit_UserInfo" href="#edit_UserInfo" class="editAddressInfo cc_edit_address_info">{{pageLabelMap 'CheckOut_edit'}}</a><br>
                          <p class="cc_shipping">
                            <span class="cc_shipping_address">{{> addressDisplay this.shippingAddress}}</span>
                          </p>
                          <h5 class="cc_shipping_address_label">{{pageLabelMap 'CC_PDC_WillCall_Address'}}</h5>
                          <a id="edit_UserInfo" href="#edit_UserInfo" class="editAddressInfo cc_edit_address_info">{{pageLabelMap 'CheckOut_edit'}}</a><br>
                          <p class="cc_shipping">
                            <span class="cc_shipping_address">{{> addressDisplay this.willCallAddress}}</span>
                          </p>
                        {{/ifEquals}}
                      {{else}}
                        <h5 class="cc_shipping_address_label">{{pageLabelMap 'CheckOut_OrderReviewShippingAddress'}}</h5>
                        <a id="edit_UserInfo" href="#edit_UserInfo" class="editAddressInfo cc_edit_address_info">{{pageLabelMap 'CheckOut_edit'}}</a><br>
                        <p class="cc_shipping">
                            <span class="cc_shipping_address">{{> addressDisplay this.shippingAddress}}</span>
                        </p> -->
                      {{/ifEquals}}
                    </div>
                </div>
            </div>
            <div class="reviewCartSection"></div>
            <div class="reviewPaymentSection"></div>
            <p class="link_button cc_link_button">
                <input class="btn btn-default btn-sm processBack cc_process_back" type="button" value="{{pageLabelMap 'Back'}}" alt="{{pageLabelMap 'Back'}}" />
                {{#ifEquals this.preventCheckout true}}
                  <input disabled class="btn btn-default btn-sm processReview proceed cc_process_review" type="button" value="{{pageLabelMap 'CheckOut_MobileGotoPayment'}}" alt="{{pageLabelMap 'CheckOut_AcceptAndProceed'}}" />
                  {{else}}
                  <input class="btn btn-default btn-sm processReview proceed cc_process_review" type="button" value="{{pageLabelMap 'CheckOut_MobileGotoPayment'}}" alt="{{pageLabelMap 'CheckOut_AcceptAndProceed'}}" />
                {{/ifEquals}}
            </p>
            </form>
        </div>
    </div>
</script>


<div id="spinner">                
    <div id="loading-img"></div>            
</div>

<script id="PDC-Review-Cart-Desktop" type="text/template">
  <div class="well cc_well cc_order_review">{{pageLabelMap 'CCPDC_CheckoutReview_Inventory_Info'}}</div>
   <div id="cart_items_container reviewSection" class="">
    <div class="cart_item_list">
     {{#each this.cartItems}}
     <div class="cart_item row">
      {{#ifNotEquals this.cartItemType 'Coupon'}}
       <div class="col-md-2">
        {{{displayImage this.mediaWrapper 'orderReview img-responsive'}}}
       </div>
       <div class="col-md-6">
        <p class="cc_item_title">
         {{#ifEquals pricingType 'external'}}
          {{#if extName}}
           <span class="cc_ext_name">{{displayProductName 'Aggregate_Display' displayProductBean.name extName }}</span>
          {{else}}
           <span class="cc_ext_name">{{displayProductName 'Aggregate_Display' displayProductBean.name mockProduct.name }}</span>
          {{/if}}
         {{else}}
          <span class="cc_ext_name">{{displayProductName 'Aggregate_Display' displayProductBean.name mockProduct.name }}</span>
         {{/ifEquals}}
         <div class="ccpdc_brandpartnumber">
           {{#if mockProduct.FPBrandName}}   
           <div class="ccpdc_brand">{{pageLabelMap 'CC_Brand'}} {{mockProduct.FPBrandName}}</div>
           {{/if}}
           {{#if mockProduct.DSPPartNumber}}
           <div class="ccpdc_partnumber">{{pageLabelMap 'CC_Part'}} {{mockProduct.DSPPartNumber}}</div>
           {{/if}}
        </div>
        </p>
       </div>
       <div class="col-md-4">
        <div class="price cc_price">
         {{#ifNotEquals this.cartItemType 'Coupon'}}
<!--           <p class="cc_order_quantity">
           <span class="cc_quantity_label">{{pageLabelMap 'CartInc_Qty'}}&#58;&#160;</span>
           <span class="cc_quantity">{{this.quantity}}</span>
          </p> -->
           <!-- shipping and backorder-->
          <p class="cc_order_quantity">
           <span class="cc_quantity_label">Shipping Qty&#58;&#160;</span>
           <span class="cc_quantity">{{this.shippingQuantity}}</span>
          </p>
          {{#if this.backorderQuantity}}
          <p class="cc_order_quantity">
           <span class="cc_quantity_label">Backorder Qty&#58;&#160;</span>
           <span class="cc_quantity">{{this.backorderQuantity}}</span>
          </p>    
          {{/if}}                                      
          <!-- shipping and backorder-->          
         {{#ifHasPermission 'isPricingVisible'}}
          <p class="cc_item_price">
         
           {{#if this.price}}
            <span class="cc_price_label">{{pageLabelMap 'CartInc_Price'}}&#58;&#160;</span>
            <span class="cc_price">{{price this.price}}</span>
           {{/if}}
           {{#if this.absoluteDiscount}}
            {{#ifGreater this.absoluteDiscount 0}}
             <span class="cc_price_label">{{pageLabelMap 'Checkout_YouSave'}}&#58;&#160;</span>
             <span class="cc_price">{{price this.absoluteDiscount}}</span>
            {{/ifGreater}}
            {{#ifLessThan this.absoluteDiscount 0}}
             <span class="cc_price_label">{{pageLabelMap 'CartInc_Surcharge'}}&#58;&#160;</span>
             <span class="cc_price">{{priceAbs this.absoluteDiscount}}</span>
            {{/ifLessThan}}
           {{/if}}
          </p>
           {{/ifHasPermission}}
         {{/ifNotEquals}}
         {{#ifHasPermission 'isPricingVisible'}}
         <p class="cc_item_total">
          <span class="cc_total_label">{{pageLabelMap 'CartInc_Total'}}&#58;&#160;</span>
          <span class="cc_total">{{price this.itemTotal}}</span>
         </p>
          {{/ifHasPermission}}
        
         <!--
         <p class="cc_external">
          {{#ifEquals this.pricingType 'external'}}
           {{#if this.extName}}
            <span class="cc_ext_sku_label">{{pageLabelMap 'Checkout_SKU'}}&#58;&#160;</span>
            <span class="cc_ext_sku">{{this.extSKU}}</span>
           {{else}}
            <span class="cc_checkout_sku_label">{{pageLabelMap 'Checkout_SKU'}}&#58;&#160;</span>
            <span class="cc_checkout_sku">{{this.mockProduct.sku}}</span>
           {{/if}}
          {{else}}
           <span class="cc_checkout_sku_label">{{pageLabelMap 'Checkout_SKU'}}&#58;&#160;</span>
           <span class="cc_checkout_sku">{{this.mockProduct.sku}}</span>
          {{/ifEquals}}
         </p>
         -->
         
         <!-- <p class="ccpdc_brandpartnumber">  
           {{#if this.mockProduct.FPBrandName}}
           <span class="ccpdc_brand">{{this.mockProduct.FPBrandName}}</span>&nbsp;
           {{/if}}
           {{#if this.mockProduct.partNumber}}
           <span class="ccpdc_partnumber">{{this.mockProduct.partNumber}}</span>
           {{/if}}
          </p> -->
         {{#if sellerName}}
          <p class="cc_seller">
           <span class="cc_soldby_label">{{pageLabelMap 'Prod_SoldBy'}}&#58;&#160;</span>
           <span class="cc_soldby">{{sellerName}}</span>
          </p>
         {{/if}}
         {{#if this.isSubscription}}
          <p class="cc_subscription_summary">
           {{subscriptionSummary 'Order_Subscription_' this.subscriptionFrequency mockProduct.sku itemTotal}}
          </p>
          <p class="cc_subscription_next_date">
           {{pageLabelMap 'Order_Subscription_Next_Payment'}} {{this.nextSubscriptionDateStr}}
          </p>
          {{#if this.isLimitedSubscription}}
           <p class="cc_subscription_summary">
            {{pageLabelMap 'Order_Subscription_End_Date'}} {{this.subscriptionEndDateStr}}
           </p>
          {{/if}}
         {{/if}}
         {{#each minorLines}}
          {{#if this.isSubscription}}
           <p class="cc_subscription_summary">
            {{subscriptionSummary 'Order_Subscription_' this.subscriptionFrequency mockProduct.sku itemTotal}}
           </p>
           <p class="cc_subscription_next_date">
            {{pageLabelMap 'Order_Subscription_Next_Payment'}} {{this.nextSubscriptionDateStr}}
           </p>
           {{#if this.isLimitedSubscription}}
            <p class="cc_subscription_end_date">
             {{pageLabelMap 'Order_Subscription_End_Date'}} {{this.subscriptionEndDateStr}}
            </p>
           {{/if}}
          {{/if}}
         {{/each}}
         {{#if this.minorLines }}
          <p class="cc_included_items">
           <a href="#included_items{{this.itemID}}" id="includedItemsLink" data-toggle="modal" data-id="{{this.itemID}}">{{pageLabelMap 'CheckOut_IncludedItems'}}</a>
          </p>
          {{> includedDisplay}}
         {{/if}}
        </div>
       </div>
      {{/ifNotEquals}}
      {{#ifEquals this.cartItemType 'Coupon'}}
       <p class="item_title coupon_title">
        {{{this.mockProduct.name}}}
       </p>
      {{/ifEquals}}
     </div>
     <hr>
     {{/each}}
    </div>
   </div>      
   {{> totalsSection}}
  </script>

<script type="text/javascript">
CCRZ.subsc = _.extend(CCRZ.subsc||{});
CCRZ.Checkout = _.extend(CCRZ.Checkout||{},{
    reviewOverride :{
        register : function(index, registrar){
            CCRZ.views.PDCOrderReviewView = CCRZ.views.OrderReviewView.extend({
                initSetup: function(callback) {
                    callback();
                },
                editAddressInfo: function() {
                    CCRZ.pubSub.trigger('view:PDCShipToView:open');
                },
                processReview: function() {
                    $("#spinner").show();
                    CCRZ.subsc.loadOverlay('#ccloading');
                    $(".processReview").prop("disabled",true);
                    var data = CCRZ.cartCheckoutView.model.toJSON();                  
                    CCPDCCheckoutReviewController.updateCart(
                        CCRZ.pagevars.remoteContext,
                        JSON.stringify(data), 
                        function(response, event) {     
                            if (response && response.success) {
                                $("#spinner").hide();
                                CCRZ.cartCheckoutView.slideRight();
                            }
                            else {
                                if (event.status) {
                                    cartDetails();
                                    $("#spinner").hide();
                                }
                                else {
                                    document.location = "{!$Page.ccrz__Cart}?cartID=" + CCRZ.pagevars.currentCartID + getCSRQueryString() + '&isTimeout=true';
                                    $("#spinner").hide();
                                }
                            }
                            CCRZ.subsc.unloadOverlay();
                        },
                        {timeout : 120000, buffer : false}
                    );
                }
            });
            
            var shipToModel = CCRZ.subsc.shipToModel.data;
            registrar.model.attributes.isWillCall = shipToModel.CCFPIsWillCall;
            registrar.model.attributes.isShipRemainder = shipToModel.CCFPIsShipRemainder;
            shipToModel.location.postalCode = shipToModel.location.zip;
            registrar.model.attributes.willCallAddress = shipToModel.location;
            if(typeof shipToModel.shipToAddress !== 'undefined' && shipToModel.shipToAddress) {
              registrar.model.attributes.shippingAddress.address1 = shipToModel.shipToAddress.addressFirstline;
            }

            CCRZ.subsc.orderReviewView = new CCRZ.views.PDCOrderReviewView();
            
            registrar.registerView(index, CCRZ.pagevars.pageLabels['CheckOut_ReviewStep'], CCRZ.subsc.orderReviewView, 'images/order_review_header.png');
        }
    }
});
   
CCRZ.pubSub.once('view:OrderReviewView:refresh', function(view) {
   let coreProductCharges = 0; 
    CCPDCCheckoutReviewController.fetchCoreCharges(
      CCRZ.pagevars.remoteContext,            
      function(response){
        console.log('resetCoreCharges response is %o', response);

        if(response.success) {          
          coreProductCharges = response.data.coreProductCharges;
              if(coreProductCharges && coreProductCharges !== '0') {
                  CCRZ.cartCheckoutModel.attributes.coreProductCharges = response.data.coreProductCharges;
                  view.render();
              } 
        }                       
      }
    );


});
    CCRZ.pubSub.once('view:cartCheckoutView:refresh', function(view) {
      // CCRZ.headerView.update();
      console.log('testrendering');
      if(CCRZ.cartCheckoutModel.attributes.subTotal == 0){
        $("#cartHeader").html('<span>My Cart: 0 item(s),&nbsp;$0.00</span>');
      }

    });



</script>

</apex:component>