@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('../fonts/ProximaNova-Reg-webfont.eot?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P');
  src: url('../fonts/ProximaNova-Reg-webfont.eot?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P&iefix') format('eot'), url('../fonts/ProximaNova-Reg-webfont.woff?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('woff'), url('../fonts/ProximaNova-Reg-webfont.ttf?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('truetype'), url('../fonts/ProximaNova-Reg-webfont.svg?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P##webfonttLdMzI8n') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('../fonts/ProximaNova-Bold-webfont.eot?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P');
  src: url('../fonts/ProximaNova-Bold-webfont.eot?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P&iefix') format('eot'), url('../fonts/ProximaNova-Bold-webfont.woff?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('woff'), url('../fonts/ProximaNova-Bold-webfont.ttf?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('truetype'), url('../fonts/ProximaNova-Bold-webfont.svg?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P##webfontgrewrCss') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VagRoundedBold';
  src: url('../fonts/adobevagroundedstdbold.eot?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P');
  src: url('../fonts/adobevagroundedstdbold.eot?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P&iefix') format('eot'), url('../fonts/adobevagroundedstdbold.woff?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('woff'), url('../fonts/adobevagroundedstdbold.ttf?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('truetype'), url('../fonts/adobevagroundedstdbold.svg?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P##webfontgrewrCss') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VagRoundedLight';
  src: url('../fonts/adobevagroundedstdlight.eot?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P');
  src: url('../fonts/adobevagroundedstdlight.eot?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P&iefix') format('eot'), url('../fonts/adobevagroundedstdlight.woff?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('woff'), url('../fonts/adobevagroundedstdlight.ttf?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('truetype'), url('../fonts/adobevagroundedstdlight.svg?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P##webfontgrewrCss') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  src: url('../fonts/muktaregular.eot?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P');
  src: url('../fonts/muktaregular.eot?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P&iefix') format('eot'), url('../fonts/muktaregular.woff?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('woff'), url('../fonts/muktaregular.ttf?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P') format('truetype'), url('../fonts/muktaregular.svg?orgId=00D40000000Mwmn&orgId=00D40000000Mwmn&orgId=00D0q0000000Mpf&orgId=00D180000008oky&orgId=00Dc0000003vtoj&orgId=00D0V000001cu4P##webfontgrewrCss') format('svg');
  font-weight: normal;
  font-style: normal;
}