<apex:page standardController="task" id="Bullseye">
 <!--<div style="position:absolute; left:0; top:0; width:720; height:768; clip:rect(0,381,381,0); background:#FFF;">

<apex:param name="q" value="{!task.account.zsx__CustomerInsightId__c}"/>
<iframe src="https://fleetpride--c.na2.content.force.com/sfc/servlet.shepherd/version/renditionDownload?rendition=THUMB720BY480&versionId=068400000027l8H&operationContext=CHATTER&contentId=05T40000005Ijfj"
width="1028" height= "700" scrolling= "no">

</iframe>
</div>
-->
</apex:page>