<apex:page id="ccReporting"
standardController="Account" cache=""
extensions="PowerBIControllerExtension" 
tabStyle="Account" 
action="{!AuthenticateFromPage}"
applyHtmlTag="true" 
docType="html-5.0" 
sidebar="false" 
standardStylesheets="false" showHeader="false">
<!--
You are viewing reporting for {!$User.FirstName} {!$User.LastName} (User.Id is {!$User.Id})<br></br>
-->
<apex:includeScript value="{!$Resource.PBIJS}"/>

<div id="myReport" style="height:1255px;width:1235px;" frameBorder="0"/>

<script>
 
let accessToken = '{!PBIaccess_token}';
let refreshToken = '{!PBIrefresh_token}';
let expires_on = '{!PBIexpires_on}';
let validateResult = '{!validateResult}';
let pbiToken = '{!pbiToken}';
let selectedReport = '{!selectedReport}';
//let selectedPagename = 'TicketDetails';

window.onload = function() 
{

    if(window.location.href.indexOf('code=') >= 0)
    {
        window.close();
        window.opener.location.reload();
    }

    let expiresOn = parseInt(expires_on);
    let currentTime = Date.now()/1000;
            
        if(expiresOn <= currentTime || !accessToken)
        { 
           SilentAuth();
            
        } else if((expiresOn - 2000) <= currentTime)
            {
                    SilentAuth();
            }


    var models = window['powerbi-client'].models;
    
    var embedConfiguration = {
        type: 'report',
        id: selectedReport,
//        pageName: selectedPagename,
        tokenType: models.TokenType.Embed,
        permissions: models.Permissions.All,
        embedUrl: '{!embedUrl}',
        settings: {
                filterPaneEnabled: false,
                navContentPaneEnabled: false
            }
    };

    powerbi.accessToken = '{!pbitoken}';

    var element = document.getElementById('myReport');

    var report = powerbi.embed(element, embedConfiguration);

}

window.onbeforeclose = function()
        {
         
        window.opener.update(window.location.href);
        }
     

</script>


</apex:page>