<apex:page id="ccTeam" sidebar="false" standardStylesheets="false" showHeader="false">

<style>
body {font-family: Arial, Helvetica, Sans-serif; font-size: 10pt; color: #333;}

a:link {color: #337ab7; text-decoration: none;}
a:hover {color: #23527c; text-decoration: underline;}

.h5 {font-size: 26pt; font-weight: bold; display: block;align-content: center;}
.h3 {font-size: 20pt; font-weight: bold; display: block; text-decoration: underline;}
.h4 {font-size: 11pt; font-weight: bold; display: block;}
.ul {padding: 25px; width: 100%;}
.li {padding: 25px;}
.ul, .li {display: inline-block; text-align: center; vertical-align: top;}

.profile {width: 116px; height: 138px; border: 1px solid #999;}
.banner {display: inline-block; padding-top: 2px; padding-bottom: 4px; color: #333; background-color: #fff; width: 100%; text-align: center; vertical-align: top;}
.title {font-size: 10pt;}
.phone {font-size: 10pt;}
.email {font-size: 10pt;}
</style>
<h5 class="h5"><center>Sales Territory Map </center></h5>
<table style="width:100%" >

<tr><td width="80%">
        
<apex:image alt="heart" title="Sales Territory Map" url="{!URLFOR($Resource.Sales_Territory_Map,'Images/Sales.jpg')}"/>
</td>
<td width="20%">
<apex:image alt="heart" title="Sales Territory Map" url="{!URLFOR($Resource.Sales_Territory_Map,'Images/terrdetail.jpg')}"/>
</td>
</tr>
</table>

<div class="banner"><h3 class="h3">Business Development Team</h3></div> 
<ul class="ul">
    
    <li class="li">
          <b>1 </b > <img width="232" height="276" src="" class="profile" alt="" /><h4 class="h4">OPEN</h4></li>  
    <li class="li"><b>2 </b> <img width="232" height="276" src="https://fleetpride--c.na87.content.force.com/servlet/servlet.ImageServer?id=0151W000003EAp2&oid=00D40000000Mwmn&lastMod=1569964755000" class="profile" alt="" /><h4 class="h4">Ben Gibbs</h4><div class="title">Business Development Manager<br /><small>Mid-Atlantic States</small></div><div class="phone"><a href="tel:+12145026881">214-502-6881</a></div><div class="email"><a href="mailto:ben.gibbs@partsdistributing.com">ben.gibbs@partsdistributing.com</a></div></li>       
    <li class="li"><b>3 </b> <img width="232" height="276" src="https://fleetpride--c.na87.content.force.com/servlet/servlet.ImageServer?id=0151W000003EApC&oid=00D40000000Mwmn&lastMod=1545979402000" class="profile" alt="" /><h4 class="h4">Destry Avans</h4><div class="title">Business Development Manager<br /><small>Southeastern States</small></div><div class="phone"><a href="tel:+18177220292">678-216-9576</a></div><div class="email"><a href="mailto:destry.avans@partsdistributing.com">destry.avans@partsdistributing.com</a></div></li>
    <li class="li">
          <b>4 </b > <img width="232" height="276" src="" class="profile" alt="" /><h4 class="h4">OPEN</h4></li>     
    <!-- <li class="li"><b>4 </b><img width="232" height="276" src="https://fleetpride--c.na87.content.force.com/servlet/servlet.ImageServer?id=0151W000003EAoY&oid=00D40000000Mwmn&lastMod=1550599478000" class="profile" alt="" /><h4 class="h4">Bill Luchtman</h4><div class="title">Business Development Manager <br /><small>Great Lakes</small></div><div class="phone"><a href="tel:+16087183642">608-718-3642</a></div><div class="email"><a href="mailto:bill.luchtman@partsdistributing.com">bill.luchtman@partsdistributing.com</a></div></li>-->
    <li class="li"><b>5 </b><img width="232" height="276" src="https://fleetpride--c.na87.content.force.com/servlet/servlet.ImageServer?id=0151W000003EAqU&oid=00D40000000Mwmn&lastMod=1545981051000" class="profile" alt="" /><h4 class="h4">Loren Holder</h4><div class="title">Business Development Manager<br /><small>Central States</small></div><div class="phone"><a href="tel:+13182076902">318-207-6902</a></div><div class="email"><a href="mailto:loren.holder@partsdistributing.com">loren.holder@partsdistributing.com</a></div></li>   
    <li class="li">
          <b>6 </b > <img width="232" height="276" src="" class="profile" alt="" /><h4 class="h4">OPEN</h4></li>
    <li class="li"><b>7 </b><img width="232" height="276" src="https://fleetpride--c.na87.content.force.com/servlet/servlet.ImageServer?id=0151W000003olYA&oid=00D40000000Mwmn&lastMod=1579201535000" class="profile" alt="" /><h4 class="h4">Kellie Thompson</h4><div class="title">Business Development Manager<br /><small>Northwest/Mountain States</small></div><div class="phone"><a href="tel:+15096089880">509-608-9880</a></div><div class="email"><a href="mailto:kellie.thompson@partsdistributing.com">kellie.thompson@partsdistributing.com</a></div></li> 
    <li class="li">
          <b>8 </b > <img width="232" height="276" src="" class="profile" alt="" /><h4 class="h4">OPEN</h4></li>
    <li class="li"><b></b><img width="232" height="276" src="https://fleetpride--c.na87.content.force.com/servlet/servlet.ImageServer?id=0151W000003EAqZ&oid=00D40000000Mwmn&lastMod=1545981079000" class="profile" alt="" /><h4 class="h4">Michal Adlof</h4><div class="title">Business Development Manager<br /><small>Mobile Power</small></div><div class="phone"><a href="tel:+18177220292">817-722-0292</a></div><div class="email"><a href="mailto:michal.adlof@partsdistributing.com">michal.adlof@partsdistributing.com</a></div></li>      
    <!-- <li class="li"><b>8 </b><img width="232" height="276" src="https://fleetpride--c.na87.content.force.com/servlet/servlet.ImageServer?id=0151W000003EApl&oid=00D40000000Mwmn&lastMod=1545979846000" class="profile" alt="" /><h4 class="h4">Jaime Morgutia</h4><div class="title">Business Development Manager<br /><small>Southwestern States</small></div><div class="phone"><a href="tel:+19095293541">909-529-3541</a></div><div class="email"><a href="mailto:jaime.morgutia@partsdistributing.com">jaime.morgutia@partsdistributing.com</a></div></li>-->
    <!-- <li class="li"><img width="232" height="276" src="https://e-pdc.com/wp-content/uploads/2016/12/Wayne-242x300.jpg" class="profile" alt="" /><h4 class="h4">Wayne Southard</h4><div class="title">Business Development Manager<br /><small>West Coast</small></div><div class="phone"><a href="tel:+14048895771">909-529-3541</a></div><div class="email"><a href="mailto:wayne.southard@partsdistributing.com">wayne.southard@partsdistributing.com</a></div></li> -->
    

    </ul>
</apex:page>