<apex:page applyHtmlTag="false" docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" controller="CCPDCOrderConfirmationBIEController">  
 <!--<c:CCPDCOrderView />-->
 
 <c:CCFPOrderConfirmation rendered="{! storeFront == $Label.FP_StoreName}" />
    <c:CCFPOrderSummaryCheckout rendered="{! storeFront == $Label.FP_StoreName}" />   
    <c:CCPDCOrderConfirmation rendered="{! storeFront == $Label.PDC_StoreName}"/>

</apex:page>