<apex:page controller="CCPDCTrackingController" action="{!getCarrierURL}" showHeader="false" sidebar="false" cache="false" >
<script>
window.onload = function() {

if ({!URLok}){
    window.location.replace('{!URL}');
    }
    else{
   document.getElementById('div1').style.visibility='visible'; }
}
</script >

<div id = "div1" style="visibility : hidden">
<apex:stylesheet value="{!URLFOR($Resource.StyleCSS, 'LiveAgent.css')}"/> 
  <apex:image value="{!$Resource.PDC_LOGO}" style="max-width:45%;" alt="Parts Distributing Company"/>
 <br/>
<p class="text"><b><font size="5">Welcome to Parts Distributing Company!</font></b></p>
 
 <p class="text">Unable to track the order from our webiste. Please go to carrier website for tracking.</p>
 </div>
 

</apex:page>