<apex:page docType="html-5.0" sidebar="false" showHeader="false" standardStylesheets="false" Controller="CCPDCFooterControllerClass">
    <style>
     @media (min-width:1640px) {
      .ast-container {
        width: 1640px !important;
      }
     }
   </style>
 <c:CCPDCFooter rendered="{!pdc}" /> 
 <c:CCFPFooter rendered="{!parts}" />  
</apex:page>