<apex:page sidebar="false"  showHeader="false" >
    <div style="text-align:center;">
     <apex:image value="https://fleetpride--c.na87.content.force.com/servlet/servlet.ImageServer?id=0151W000003N0L6&oid=00D0U0000009ke8" width="800" height="1300"></apex:image>
     </div>
</apex:page>