<apex:page showHeader="false" sidebar="false" controller="ThankyouController" >
<script type = "text/javascript">
    function winClose()
    {
        self.close();
    }
</script>
<apex:stylesheet value="{!URLFOR($Resource.StyleCSS, 'LiveAgent.css')}"/> 
  <apex:image value="{!$Resource.PDC_LOGO}" style="max-width:45%;" alt="Parts Distributing Company"/>
 <br/>
<p class="text"><b><font size="5">DOWN FOR MAINTENANCE!</font></b></p>

<!--<p class="text">Thank You for using the PDC Live Agent chat service.</p>-->
 <p class="text"><font size="4">We sincerely apologize for the inconvenience. PartsDistributing.com is currently undergoing maintenance. <br/> <br/>
   For assistance, please contact your dedicated Account Manager.  We can also be reached at <b>800-549-7278</b> or <b>pdcsales@partsdistributing.com.</b><br/> <br/>
    Thank you for your patience! </font></p>
  <!-- <a href="https://www.partsdistributing.com/#">Click Here to go back to our Marketing Page.</a> -->

<script type = "text/javascript">
    function winClose()
    {
        window.top.close();
    }
</script>
<div id="content">
</div>
<apex:form >
<p>
    <apex:commandButton id="btnClose" style="background: #E32526;
    background-image: -webkit-linear-gradient(top, #E32526, #E32526);
    background-image: -moz-linear-gradient(top, #E32526, #E32526);
    background-image: -o-linear-gradient(top, #E32526, #E32526);
    background-image: linear-gradient(to bottom, #E32526, #E32526);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 4px 10px 4px 10px;
    border: solid #9999CC 1px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;"  value="Close Window"   rendered="false"    status="Closer" onComplete="winClose();"/>
     <apex:actionStatus startText="(Saving...)" stopText="" onStop="CloseWindow();" id="closer"/>
     
      <apex:commandbutton id="btnReturn" style="background: #E32526;
    background-image: -webkit-linear-gradient(top, #E32526, #E32526);
    background-image: -moz-linear-gradient(top, #E32526, #E32526);
    background-image: -o-linear-gradient(top, #E32526, #E32526);
    background-image: linear-gradient(to bottom, #E32526, #E32526);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 4px 10px 4px 10px;
    border: solid #9999CC 1px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;"
 
   rendered="false"      value="Return"  action="{!ReturnToPDC}"/>
     
</p>

</apex:form>
</apex:page>