<apex:page controller="LS_8x8_Controller"  action="{!LS_8x8_Refresh}" id="MyPage"  sidebar="true" showHeader="false"  standardStylesheets="true"  lightningstylesheets="true">

    <style type="text/css">
        .bold{font-weight:bold;}
        .red{color:red!important;}
        .yellow{color:yellow!important;}
        .green{color:green!important;}
        .white{color:white!important;}
    </style>
    <style>
*
  {
  background-color:black!important;
  color:white!important;
  border:black!important;
  }
  </style>


    <apex:form >
        <apex:pageBlock id="pgblk2" title="PDC Queues 8x8 Realtime Statistics" >
            <apex:pageBlockTable value="{!queuewrap.Queue}" var="queue1" id="pgblktbl1">
                <apex:column >
                    <apex:facet name="header">
                        Queue Name
                    </apex:facet>
                    <apex:outputText value="{!queue1.queue_name}" styleClass="bold" > </apex:outputText>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Presented Calls 
                    </apex:facet>
                    <apex:outputText value="{!queue1.day_queued}" styleClass="{!IF(AND(NOT(ISNULL(queue1.day_queued)), queue1.day_queued < 200, queue1.queue_id="530"), 'red', if(AND (queue1.day_queued > 400, queue1.queue_id='530'),'green',if (queue1.queue_id='530','yellow','white') )) }" />  
                       
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Accepted Calls 
                    </apex:facet>
                    <apex:outputText value="{!queue1.day_accepted}" styleClass="white" > </apex:outputText>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Abandoned Calls
                    </apex:facet>
                    
                    <apex:outputText value="{!queue1.day_abandoned}" styleClass="{!IF(AND(NOT(ISNULL(queue1.day_abandoned)), queue1.day_abandoned < 3), 'white', if(queue1.day_abandoned > 5,'red', 'yellow')) }"/> 
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Avg. Hold Time
                    </apex:facet>
                    <apex:outputText value="{!queue1.day_avg_wait_time}" > </apex:outputText>
                </apex:column>
                
                <apex:column >
                    <apex:facet name="header">
                        Available Count
                    </apex:facet>
                    <apex:outputText value="{!queue1.agent_count_waitTransact}" > </apex:outputText>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Time On Break Count
                    </apex:facet>
                    <apex:outputText value="{!queue1.agent_count_onBreak}"  > </apex:outputText>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Time Working Offline Count 
                    </apex:facet>
                    <apex:outputText value="{!queue1.agent_count_workOffline}"  > </apex:outputText>
                </apex:column>
                
            </apex:pageBlockTable>
        </apex:pageBlock>
        <apex:pageBlock id="pgblk" title="PDC Agents 8x8 Realtime Statistics" >
            <apex:pageBlockTable value="{!agntwrap.Agent}" var="agents" id="pgblktbl" border="2">
                <apex:column >
                    <apex:facet name="header">
                        Agent Name
                    </apex:facet>
                    <apex:outputText value="{!agents.agent_name}" styleClass="bold" > </apex:outputText>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Status
                    </apex:facet>
                    <apex:outputText value="{!agents.agent_status}"> </apex:outputText>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Presented Calls 
                    </apex:facet>
                    <apex:outputText value="{!agents.day_presented_calls}"> </apex:outputText>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Accepted Calls 
                    </apex:facet>
                    <apex:outputText value="{!agents.day_accepted_count}"> </apex:outputText>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Rejected Calls 
                    </apex:facet>
                    <apex:outputText value="{!agents.day_rejected_count}"> </apex:outputText>
                </apex:column>
                
                <apex:column >
                    <apex:facet name="header">
                        Total Talk Time
                    </apex:facet>
                    <apex:outputText value="{!agents.day_processing_time}"> </apex:outputText>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Time Available
                    </apex:facet>
                    <centre> <apex:outputText id="the" value="{!agents.day_available_time}" style="text-align : center;"> </apex:outputText> </centre>              
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Time On Break
                    </apex:facet>
                    <apex:outputText value="{!agents.day_break_time}" > </apex:outputText>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">
                        Time Working Offline
                    </apex:facet>
                    <apex:outputText value="{!agents.day_offline_time}"> </apex:outputText>
                </apex:column>
            </apex:pageBlockTable>
            <apex:actionPoller action="{!LS_8x8_Refresh}" interval="10" reRender="pgblktbl,pgblktbl1"/>
        </apex:pageBlock>
    </apex:form>
   <apex:pageMessages ></apex:pageMessages>
</apex:page>