<apex:page standardController="Salesforce_Request__c" id="New_User_Request_Instructions">
<p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:1"><b><span style="font-size:24.0pt;
font-family:&quot;Times New Roman&quot;,serif;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-font-kerning:18.0pt">New Hire/Title Change Form</span></b></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:&quot;Times New Roman&quot;">Instructions: This form is to be
filled out by the hiring manager as soon as possible – ideally, 14 days before
a new hire’s first day on the job. When you hit "Submit" on this
form, it will be sent to Ivon Hernandez. This will allow the new hire support
team to execute the following tasks for the new hire:</span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:&quot;Times New Roman&quot;">- Shirts<br></br>
- Business Cards<br></br>
- Tablet (and laptop for TSM<span class="GramE">)</span><br></br>
- iPhone<br></br>
- SLSM# Assignment<br></br>
- CRM Setup<br></br>
- <span class="SpellE">Pcard</span> Issue (TSM Only)<br></br>
- Personal or Company Vehicle Setup</span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;,serif;
mso-fareast-font-family:&quot;Times New Roman&quot;">**THIS FORM NEEDS TO BE FILLED OUT
IN <span class="GramE">IT'S</span> ENTIRETY IN ORDER TO PROCESS**</span></p>

<p class="MsoNormal">&nbsp;</p>
</apex:page>