<apex:page standardController="Salesforce_Request__c">
    <apex:sectionHeader title="New Hire Form" subtitle="New Hire/Title Change Form"/>
    <apex:outputText >This form is to be filled out for all new hires and internal promotions in sales including TSMs, OSRs, and RSRs. Once the form is submitted the appropriate sales ops support team will begin the set up process.  </apex:outputText>
<br />
<br /><apex:outputText >- Please know that the sooner you fill out the form, the more likely it is for your new hire to have the following items on day one. </apex:outputText>
<br />
<br /><apex:outputText >- SFDC Access  </apex:outputText>
<br /><apex:outputText >- Salesman Number Assigned  </apex:outputText>
<br /><apex:outputText >- SOM Access  </apex:outputText><br /><br />

    <apex:form >
        <apex:pageBlock title="Edit New Hire Form" id="thePageBlock" mode="edit">
        <apex:pageBlockSection title="Supervisor & Employee Information" columns="2">
              <apex:inputField value="{!Salesforce_Request__c.Supervisor_Requester__c}"/>
              <apex:inputField value="{!Salesforce_Request__c.Start_Date__c}"/>
              <apex:inputField value="{!Salesforce_Request__c.Employee_Full_Name__c}"/>
              <apex:inputField value="{!Salesforce_Request__c.User_Type__c}"/>
              <apex:inputField value="{!Salesforce_Request__c.Employee_Email_Address__c}"/>
              <apex:inputField value="{!Salesforce_Request__c.Who_is_this_person_replacing__c}"/>
              <apex:inputField value="{!Salesforce_Request__c.Title__c}"/>
              <apex:inputHidden />
              <apex:inputField value="{!Salesforce_Request__c.Branch_Code__c}"/>
              <apex:inputHidden />
              <apex:inputField value="{!Salesforce_Request__c.Department_Number__c}"/>
              <apex:inputHidden />
              <apex:inputField value="{!Salesforce_Request__c.Cell_Phone__c}"/>
              <apex:inputHidden />
              <apex:inputField value="{!Salesforce_Request__c.Branch_Phone__c}"/>
              <apex:inputHidden />
              <apex:inputField value="{!Salesforce_Request__c.Branch_Fax__c}"/>
              <apex:inputHidden />
              <apex:inputField value="{!Salesforce_Request__c.Employee_Number__c}"/>
              <apex:inputHidden />
              </apex:pageBlockSection>
              
              <apex:pageBlockSection columns="1">
              <apex:inputField value="{!Salesforce_Request__c.Description_Special_Instructions__c}" style="width: 300px; height: 123px;"/> 
              </apex:pageBlockSection>
              
              <apex:pageBlockSection title="Business Card Section" columns="1">
              <apex:inputField value="{!Salesforce_Request__c.Business_Cards_Name__c}"/> 
              <apex:inputField value="{!Salesforce_Request__c.Business_Card_Address__c}"/>
              <apex:inputField value="{!Salesforce_Request__c.Business_Card_City_State_Zip__c}"/>
              <apex:inputField value="{!Salesforce_Request__c.Business_Card_Phone_Number__c}"/>
              </apex:pageBlockSection>
                                      
        
              <apex:pageBlockSection title="Vehicle and P-Card Request" columns="2">
              <apex:inputField value="{!Salesforce_Request__c.Personal_or_Company_Vehicle__c}"/> 
              <apex:inputField value="{!Salesforce_Request__c.P_Card__c}"/>
              <apex:inputField value="{!Salesforce_Request__c.Vehicle_VIN__c}"/>
              <apex:inputHidden />
              <apex:inputField value="{!Salesforce_Request__c.List_make_model_and_year__c}"/>
              <apex:inputHidden />
              <apex:inputField value="{!Salesforce_Request__c.Enterprise_unit_number_of_vehicle__c}"/>
              </apex:pageBlockSection>
              
                 
              <apex:pageBlockSection title="Submit and Save New Hire Form" columns="2">
              <apex:inputField value="{!Salesforce_Request__c.Submit_New_Hire_Form__c}"/>
              </apex:pageBlockSection>                                    
        
        <apex:pageBlockButtons >
        <apex:commandButton action="{!save}" value="Save"/>
        <apex:commandButton action="{!cancel}" value="Cancel"/>  
                  
        </apex:pageBlockButtons>          

        </apex:pageBlock>
    </apex:form>

</apex:page>