<apex:page applyHtmlTag="true" 
docType="html-5.0" 
sidebar="false" 
standardStylesheets="false" showHeader="false">
    <apex:slds />
    
   <html>
   
   <apex:outputPanel rendered="{!$CurrentPage.parameters.PDF != 'true'}">
   <div style="min-height: 6.5rem; border-top: 4px solid #fff;background-color: #5a5b5f;color: #fff;">
       <h1 style="  margin: .8rem 0;color: #fff;text-align: center;font-size: 3.5rem;
                    font-family: Interstate,sans-serif;"> Catalogs </h1>
   </div>
   
   <div style="padding-left: 15px;box-sizing: inherit;">
        <h2 style="font-size: 30px;font-weight: bold;color:#e2231a;Globa,font-family: Globa,sans-serif;" > Our Catalogs </h2>
        <p><span style="font-weight: 600;margin: 0 0 28px;">
        <a href="/pdc/Partsdistributing_Catalog?PDF=true" 
                target="_self" style="color: #e2231a;">View our 2019 Full-Line Catalog</a> 
                of over 200,000+ heavy duty truck and trailer parts. 
                If you need it, we’ve got it!</span></p>
                
        <p style="text-align: center;padding-top: 40px;">
            <apex:outputLink style="align:center;" value="/pdc/Partsdistributing_Catalog?PDF=true" target="_self" > 
                <apex:image url="{!$Resource.Catalog_2019}" height="300px" style="max-height: 300px;" />
            </apex:outputLink>
       </p>
    </div>
   </apex:outputPanel>
    
    <apex:outputPanel rendered="{!$CurrentPage.parameters.PDF = 'true'}" >
      <iframe style="border:none;width:100%;height:500px;" src="//online.flippingbook.com/view/849788" allowfullscreen="true"></iframe>
    </apex:outputPanel>
   
  </html>
  
</apex:page>