<apex:page standardController="Ride_Along__c"
            showHeader="false" 
            sidebar="false" 
            standardStylesheets="false" 
            renderAs="pdf" 
            applyBodyTag="false" 
            applyHtmlTag="false"> 
    
<html>
        <head>
            <style type="text/css" media="print">
                @page {
                    margin-bottom: 3cm;

                    @bottom-center {
                     content: element(footer);
                    }
               	    
                }
			.centered {
            	text-align: center;
                border-bottom:2px solid black;
                
            }
                div.footer {
                    font-size: 10px;
               		text-align: center;
                    padding: 10px;
                	position: running(footer);
                }
				.right {
                	float: right;
                   
                }
            </style>
        </head>
        <body>
    
    <apex:form >
        <apex:pageBlock >
            <div style= "font-weight:bold; margin-bottom : 15px; font-size: 20p;">
                <apex:image url="{!URLFOR($Resource.FleetPrideLogo,'FleetPrideLogo.jpg')}" style="margin-bottom : 15px;filter: grayscale(100%); width : 100px; height : 24px;" /><br/>
                {!Ride_Along__c.Name}
            </div>
            <table title = "Header Information" style=" border-Top:2px solid black; font-size: 10px; vertical-align: text-top;"  width="100%"  >
                <tr>
                    <td>Team Member
                    </td>
                    <td >{!Ride_Along__c.Team_Member__r.Name}
                    </td> 
                    <td>Owner
                    </td>
                    <td>{!Ride_Along__c.Owner.Name}
                    </td>
                </tr>
                <tr>
                    <td>Manager
                    </td>
                    <td >{!Ride_Along__c.Team_Member__r.Manager.Name}
                    </td> 
                    <td>Acknowledged Date	
                    </td>
                    <td><apex:outputText value="{0, date, MMM d',' yyyy }"> <apex:param value="{!today()}"/></apex:outputText>
                    </td>
                </tr>
                <tr>
                    <td>Date
                    </td>
                    <td ><apex:outputText value="{0, date, MMM d',' yyyy}"> <apex:param value="{!Ride_Along__c.Date__c}" /></apex:outputText>
                    </td> 
                    <td>Reviewed my Feedback
                    </td>
                    <td><apex:image url="{!URLFOR($Resource.FleetPrideLogo,'checked.jpg')}"  rendered="true"/>
                        <!--  <apex:image url="{!URLFOR($Resource.FleetPrideLogo,'unchecked.jpg')}"  rendered="{!(!Ride_Along__c.Reviewed_my_Feedback__c)}"/>-->
                    </td>
                </tr>
                <tr>
                    <td>Ride Along Complete
                    </td>
                    <td ><apex:image url="{!URLFOR($Resource.FleetPrideLogo,'checked.jpg')}"  rendered="true"/>
                        <!--  <apex:image url="{!URLFOR($Resource.FleetPrideLogo,'unchecked.jpg')}"  rendered="{!(!Ride_Along__c.Sales_Call_Complete__c)}"/>-->
                    </td> 
                    <td>Acknowledgement Sent Date
                    </td>
                    <td><apex:outputText value="{0, date, MMM d',' yyyy}"> <apex:param value="{!Ride_Along__c.Acknowledgement_Sent_Date__c}" /></apex:outputText>
                    </td>
                </tr>
            </table>
            <table title = "About the Form" style = " margin-bottom : 15px;font-size: 10px; vertical-align: text-top; width : 100%;">
                <tr>
                    <td colspan="2" style ="font-size: 13px; background-color: rgb(211,211,211); font-weight:bold;">About this Form</td>   
                </tr>
                <tr style= " vertical-align: text-top;">
                    <td Style="width: 20%; ">Overview
                    </td>
                    <td Style="width: 80%;">{!Ride_Along__c.Ca_Info__c}
                    </td> 
                </tr>
            </table>
            <table class = "salesgoal" title = "Sales Goals" style = " margin-bottom : 15px; font-size: 10px; vertical-align: text-top; width : 100%;">
                <tr>
                    <td colspan="4" style ="font-size: 13px; background-color: rgb(211,211,211); font-weight:bold;"><ul>Sales Goals</ul></td>   
                </tr>
                <tr style= " vertical-align: text-top;">
                    <td style= " width: 25%; " >At or above Targeted Sales
                    </td>
                    <td style= " width: 25%; ">{!Ride_Along__c.At_or_above_Targeted_Sales__c}
                    </td> 
                    <td style= " width: 15%; ">Comments
                    </td> 
                    <td style= " width: 35%;">{!Ride_Along__c.Sales_Goal_Comments__c}
                    </td> 
                </tr>
                <tr><td>At or above Targeted GP $
                    </td>
                    <td>{!Ride_Along__c.At_or_above_Targeted_GP__c}
                    </td></tr>
                <tr><td>At or above Service Revenue Targets
                    </td>
                    <td >{!Ride_Along__c.At_or_above_Service_Revenue_Targets__c}
                    </td></tr>
                <tr><td>Branch at or above sales plan
                    </td>
                    <td>{!Ride_Along__c.Branch_at_or_above_sales_plan__c}
                    </td></tr>
            </table>
            <table class = "SalesForceUsage" title = "SalesForce Usage" style = " margin-bottom : 15px; font-size: 10px; vertical-align: text-top; width : 100%;">
                <tr>
                    <td colspan="4" style ="font-size: 13px; background-color: rgb(211,211,211); font-weight:bold;">Salesforce Usage</td>   
                </tr>
                <tr style= " vertical-align: text-top;" >
                    <td style= " width: 25%; ">Is FPI % on track for the month
                    </td>
                    <td style= " width: 25%; ">{!Ride_Along__c.Is_FPI_trg_for_t_dte_of_t_mnth__c}
                    </td> 
                    <td style= " width: 15%; " >Comments
                    </td> 
                    <td style= " width: 35%; ">{!Ride_Along__c.Sales_Force_Usage_Comments__c}
                    </td> 
                </tr>
                <tr>
                    <td>Accesses / Uses FPI daily
                    </td>
                    <td>{!Ride_Along__c.Accesses_Uses_FPI_daily__c}
                    </td> 
                </tr>
                <tr>
                    <td>Win Rate above 40%
                    </td>
                    <td>{!Ride_Along__c.Win_Rate_above_40__c}
                    </td> 
                </tr>
                <tr>
                    <td>Reviews customer past purchases in SFDC
                    </td>
                    <td>{!Ride_Along__c.Reviews_customer_past_purchases_in_SFDC__c}
                    </td> 
                </tr>
                <tr>
                    <td>Tracks and Drives Private Label sales
                    </td>
                    <td>{!Ride_Along__c.Tracks_Drives_Private_Label_sales__c}
                    </td> 
                </tr>
                <tr>
                    <td>Reviews Mayday customers weekly
                    </td>
                    <td>{!Ride_Along__c.Reviews_Mayday_customers_weekly__c}
                    </td> 
                </tr>
                <tr>
                    <td>Mayday at or below 15%
                    </td>
                    <td>{!Ride_Along__c.Mayday_at_or_below_15__c}
                    </td> 
                </tr>
                <tr>
                    <td>Review top Gainers and Bleeders
                    </td>
                    <td>{!Ride_Along__c.Review_top_Gainers_and_Bleeders__c}
                    </td> 
                </tr>
            </table>
            <table class = "quoting" title = "Quoting / Pricing" style = " margin-bottom : 15px; font-size: 10px; vertical-align: text-top; width : 100%;">
                <tr>
                    <td colspan="4" style ="font-size: 13px; background-color: rgb(211,211,211); font-weight:bold;">Quoting / Pricing</td>   
                </tr>
                <tr style= " vertical-align: text-top;" >
                    <td style= " width: 25%; ">Are customers on the right pricing lvls
                    </td>
                    <td style= " width: 25%; ">{!Ride_Along__c.Are_customer_on_the_rght_pricng_level__c}
                    </td> 
                    <td style= " width: 15%; ">Comments
                    </td> 
                    <td style= " width: 35%; ">{!Ride_Along__c.Quoting_Pricing_Comments__c}
                    </td> 
                </tr>
                <tr>
                    <td>Is the OSR building quotes
                    </td>
                    <td>{!Ride_Along__c.Is_the_OSR_buldng_quots_reviw_any_cur__c}
                    </td> 
                </tr>
                <tr>
                    <td>Uses the PEM Tool / Review dates
                    </td>
                    <td>{!Ride_Along__c.Is_the_OSR_usng_the_PEM_Tool_Revw_dat__c}
                    </td> 
                </tr>
                <tr>
                    <td>Is the OSR using SOM Punch-out
                    </td>
                    <td>{!Ride_Along__c.Is_the_OSR_using_SOM_Punchout__c}
                    </td> 
                </tr>
            </table>
            <table class = "scheduling" title = "Scheduling" style = "margin-bottom : 15px; font-size: 10px; vertical-align: text-top; width : 100%;">
                <tr>
                    <td colspan="4" style ="font-size: 13px; background-color: rgb(211,211,211); font-weight:bold;">Scheduling</td>   
                </tr>
                <tr style= " vertical-align: text-top;">
                    <td style= " width: 25%; ">Does the OSR Pre-Call Plan
                    </td>
                    <td style= " width: 25%; ">{!Ride_Along__c.OSR_PreCall_Plan_Investigate_IMPACT__c}
                    </td> 
                    <td style= " width: 15%; ">Comments
                    </td> 
                    <td style= " width: 35%; ">{!Ride_Along__c.Scheduling_Comments__c}
                    </td> 
                </tr>
                <tr>
                    <td>Reoccurring Calls Scheduled
                    </td>
                    <td>{!Ride_Along__c.Reoccurring_Calls_Scheduled__c}
                    </td> 
                </tr>
                <tr>
                    <td>Call compliance at or above 90%
                    </td>
                    <td>{!Ride_Along__c.Call_compliance_at_or_above_90__c}
                    </td> 
                </tr>
                <tr>
                    <td>Sales call notes entered
                    </td>
                    <td>{!Ride_Along__c.Sales_call_notes_entered__c}
                    </td> 
                </tr>
                <tr>
                    <td>Schedules time for prospecting
                    </td>
                    <td>{!Ride_Along__c.Schedules_time_for_prospecting__c}
                    </td> 
                </tr>
                <tr>
                    <td>Achieving New Customer sales goals
                    </td>
                    <td>{!Ride_Along__c.Achieving_New_Customer_sales_goals__c}
                    </td> 
                </tr>
                <tr>
                    <td>Has agenda and materials for calls
                    </td>
                    <td>{!Ride_Along__c.Has_agenda_and_marketing_materials__c}
                    </td> 
                </tr>
                <tr>
                    <td>Meets BM and SM once a week in person
                    </td>
                    <td>{!Ride_Along__c.Meets_with_BM_and_SM_once_a_week__c}
                    </td> 
                </tr>
                <tr>
                    <td>Equipment is working properly
                    </td>
                    <td>{!Ride_Along__c.OSRs_equipment_working_properly__c}
                    </td> 
                </tr>
                <tr>
                    <td>Good relationships with TMs in Branch
                    </td>
                    <td>{!Ride_Along__c.Has_good_relationshp_with_Team_Member__c}
                    </td> 
                </tr>
            </table>
            <table class = "salesSkill" title = "Sales Skills" style = "margin-bottom : 15px; font-size: 10px; vertical-align: text-top; width : 100%;">
                <tr>
                    <td colspan="4" style ="font-size: 13px; background-color: rgb(211,211,211); font-weight:bold;" >Sales Skills</td>   
                </tr>
                <tr style= " vertical-align: text-top;" >
                    <td style= " width: 25%; ">Has opening statement of intent for call
                    </td>
                    <td style= " width: 25%; ">{!Ride_Along__c.Statement_of_intentReason_for_being__c}
                    </td> 
                    <td style= " width: 15%; " >Comments
                    </td> 
                    <td style= " width: 35%; ">{!Ride_Along__c.Sales_Skills_Comments__c}
                    </td> 
                </tr>
                <tr>
                    <td>Asks probing questions (Probe)
                    </td>
                    <td>{!Ride_Along__c.Asks_probing_questions_Probe__c}
                    </td> 
                </tr>
                <tr>
                    <td>Explains benefits of products
                    </td>
                    <td>{!Ride_Along__c.Explains_benefits_of_products_to_cust__c}
                    </td> 
                </tr>
                <tr>
                    <td>Understands the customers needs
                    </td>
                    <td>{!Ride_Along__c.Understands_the_customers_needs__c}
                    </td> 
                </tr>
                <tr>
                    <td>Talks with and knows the decision maker
                    </td>
                    <td>{!Ride_Along__c.Talks_with_and_knows_the_decision_maker__c}
                    </td> 
                </tr>
                <tr>
                    <td>Asks for the sale ( Tie-It-Up )
                    </td>
                    <td>{!Ride_Along__c.Asks_for_the_sale_TieItUp__c}
                    </td> 
                </tr>
                <tr>
                    <td>Handles objections
                    </td>
                    <td>{!Ride_Along__c.Handles_objections__c}
                    </td> 
                </tr>
                <tr>
                    <td>Did the OSR promote/sell Service
                    </td>
                    <td>{!Ride_Along__c.Did_the_OSR_promotesell_Service__c}
                    </td> 
                </tr>
                <tr>
                    <td>Sells or promotes Private Label
                    </td>
                    <td>{!Ride_Along__c.OSR_promotesell_Private_Label_Sales__c}
                    </td> 
                </tr>
            </table>
            <table title = "Manager's Comments" style = "margin-bottom : 15px; font-size: 10px; vertical-align: text-top; width : 100%;">
                <tr>
                    <td colspan="2" style ="font-size: 13px; background-color: rgb(211,211,211); font-weight:bold;">Manager's Comments</td>   
                </tr>
                <tr>
                    <td Style="width: 20%;">Comments
                    </td>
                    <td Style="width: 80%;">{!Ride_Along__c.Managers_Comments__c}
                    </td> 
                </tr>
            </table>
            <table title = "Seller's Comments" style = "margin-bottom : 15px; font-size: 10px; vertical-align: text-top; width : 100%;">
                <tr>
                    <td colspan="2" style ="font-size: 13px; background-color: rgb(211,211,211); font-weight:bold;">Seller's Comments</td>   
                </tr>
                <tr>
                    <td Style="width: 20%;">Comments
                    </td>
                    <td Style="width: 80%;">{!Ride_Along__c.Sellers_Comments__c}
                    </td> 
                </tr>
            </table>
        </apex:pageBlock>
     <div class="footer" >
        <div class="centered" style = "margin-bottom : 15px;"><p>**All fields have been reviewed by management and team member specified on the form. The form has been acknowledged by the team member. The form is solely used for internal growth and accountability.**</p></div>
        <div>
            <div class="subfooter right"><apex:image url="{!URLFOR($Resource.FleetPrideLogo,'FleetPrideLogo.jpg')}" style="margin-bottom : 15px;filter: grayscale(100%); width : 100px; height : 24px;" />    </div>
        </div>
    </div>
        </apex:form>
    </body>
    </html>
</apex:page>