<apex:page id="EmbeddedZilliantAnalytics" controller="AuthenticatedTableauInterfaceController" action="{!doGetURL}">
 
    <apex:pageMessages id="pageMessages"/>
    
    <apex:iframe id="embeddedAnalytics" src="{!embeddedUrl}" />
 
 
</apex:page>