<apex:page id="EmbeddedZilliantAnalytics2" controller="AuthenticatedTableauInterfaceController2" action="{!doGetURL}">
 
    <apex:pageMessages id="pageMessages"/>
    
    <apex:iframe id="embeddedAnalytics" src="{!embeddedUrl}" />
 
 
</apex:page>