<apex:page standardController="Task" lightningstylesheets="true">
    
    <apex:form >
        <apex:pageBlock title="Edit Task" id="thePageBlock" mode="edit">
        <apex:pageBlockSection title="Contact Details" columns="2">
              <apex:inputField value="{!Task.Subject}"/>
              <apex:inputField value="{!Task.OwnerID}"/>
              <apex:inputField value="{!Task.ActivityDate}"/>
              <apex:inputField value="{!Task.WhoID}"/>
              <apex:inputField value="{!Task.Objective__c}"/>
              <apex:inputField value="{!Task.Status}"/>
              <apex:inputField value="{!Task.WhatID}"/>
         </apex:pageBlockSection>
        <apex:pageBlockSection title="Description Information" columns="1">       
              <apex:inputField value="{!Task.Primary_Bunch_Last_Visit__c}"/>
              <apex:inputField value="{!Task.Primary_Bunch_This_Visit__c}"/>
              <apex:inputField value="{!Task.Primary_Bunch_Next_Visit__c}"/>

              <apex:inputTextarea value="{!Task.Description}"/>  
         </apex:pageBlockSection>    
        <apex:pageBlockButtons >
        <apex:commandButton action="{!save}" value="Save"/>
              
                  
        </apex:pageBlockButtons>          

        </apex:pageBlock>
        rerender/e?
    </apex:form>   
</apex:page>