<apex:page controller="ShowUserDayTasksController" id="Page1" docType="html-5.0" lightningStylesheets="true" >
    
    <style type="text/css">
        
        div.redText {
        background-color:#fbb89b;
        font-size :10px;
        margin: 5px 0; 
        
        } 
        
        div.Greentext{
        background-color :#c4f2c5;
        font-size :10px;
        margin: 5px 0;
        
        } 
       
        /* Added By Likhit Verma for Table UI Improvmnt */ 
        table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        }
        
        th, td {
        text-align: left;
        padding: 8px;
        }
        
        tr:nth-child(even){background-color: #f2f2f2}
        /*End */
    </style>
    
    <script type="text/javascript">
    function selectAllCheckboxes(obj,receivedInputID)
    {
        var inputCheckBox = document.getElementsByTagName("input");                  
        for(var i=0; i<inputCheckBox.length; i++){          
            if(inputCheckBox[i].id.indexOf(receivedInputID)!=-1){                                     
                inputCheckBox[i].checked = obj.checked;
            }
        }
    }
    </script> 
    <apex:form id="TheForm" >      
        <apex:pageBlock id="pb1" >
        <!--apex:pageBlock title="Weekly Tasks" id="pb1" -->
            <apex:pageMessages />
            <table border="1" width="100%">
                <tr><td style="font-size: 20px;"><b>Daily Tasks</b></td></tr>
                <tr align="Center">
                    <td>
                        <!-- Edited By Likhit (Added Output panels for using theme)-->
                        <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme3'}">
                        <apex:selectList value="{!updateStatus}" size="1"  >  
                            <apex:selectOptions value="{!Items}"></apex:selectOptions>  
                        </apex:selectList>  &nbsp; &nbsp; &nbsp;
                        <apex:commandButton value="Update Task Status"  action="{!updateTableData}"  reRender="TheForm"   />  &nbsp;  
                        
                        <apex:commandlink styleClass="btn" value="View All" style="text-decoration:none;padding:4px;" action="{!assetClicked}"  target="_blank"/> &nbsp;
                        <apex:commandlink styleClass="btn" value="Schedule Sales Call" style="text-decoration:none;padding:4px;" action="{!ScheduleSalesCallClicked}" target="_blank"/>
                        </apex:outputPanel>
                        
                        <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme4d' || $User.UIThemeDisplayed == 'Theme4t'}">
                            <!--Select List Added for SF1 App By Likhit on 14-Oct-2020 -->
                            <apex:selectList value="{!updateStatus}" size="1"  >  
                            <apex:selectOptions value="{!Items}"></apex:selectOptions>  
                        </apex:selectList>  &nbsp; &nbsp; &nbsp;
                        <apex:commandButton styleClass="slds-button slds-button_neutral" value="Update Task Status"  action="{!updateTableData}"  reRender="TheForm"   />
                        <apex:commandButton styleClass="slds-button slds-button_neutral" value="View All" action="{!assetClicked}"/> 
                        <apex:commandButton styleClass="slds-button slds-button_neutral" value="Schedule Sales Call" action="{!ScheduleSalesCallClicked}"/>
                            
                        </apex:outputPanel>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        
                        <apex:outputPanel >
                            <apex:PageBlocktable value="{!UserWeekTasks}" var="varTask" id="tblpb"  styleClass="display" >ar
                                
                                <apex:column style="width:20px" >
                                    <apex:facet name="header">
                                        <apex:inputCheckbox onclick="selectAllCheckboxes(this,'inputId')" />
                                    </apex:facet>
                                    <apex:inputCheckbox value="{!varTask.Selected}" id="inputId"/>
                                </apex:column>
                                
                                <apex:column style="width:60px" >
                                    <apex:facet name="header"> Is Recurrence </apex:facet>
                                    <apex:image value="{!$Resource.RecurrenceIcon}" width="15px" height="15px" alt="Image" rendered="{!varTask.recurrenceChildTask}"/> 
                                </apex:column> 
                                
                                <!--     <apex:column style="width:70px"  >
<apex:facet name="header">Task Name</apex:facet>
<apex:commandLink value="{!varTask.Subject}" action="{!URLFOR($action.Task.View, varTask.Taskid)}" target="_blank" />
</apex:column>-->
                                <apex:column value="{!varTask.Subject}">
                                    <apex:facet name="header">Task Name</apex:facet>
                                </apex:column> 
                                
                                <apex:column >
                                    <apex:facet name="header">Customer</apex:facet>
                                    <!-- Code Written By Likhit -->
                                     <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme3'}">	
                                         <apex:commandLink value="{!varTask.Whatid}" action="{!URLFOR($action.Account.View, varTask.what_realId )}" target="_blank" />
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme4d' || $User.UIThemeDisplayed == 'Theme4t'}">
                                   		<apex:commandLink value="{!varTask.Whatid}" action="{!URLFOR($action.Account.View, varTask.what_realId )}"/>
                                    </apex:outputPanel>
                                    
                                     </apex:column>
                                <apex:column >
                                    <apex:facet name="header">Contact</apex:facet>
                                    <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme3'}">
                                    	<apex:commandLink value="{!varTask.whoName}" action="{!URLFOR($action.contact.View, varTask.who_realid )}" target="_blank" />
                                    </apex:outputPanel>
                                    <apex:outputPanel rendered="{!$User.UIThemeDisplayed == 'Theme4d' || $User.UIThemeDisplayed == 'Theme4t'}">
                                        <apex:commandLink value="{!varTask.whoName}" action="{!URLFOR($action.contact.View, varTask.who_realid )}"/>
                                    </apex:outputPanel>
                                    <!-- Likhit's Code End -->
                                    </apex:column>
                                
                                
                                
                                
                                <apex:column value="{!varTask.Status}">
                                    <apex:facet name="header">Status</apex:facet>
                                </apex:column>
                                
                                
                                
                                <apex:column >
                                    <apex:facet name="header">Due Date</apex:facet>
                                    <!-- added 08-Mar-2019 RB , color Highlighting -->
                                    <apex:outputText value="{0,date,MM/dd/yy}" rendered="{!NOT(varTask.dateColor)}" > <apex:param value="{!varTask.DueDate}" /> </apex:outputText> 
                                    <apex:outputText value="{0,date,MM/dd/yy}" rendered="{!varTask.dateColor}" style="color:red"> <apex:param value="{!varTask.DueDate}" /> </apex:outputText>
                                </apex:column>  
                                
                                <apex:column >
                                    <apex:facet name="header">Action</apex:facet>
                                    <apex:commandlink styleClass="btn" value="Reschedule" action="{!showPopup}" rerender="popup" >
                                        <apex:param name="taskIdParam" value="{!varTask.TaskId}" assignTo="{!HiddenTaskId}"/> 
                                    </apex:commandlink>    
                                    
                                </apex:column> 
                                 <!-- Description Area added by Likhit Verma on 16-Oct-2020 -->
                                <apex:column Style="width:300px">
                                    <apex:facet name="header">Description</apex:facet>
                                    <apex:inputTextArea Style="width:300px"   value="{!varTask.Description}">  </apex:inputTextArea> 
                                </apex:column>
                                
                            </apex:PageBlocktable>
                            
                        </apex:outputPanel>
                        
                    </td>
                    
                </tr>
            </table>
        </apex:pageBlock>
        
        
        <apex:outputPanel id="popup">
            
            <apex:outputPanel id="popInnerOutputPnl" styleClass="customPopup" layout="block" rendered="{!displayPopUp}">
                <table style="width:100%;border-radius: 15px;background-color: #1797C0;"  >
                    <tr>
                        <td style="color: white;">
                            <h2> &nbsp;&nbsp;Edit Task Schedule</h2>
                        </td> 
                    </tr>
                </table> 
                <br/>
                
                <table  width="600px">
                    <tr>
                        <td style="padding-top:5px">Due Date </td>
                        <td> <apex:input type="date" value="{!ScheduleWrapper.DueDate_Rc}"/> </td>
                    </tr>
                </table>
                <br/>
                
                <apex:outputPanel rendered="{!ScheduleWrapper.IsRecurrenceChild_Rc}">
                    
                    <table  width="600px"> 
                        <tr>
                            <td width="150px">Recurrence Type</td>
                            <td>
                                <table><tr>
                                    <td width="100px">  
                                        <apex:selectRadio styleClass="radioinput" style="width:250px;" layout="pageDirection" value="{!ScheduleWrapper.RecurrenceType}">
                                            <apex:actionSupport event="onchange"  action="{!IsRecurrenceChangedMethod}" reRender="popInnerOutputPnl" />
                                            <apex:selectOptions value="{!RecurrenceTypeOptions}"/>
                                        </apex:selectRadio>
                                    </td> 
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                        
                        <tr>
                            <td> 
                                
                            </td>
                            <td><apex:outputPanel rendered="{!ShowMonthOptions}"> 
                                <b>Monthly Schedule Options</b><br/> 
                                <!--   On Day &nbsp;  <apex:selectList size="1" value="{!RECURRENCEDAYOFMONTH_Input}"  >  
<apex:selectOptions value="{!MonthDates}"></apex:selectOptions> </apex:selectList>  of every&nbsp; <apex:inputText value="{!RecurrenceInterval_input }" Style="width:20px"/> Month(s)
<br/> <b>Or</b><br/>-->
                                On the &nbsp; <apex:selectList size="1" value="{!RECURRENCEINSTANCE_input }" > 
                                <apex:selectOptions value="{!RecInstances}">
                                </apex:selectOptions> 
                                </apex:selectList>
                                <apex:selectList size="1" value="{!WeekdayMonthly_Input}" >&nbsp;  
                                    <apex:selectOptions value="{!RecWeekDay}">
                                    </apex:selectOptions>
                                </apex:selectList>   
                                <br/> </apex:outputPanel>
                            </td>
                            
                        </tr>
                        
                        
                        
                        <tr>  
                            <td width="150px"> </td>
                            <td>
                                <apex:outputPanel rendered="{!ShowWeekdays}">
                                    <b> Weekly Schedule Options</b> <br/>
                                    
                                    <table  ><tr>
                                        <td width="50px">  <apex:inputcheckbox value="{!IsMonSelected}">Mon
                                            <apex:actionsupport event="onchange" action="{!updateenddate}" rerender="pbs1,enddate" />  
                                            </apex:inputcheckbox> </td>
                                        <td width="50px">   <apex:inputcheckbox value="{!IsTueSelected}" >Tue
                                            <apex:actionsupport event="onchange" action="{!updateenddate}" rerender="pbs1,enddate" />  
                                            </apex:inputcheckbox> </td>
                                        <td width="50px">   <apex:inputcheckbox value="{!IsWedSelected}" >Wed
                                            <apex:actionsupport event="onchange" action="{!updateenddate}" rerender="pbs1,enddate" />  
                                            </apex:inputcheckbox> </td>
                                        <td width="50px">   <apex:inputcheckbox value="{!IsThuSelected}" >Thu
                                            <apex:actionsupport event="onchange" action="{!updateenddate}" rerender="pbs1,enddate" />  
                                            </apex:inputcheckbox> </td>
                                        <td width="50px">   <apex:inputcheckbox value="{!IsFriSelected}" >Fri
                                            <apex:actionsupport event="onchange" action="{!updateenddate}" rerender="pbs1,enddate" />  
                                            </apex:inputcheckbox> </td>
                                        </tr>
                                    </table><br/></apex:outputPanel>
                                
                            </td>
                        </tr>
                        
                        
                        <tr>
                            <td>Recurrence Start Date </td>
                            <td> <apex:input type="date"  value="{!ScheduleWrapper.StartDate_Rc}">
                                <apex:actionsupport event="onchange" action="{!updateenddate}" rerender="pbs1,enddate" />  
                                </apex:input>
                            </td>
                        </tr>
                        <tr>
                            <td>Recurrence End Date </td>
                            <td>  <apex:input type="date"  value="{!ScheduleWrapper.EndDate_Rc}" id="enddate"/> </td>
                        </tr> 
                        
                    </table>
                    
                </apex:outputPanel>  
                <br/><br/>     
                <apex:commandButton value="Close" title="Close the popup" action="{!closePopup}" styleClass="closeButton" rerender="popup"> </apex:commandButton>&nbsp;
                <apex:commandButton value="Save Changes" action="{!redirectPopup}" styleClass="closeButton" rerender="TheForm"></apex:commandButton>
                
                <!--  <apex:commandlink rendered="{!ScheduleWrapper.IsRecurrenceChild_Rc}" styleClass="btn"  value="View Original Task" style="text-decoration:none;padding:4px;" action="{!GotoRecurrenceTask}" target="_blank"/>-->
                
            </apex:outputPanel>
            
        </apex:outputPanel>
        
        
        
    </apex:form> 
    
    
    <style type="text/css">
        .customPopup {  background-color: #DCEAEE;
        border-radius: 15px;
        border: 2px solid #1797C0;
        
        padding: 10px;
        position: Fixed;
        z-index: 100; 
        width: 650px;
        top:10%;
        left:30%;
        
        
        }
        
        .disabledTextBox {
        background-color: white;
        border: 1px solid;
        color: black;
        cursor: default;
        width: 90px;
        display: table;
        padding: 2px 1px;
        text-align:right;
        }   
        
        .closeButton {
        float: right;
        }
        
        .radioinput input[type="radio"]{float:left;}
        .radioinput label{display:block;}
        
        
    </style>
</apex:page>